.stdform2 input[type=checkbox], .stdform2 input[type=radio] {
    margin: 0px;
}

.btn-success, .btn-success:link {
    color: #ffffff;
}

.imageApproveModal {
    width: 50px;
}

.imageApproveModal.approved {
    border: 3px solid green;
}

.imageApproveModal.disapproved {
    border: 3px solid red;
}

.loadingOverlay {
    position: absolute;
    width: 570px;
    height: 510px;
    text-align: center;
}

.tab-content,
.dataTables_wrapper {
    overflow: visible;
    height: auto;
}

tr.disapproved {
    background-color: rgb(255, 182, 182);
}

tr.approved {
    background-color: rgb(198, 255, 182);
}

th.sorting, th.sorting_asc, th.sorting_desc {
    cursor: pointer;
}
