/* Foundation v2.1.4 http://foundation.zurb.com */
/* Artfully masterminded by ZURB  */

	
table.responsive { margin-bottom: 0; }
	
.pinned {
	position: absolute; left: 0; top: 0; background: #fff; width: 35%; overflow: hidden;
	overflow-x: scroll; border-right: 1px solid #ccc; border-left: 1px solid #ccc; }
.pinned table { border-right: none; border-left: none; width: 100%; }
.pinned table th, .pinned table td { white-space: nowrap; }
.pinned td:last-child { border-bottom: 0; }
	
div.table-wrapper { position: relative; margin-bottom: 20px; overflow: hidden; border-right: 1px solid #ccc; }
div.table-wrapper div.scrollable table { margin-left: 35%; }
div.table-wrapper div.scrollable { overflow: scroll; overflow-y: hidden; }	
	
@media screen and (max-width: 960px) {
	
	table.responsive td, table.responsive th { position: relative; white-space: nowrap; overflow: hidden; }
	table.responsive th:first-child, table.responsive td:first-child,
	table.responsive td:first-child, table.responsive.pinned td { display: none; }

}
.dataTables_processing { background-color: #0866c6; color:#ffffff;  position: absolute; top: 0px; left: 50%; width: 196px; margin-left: -125px; border: 1px solid #ddd; text-align: center;