.stdform2 input[type=checkbox], .stdform2 input[type=radio] {
    margin: 0px;
}

.btn-success, .btn-success:link {
    color: #ffffff;
}
.sub-menu {
    background-color: #386C71;
    color: #fff;
    list-style-type: none;
    display:none;
}
.croppit-controls input {
    margin-top: 9px;
    width: 80%;
    margin-left: 10%;
    border-radius: 4px;
    border: none;
    height: 28px;
    border: 1px solid #ccc;
    padding-left: 10px;
    color: #222;
}
.croppit-controls {
    z-index: 100;
    position: absolute;
    background: rgba(255,255,255,0.4 );
    bottom: 0;
    height: 119px;
    left: 0;
    right: 0;
    margin-top: -60px;
    padding-top: 6px;
    border-left: 1px solid #ccc;
    border-right: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
}
.croppit-controls input::-webkit-input-placeholder {
   color: #222;
}
.centeredButton { margin: 10px auto; float:none!important; clear:both; display:block; }
input[type=range] {
  -webkit-appearance: none; /* Hides the slider so that custom slider can be made */
  background: transparent; /* Otherwise white in Chrome */
}

input[type=range]::-webkit-slider-thumb {
  -webkit-appearance: none;
}

input[type=range]:focus {
  outline: none; /* Removes the blue border. You should probably do some kind of focus styling for accessibility reasons though. */
}
.font-page-display {
    border-bottom: 1px solid #BDBDBD;
    margin-top: -53px;
    margin-bottom: 44px;
    /* width: 50%; */
    padding-bottom: 22px;
    font-size: 18px;
}
.font-page-display h3 {
  margin-bottom: 15px;
}
.font-page-display label {
    font-size: 18px;
    margin-right: 20px;
}
.submit-button {
    background-color: #0095FF;
    color: #fff;
    font-size: 18px;
    padding: 6px 41px;
    border-radius: 4px;
    border: none;
    margin-left: 015px;
}
input[type=range]::-webkit-slider-thumb {
  -webkit-appearance: none;
  border: 1px solid #000000;
  height: 24px;
  width: 24px;
  border-radius: 50%;
  background: #ffffff;
  cursor: pointer;
  margin-top: -9px; /* You need to specify a margin in Chrome, but in Firefox and IE it is automatic */
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d; /* Add cool effects to your sliders! */
}

/* All the same stuff for Firefox */
input[type=range]::-moz-range-thumb {
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
  border: 1px solid #000000;
  height: 36px;
  width: 16px;
  border-radius: 3px;
  background: #ffffff;
  cursor: pointer;
}

/* All the same stuff for IE */
input[type=range]::-ms-thumb {
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
  border: 1px solid #000000;
  height: 36px;
  width: 16px;
  border-radius: 3px;
  background: #ffffff;
  cursor: pointer;
}

input[type=range]::-ms-track {
  cursor: pointer;

  /* Hides the slider so custom styles can be added */
  background: transparent; 
  border-color: transparent;
  color: transparent;
}
input[type=range]::-webkit-slider-runnable-track {
  width: 160px;
  height: 8.4px;
  cursor: pointer;
  background-color: #2A9078;
  border-radius: 1.3px;
  border: none;
}

input[type=range]:focus::-webkit-slider-runnable-track {
   background-color: #2A9078;
}

input[type=range]::-moz-range-track {
  width: 160px;
  height: 8.4px;
  cursor: pointer;
  background-color: #2A9078;
  border-radius: 1.3px;
  border: none;
}

input[type=range]::-ms-track {
  width: 160px;
  height: 8.4px;
  cursor: pointer;
  background: transparent;
  border-color: transparent;
  border-width: 16px 0;
  color: transparent;
}
input[type=range]::-ms-fill-lower {
  background-color: #2A9078;
  border: 0.2px solid #010101;
  border-radius: 2.6px;
}
input[type=range]:focus::-ms-fill-lower {
  background-color: #2A9078;
}
input[type=range] {
    display: block;
    width: 160px;
    margin-top: 0;
}
input[type=range]::-ms-fill-upper {
   background-color: #2A9078;

  border-radius: 2.6px;
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
}
input[type=range]:focus::-ms-fill-upper {
   background-color: #2A9078;
}
.cropit-preview-image-container {
    position: absolute;
    overflow: hidden;
    left: 0px;
    top: 0px;
    width: 100%;
    height: auto;
    bottom: 36px;
}
.select-image-btn {
    float: right;
    width: 50px;
    margin-right: 28px;
    margin-top: -30px;
}
.cropit-image-input { display:none!important; }
.add_image {
    font-size: 26px;
}
.rotate-ccw-btn, .rotate-ccw-btn {
    font-size:26px;
    margin-right:15px;
}
.cropit-preview {
    position: absolute!important;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    overflow: hidden;
}
.rotation-btns {
    float: left;
    width: 100px;
    margin-left: 70px;
}
.switch_layouts, .saveChanges {
    background-color: #0095FF;
    color: #fff;
    padding: 8px 32px;
    border: none;
    border-radius: 3px;
    font-size: 18px;
    float: right;
}
.saveChanges {
    float: none;
    margin: 79px auto;
    display: block;
    clear: both;
    padding: 10px 46px;
}
.layoutHeader{
    color: #3F483F;
    margin-top: 26px;
    margin-bottom: -26px;
}
div.upload {
    width: 157px;
    height: 57px;
    background: url(https://lh6.googleusercontent.com/-dqTIJRTqEAQ/UJaofTQm3hI/AAAAAAAABHo/w7ruR1SOIsA/s157/upload.png);
    overflow: hidden;
    margin: 0 auto;
    position: absolute;
    left: 50%;
    margin-left: -79px;
}

div.upload input {
    display: block !important;
    width: 157px !important;
    height: 57px !important;
    opacity: 0 !important;
    overflow: hidden !important;
}
.layoutHolder {
    width: 100%;
    padding: 100px;
    background-color: #efefef;
    margin-top: 73px;
    overflow: hidden;
}
.adSpace {
    padding-bottom: 100px;
    background-color: #BFAEAE;
    width: 100%;
    margin-bottom: 35px;
    position: relative;
}
.layout1 .ad1 {
    padding-bottom: 92%;
}
.layout1 .ad2, .layout1 .ad5 {
    padding-bottom: 70%;
}
.layout1 .ad3 {
    padding-bottom: 147%;
}
.layout1 .ad4 {
    margin-top: -56%;
    padding-bottom: 48%;
    height: 100px;
}
.fa-caret-down {
    width: 63px;
    text-align: center;
}
.layout1 .ad5 {
    margin-top: -78%;
}
a:hover { text-decoration:none!important; }
.leftmenu .nav-tabs.nav-stacked a {
    border-bottom: 1px solid #313030;
}
.sub-menu li { padding: 8px; }
.sub-menu li:hover {    background-color: #27ADE0; }
.sub-menu a { color: #fff!important; }
.imageApproveModal {
    width: 50px;
}
//.nav-stacked li:hover ul { display: block; }
.imageApproveModal.approved {
    border: 3px solid green;
}
.leftmenu .nav-tabs.nav-stacked li a:hover {
    background-color: #111;
}
.sub-menu a:hover {
    background-color: transparent!important;
}
.icon-float-right { float:right; margin-right:10px; font-size:22px; }
.imageApproveModal.disapproved {
    border: 3px solid red;
}
.dashTopLink {
    position: absolute;
    margin-left: 20px;
    color: #fff;
    z-index: 1000;
    font-size: 22px;
    margin-top: 31px; 

}
.dashTopLink a { color: #fff!important;}
.loadingOverlay {
    position: absolute;
    width: 570px;
    height: 510px;
    text-align: center;
}

.tab-content,
.dataTables_wrapper {
    overflow: visible;
    height: auto;
}

tr.disapproved {
    background-color: rgb(255, 182, 182);
}

tr.approved {
    background-color: rgb(198, 255, 182);
}

th.sorting, th.sorting_asc, th.sorting_desc {
    cursor: pointer;
}
.city_icon {
   width: 14px;
  height: 12px;
  background: transparent url( '/assets/admin/images/icons/city_icon.png' ) no-repeat 0 0;
}
.brothel_icon {
   width: 14px;
  height: 12px;
  background: transparent url( '/assets/admin/images/icons/brothel_icon.png' ) no-repeat 0 0;
}
