/*
*  Google Fonts
*
*  font-family: 'Lora', serif;
*  font-family: 'Roboto Slab', serif;
*/
body {
  font-family: 'Raleway', sans-serif;
  font-size: 13px;
  line-height: 22px;
  color: #666;
  font-weight: 400;
  background-image: none;
}
.bottom_content a:hover {
 text-decoration:none!important; 
}
.page-wrapper {
  width: auto;
  background: #fff;
}
select, input, textarea, .select2-container--default .select2-selection--single .select2-selection__rendered,.controls {
 max-width: 100%;
}
.escorts-img-container .delete {
  z-index: 10000;
}
.reviewDiv {
  font-family: Raleway;
  font-size: 18px;
}
.smallP { padding-bottom: 10px!important;}
#myToggleFilters {
  font-weight: 700;
  position: absolute;
  top: 0;
  right: 0;
  line-height: 60px;
  background: #D00A0A;
  color: #FFF;
  padding: 0 15px;
  cursor: pointer;
  bottom: 0;
  v-align: center;
  v-align: middle;
  box-sizing: border-box;
  box-sizing: content-box;
  padding-top: 1%;
  z-index:2;
}
#postcode {
  max-width: 80%;
  width: 250px;
}
.pac-container {    z-index: 100000; }
.showPage .escort-container .col-xl-15, .showPage .escort-container .col-xl-3 { padding: 15px; cursor:pointer; }
.showPage .escort-container img { cursor:pointer; }
._showPhone {
  background-color: transparent!important;
  text-align: left!important;
  padding: 0!important;
  margin: 5px 0!important;
}
#directions, #showEscort {
  padding-top: 200px;
  margin-top: -200px;
  font-size: 22px;
  line-height: 60px;
}
.showPage h3{
 margin-top: 0;
 padding: 0;
 line-height: 1em;
 font-weight: 400;
}
#showEscort {
  line-height: 26px;
}
#_busLogo {
  width:50%;
}
#busLogo img {
  width: 100%;
}
#otherGirls {
  background-color: #191818;
  color: #fff;
  margin-bottom: 50px;
}
#otherGirls h2 {
  color: #fff;
}
#escortHolder .row {
  margin-bottom: 0;
}
.clear { 
  width: 100%;
  clear:both;
  float:none; }
  #escortHolder.showGirl {
    min-height: 579px;
    background-color: #191818;
    color: #fff;
    padding-top: 40px;
  }
  #escortHolder .pgwSlideshow .ps-current>ul>li img {
    border:none;
  }
  #escortHolder.showGirl p {
   color:#fff;
   font-size: 16px;
 }
 #escortHolder h3 {
  font-size: 39px;
  font-weight: 400;
  margin-top:0;
}
#escortHolder .pgwSlideshow {
  border-bottom: none;
  padding-bottom: 0;
  margin-bottom: 0;
}
#touring-container h2 {
  text-align: center;
  font-family: 'Roboto Slab', serif;
  font-weight: 400;
  color: #222;
  font-size: 33px;
}
.showPageSidebar {
  background-color: #E8E5E5;
  padding:0 0 70px;
}
#map {    
  width: 100%;
  height: 400px;
  background-color: #EAE5E5;
  margin-bottom: 100px;
}
.actionPane a { color: #fff; font-family: 'Roboto Slab', serif; }
.star {
 width: 35px;
 height: 33px;
 background: transparent url( '/assets/frontend/img/star.png' ) no-repeat 0 0;
 display: block;
 float: right;
}
#reviewHolder {
  padding: 15px;
}
.actionPane {
  width: 100%;
  background-color: #424242;
  text-align: center;
  color: #fff;
  padding: 12px;
  margin: 19px 0;
  font-size: 22px;
  cursor:pointer;
}
#revNot {
  display: block;
  float: none;
  clear: both;
  font-size: 14px;
  text-align: right;
  padding-top: 10px;
}
.contact_page_section { margin-top: 0; }
li.keywords {
  width: 700px;
  margin-top: 38px;
}
#filter_information {
  font-size: 18px;
  text-align: center;
  font-family: 'Roboto Slab', serif;
  color: #333;
  cursor:pointer;
}
.page-title-1 {
  background: transparent;
  font-size:32px;
}
#page-title h1, #featured-escorts h3 {
  margin-bottom: 0;
  font-size: 26px;
  padding-top: 0;
  text-align: center;
  display: block;
  float: none;
  padding-bottom: 20px;
  color: #3B1D1D;
  font-weight: 400;
  padding-bottom: 8px;
  font-family: 'Roboto Slab', serif;
}
#featured-escorts h3 {
  text-align: center!important;
  color: #3A1313;
  padding-top: 0;
  margin-top: 13px;
  margin-bottom: 13px;
  font-size: 33px;
}
.showPage h1, .showPage h2 {
  font-size: 35px;
  text-align: left!important;
  margin-top: 28px;
  color: #191818;
  font-weight: 400;
  font-family: 'Roboto Slab', serif;
}
.showPageLogo {
  width: 25%;
  margin: 10px auto;
  display: block;
}
.showPage h2 { font-size: 28px; margin: 0; }
.showPage {
  color: #332D2D;
  font-family: 'Roboto Slab', serif;
  font-size: 18px;
}
#page-title h1.keywords {
  display:none;
}
#page-head img, .pic {
  width: 100%;
}
#page-title h1:after {
 float:right;
 height: 2px;
 color: red;
 content: '';
 display:block;
}
.grid-view .figfavorite {
 display:none;
}
#main_image {
  width: 100%;
  margin-top: -33px;
  display: block;
}
.header-style-02, .header-style-01 {
  background: #191818;
}
#front_page_middle_button {
  margin: 0 auto;
  display: block;
}

.navbar-nav>li>a, .navbar-default .navbar-nav>li>a, .navbar-default .navbar-text {
  text-transform: uppercase;
  color: #DAD8D8;
  padding-top: 10px;
  padding-bottom: 10px;
  font-size: 16px;
  font-family: 'Josefin Sans',sans-serif;
  font-weight: 700;
  background-color: transparent!important;
}
.fa {
  font-weight: 700;
}
#topbar-buttons a {
  color: #BEB5B5;
  font-family: 'Roboto Slab', serif;
  font-family: "Josefin Sans", sans-serif;
  font-family: 'Lora', serif;
}
.navbar a {
  color: #DAD8D8;
  padding-top: 10px;
  padding-bottom: 10px;
  font-size: 16px;
  font-family: 'Josefin Sans',sans-serif;
  font-weight: 700;
}
#header, .header-style-01 {    
 border-bottom: 1px solid #3A3535;
 width: 100%;}
 #top-bar {
  border-bottom: 1px solid #251C1C;
  background: #131212;
}
.view {
  padding-top: 157px;
}
.navbar-nav a:hover {
  color: #f55!important;
}
#logo img {
  width: 300px !important;
  height: auto;
  margin-top: -7px;
  z-index: 100000000;
  position: relative;
}
#logo {
  max-height: 107px;
}
.dropdown-menu {
  background: #191818;
}
#main-nav {
  border-top: 3px solid #2B1F1F;
}
#topbar-buttons li:first-of-type {
  border-left: none;
}
#topbar-buttons li:last-of-type {
  border-right: medium none currentColor;
  margin-top: 0px;
  padding-top: 0px;
}
#header .nav.navbar-nav {
  float: right;
  margin-right: 11px;
  margin-top: 11px;
}
.header-simple, #mpm-header-wrapper.static {
  position: absolute;
}
#bottom_content {
  font-size: 16px;
  padding: 20px 0 100px;
  background-color: #F2EEEE;
}
#clearSearch{
  background-color: darkRed;
  border: none;
  color: #fff;
  cursor: pointer;
  padding: 6px 26px;
  margin-left: 15px;
  border-radius: 3px;
}
#bottom_content p,.top-content p{
 margin: 15px 0;
 font-family: Raleway;
 color: #222;
 font-size: 16px;
}
#bottom_content h4,.top-content h4 {
 margin-top: 25px;
 margin-bottom: 10px;
 font-size: 24px;
}
.top-content strong {
  font-weight: 700;
  font-size: 22px;
}
#topbar-buttons {
 width: auto;
}
#topbar-buttons a {
 text-transform: none;
}
#geoloc a {
 font-size:20px;
}
#city-changer {
 margin-top: -12px;
}
#city { border-bottom: none; }

/*------------------Profiles----------------
------------------------------------------------*/
.escort-top-info-text-container h2 {
  font: 36px 'Roboto Slab', serif;
  font-weight:400;
  margin: 0!important;

}
.header-banner, .header-simple, #mpm-header-wrapper.static { 
  position: absolute;
}
#city-changer {
  float: right;
  padding-right:0;
  margin-right: -6px;
}
#topbar-buttons li {
  font-family: 'Roboto Slab', serif;
  font-size: 18px;
  color: #B7AAAA;
}
._mpBusImage { 
  height: auto!important;
  border: none!important;
  margin-top: 0%!important;
}
#_welcome {
 border-right: none;
}
#topbar-buttons li:nth-child(2) {
  border-right: none;
}
.dropdown-menu li a {
  font-family: 'Raleway', sans-serif;
  font-size: 16px;
}
.massage_row {
  margin-top: 35px;
  border-top: 2px solid #736464;
  padding-top: 35px;
}
.full_width {
  width: 100%;
}
._massage_page {
  margin-top: 35px;
  font-size: 16px;
  color: #222;
  font-family: 'Lora', serif;
  font-weight: 400;
}
._massage_page h4 {
 margin-bottom:5px;
}
.widget_featured h5, .widget h5, .help-section a  {
  font-size: 24px;
  color: #222;
  text-align: center;
  margin-top: 35px;
}
.bottom_bottom {
  border-top: 1px solid #524949;
  padding-top: 15px;
  width: 80%;
  margin-left: 10%;
}
h1.keywords {    
  font-size: 18px!important;
  text-decoration: none!important;
  font-style: normal!important;
  font-weight: 400!important;
  clear: both;
  margin: 0!important;
}
h3.escort-article {
 color: #fff;
 text-align: center;
 background-color: #191818;
 padding: 8px;
 margin: 65px 0 30px;
}
.escort-page-row p {
  font-family: 'Roboto Slab', serif;
  font-size:18px!important;
  margin:0!important;
}
.escort-services-container p {
  font-size: 27px;
  color: #6F0C0C;
  font-family: 'Raleway',sans-serif;
}
.escort-contact-button {
  display: block;
  margin: 0 auto;
  padding: 16px 91px;
  background-color: #770E0E;
  color: #fff;
  border: none;
  font-size: 28px;
  font-family: 'Roboto Slab', serif;
  border-radius: 3px;
  max-width: 90%;
}
.escort-about-text-container h3, .escort-info-title h3, .escort-info-title p {
  font-family: 'Roboto Slab', serif !important;
  font-size:32px !important;
  font-weight: 400;
  color: #222;
  margin-bottom: 0;
  width: 90%;
  border-bottom: 1px solid #948585;
  padding-bottom: 15px;
}
.escort-about-text-container h3, .escort-grey-background h3 {

} 
.escort-about-text-container p {
  font-family: 'Raleway',sans-serif;
  font-size: 18px;

}
.dark-container {
  background-color: #121212!important;
}
#geoMap h2 {
  margin: -20px 0 10px 0!important;
}
.ratesSpan {
  width: 180px;
  display: inline-block;
}
.touringSpan {
  width: 240px;
  display: inline-block;
}
.touringP { padding-bottom: 10px!important; }
#city-select, #_distance, #geoMap input {
  height: 32px;
  float: left;
  width: 150px;
  clear: none;
  border-radius: 5px;
  border: none;
  background-color: #E6E3E3;
  font-size: 17px;
  width: 200px;
}
#geoMap .modal-footer {
  margin-top: 51px; 
}
#geoMap label {
  display: inline-block;
  float: left;
  text-align: left;
  width: 235px;
  font-size: 18px;
  color: #222;
  clear: both;
}
.escort-tags-container button {
  font-size: 22px;
  padding: 8px;
}
.rates_column h4 {
  padding-left: 0;
}
.escort-tags-container h4 {
 font: 28px 'Roboto Slab', serif!important;
 margin:20px 0 0;
}
.escort-tags-container p {
  color: #222;
  font-size: 16px!important;
  padding: 0;
  margin-top: 20px;
  margin: 12px 21px 47px 18px!important;
}
.escort-days-table h4 {
 padding-left: 11px;
}
#mp_larger { font-size: 24px!important;    padding-top: 28px; }
.escort-tags-container {
  max-width: 290px;
  float: right;
  padding-bottom: 60px;
  margin-top: 58px;
}
.escort-days-table p {
  font-size: 20px!important;
  padding: 11px!important;
  color: #222;
}
.escort-services-container-bottom h3, .escort-about-text-container h3 {
 margin-bottom: 20px;
}
.escort-services-container-bottom p {
  font-family: 'Raleway',sans-serif;
  font-size: 18px;
}
.rates_title { margin-top: 35px; }
h4 { font-style: normal!important;}
.rates_column p {
 margin: 10px 0!important;
 font-family: 'Raleway',sans-serif;
}
.ratings {
  float:right;
}
.rating-widget .fa-star, .rating-widget .fa-star-o {
  color: #9C1A1A;
  font-size: 26px;
  font-weight: 400;
}
.ratings a {
  font-size:20px;
  font-family: 'Raleway',sans-serif;
}
.reviews_container p {
  color: #222;
  font-size: 20px!important;
}
#touring-container h2 {
 margin-top: -10px;
}
/*-----------------------------Wishlist------------------
-----------------------------------------------------------------*/
#wishlist-notification {
  display:none;
  width:500px;
  position:fixed;
  max-width: 100%;
  top:100px;
  background-color: #fff;
  color: #222;
  text-align:center;
  left: 50%;
  height: 300px;
  padding: 35px;
  border-radius: 5px;
  left: 50%;
  margin-left: -250px;
  z-index: 1001;
  border: 1px solid #ccc;
  font-size:26px;
  padding-top:75px;
}
#modalSuccess { display:none;}
.darkDialog {
  background-color: #121212;
}
#playmailLoader { margin: 120px auto; display:none; }
.modal-dialog {
  position:relative;
  overflow:hidden;
}
.is-wish, .is-not-wish, #wishlist a{ 
  display: block!important;
  float: right;
  margin-top: -69px;
  z-index: 10000;
  color: #fff;
  margin-right: 83px;
}
.mpLoader {
  margin: 60px auto;
  font-size: 10px;
  position: relative;
  text-indent: -9999em;
  border-top: 1.1em solid rgba(208, 10, 10, 0.2);
  border-right: 1.1em solid rgba(208, 10, 10, 0.2);
  border-bottom: 1.1em solid rgba(208, 10, 10, 0.2);
  border-left: 1.1em solid #D00A0A;
  -webkit-transform: translateZ(0);
  -ms-transform: translateZ(0);
  transform: translateZ(0);
  -webkit-animation: load8 1.1s infinite linear;
  animation: load8 1.1s infinite linear;
}
.mpLoader,
.mpLoader:after {
  border-radius: 50%;
  width: 10em;
  height: 10em;
}
@-webkit-keyframes load8 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@keyframes load8 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

/*-----------------------------Dark contact Modal---------
-----------------------------------------------------------------*/
#contactEscortForm p.center_perc_70 {
  width: 70%;
  text-align: center;
  display: block;
  margin: 0 auto;
  margin: 0 auto!important;
}
.darkContactModal {
  background-color: #121212;
  color: #fff;
  font-family: 'Raleway',sans-serif;
  font-size:22px;
}
.wideModal {
  width: 70%;
}
.modalLogo {
  max-width: 338px;
  display: block;
  margin: 10px auto;
}
.darkContactModal .modal-title {
  color: #fff;
  font: 28px 'Roboto Slab', serif;
  text-align: center;
}
#playMailForm {
  margin: 18px auto 50px;
  max-width: 537px;
}
#contactEscortForm .actionPhone {
  max-width: 537px;
  margin: 18px auto 50px;
}
.form-control {
  height: 42px;
}
#contactEscortForm p {
  color: #fff;
  margin-top: 5px;
  margin-top: 17px!important;
  font-family: 'Raleway',sans-serif;
}
#contactEscortForm .actionPane{
  background-color: #9E1717;
}
#contactEscortForm .close {
  color: #B7B2B2;
  font-size: 41px;
  opacity: 1;
}
/*-----------------------------Css loader-----------------
-----------------------------------------------------------------*/
.cc-container {
  position: fixed;
  display: inline-block;
  padding: 30px;
  width: 80px;
  height: 80px;
  z-index: 1000;
}
.circle {
  width: 80px;
  height: 80px;
  border-radius: 40px;
  box-sizing: border-box;
  border: 10px solid rgba(215, 40, 40, 0.2);
  border-top-color: #D72828;
  animation: spin 1s infinite linear;
  position: fixed;
  top: 40%;
  left: 50%;
  margin-left: -40px;
  z-index: 10000000;
}
.cc-cover:after {
  position:fixed;
  content: '';
  display:block;
  top:0;
  right: 0;
  left: 0;
  bottom: 0;
  background: rgba( 255,255,255,.8 );
  z-index: 1000000;
}
.modal {background-color: rgba(0,0,0,.7 );}
/*-----------------------------Modal----------------------
-----------------------------------------------------------------*/
#signup .modal-header p {
  font-size: 31px;
  margin: 18px 0;
  font-weight: 600;
  font-style: normal;
}
.tab_headers div {
  width: 160px;
  height: 145px;
  float: left;
  cursor: pointer;
  position: relative;
  z-index: 10000;
  border: 2px solid #ccc;
  margin-bottom: -2px;
}
#tb_escort {
  background: transparent url('/assets/frontend/img/userType.jpg') no-repeat 0 -141px;
  margin-right:30px;
}
#tb_escort.tb_active {
  background: transparent url('/assets/frontend/img/userType.jpg') no-repeat 0 0;
}
#tb_customer {
  background: transparent url('/assets/frontend/img/userType.jpg') no-repeat 0 -705px;
}
#tb_customer.tb_active {
  background: transparent url('/assets/frontend/img/userType.jpg') no-repeat 0 -564px;
}
#tb_business {
  background: transparent url('/assets/frontend/img/userType.jpg') no-repeat 0 -423px;
  margin-right:30px;
}
#tb_business.tb_active {
  background: transparent url('/assets/frontend/img/userType.jpg') no-repeat 0 -282px;
}
.tb_active {    border: 2px solid #B13D3D!important; }
.modal-header {
  border-bottom: none;
}
.tab_headers {
  position: relative;
  overflow: hidden;
  max-width: 90%;
  margin: 0 auto;
  width: 540px;
}
.tb_tabs h6 {    
  font-size: 22px;
  color: #222;
  margin-bottom: 14px;
}
.modal-content { overflow:hidden; }
#signup .modal-dialog {
  margin-top: 20px;
}
.tb_tabs {
  max-width: 90%;
  overflow: hidden;
  margin: 0 auto;
  padding-top: 30px;
  border-top: 2px solid #B13D3D;
}
#tb_cust_tab, #tb_bus_tab { display:none; }
.tb_icon_group { display:none; }
.tb_icon_group div {
 min-height: 96px;
 border-bottom: 1px solid #ccc;
 padding-left: 100px;
 margin: 15px 0px;
 margin: 29px 0 10px;
 padding-bottom: 22px;
}
.tb_icon_group span { display: block;
  font-weight: 700;
}
.tb_icon_group div:before {
  background: transparent url('/assets/frontend/img/tbIcons.jpg') no-repeat 0 0;
  content: '';
  display:block;
  height: 28px;
  width: 28px;
  position: absolute;
  margin-left: -75px;
  border: 15px solid #eaeaea;
  box-sizing: content-box;
  border-radius: 50%;
  margin-top: -5px;
} 
#tb_icon_support:before{background: transparent url('/assets/frontend/img/tbIcons.jpg') no-repeat 0 -28px;}
#tb_icon_message:before{background: transparent url('/assets/frontend/img/tbIcons.jpg') no-repeat 0 -56px;}
.auth-modal .modal-body input {
  height: 23px;
  font-size: 18px;
  border: none;
  background-color: #F6F6F6;
  box-shadow: none;
  color: #1B1B1B;
  padding-left: 15px;
  border: 5px solid #F6F6F6;
  box-sizing: border-box;
  height: 46px;
}
#signup .modal-content {
  padding-bottom: 40px;
}
.auth-modal .modal-body .submit-button {
  width: 530px;
  background: #3290d6;
  color: #fff;
  line-height: 38px;
  width: auto;
  padding: 8px 37px;
  height: auto;
  border-radius: 2px;
  font-size: 20px;
} 
.auth-modal #terms-and-conditions a {
  text-decoration: none;
  font-weight: 600;
  font-size: 22px;
  color: #3290D6;
}
#business_type input[type=radio] {
  height: auto;
  margin: 0 4px 0 19px;
  vertical-align: middle;
}
.tb_tabs_business_header { font-weight: 700; }
#business_type{ margin-bottom: 20px;padding-left: 20px; }
input.form-control { background: #F6F6F6; }

/*-----------------------------Profile Page---------------
-----------------------------------------------------------------*/
.new_escort-image {
  width: 400px;
  height: 300px;
  overflow: hidden;
  border: 1px solid #9C9090;
  box-shadow: 3px 3px 3px#ccc;
}
.new_escort-image {
 border:none;
 box-shadow:none;
}
.profile-header h1 {
  color: #fff;
  text-align: center;
  font-size: 38px;
  font-weight: 400;
  margin-top: 30px;
  margin-top: 31px;
}
.profile-header {
  position: absolute;
  top: auto;
  border-top: 1px solid #4C4343;
}
#profile-logo {
  width: 170px;
  float: left;
  margin-left: 80px;
  margin-top: 6px;
  margin-bottom: -22px;
}
#profile_userbox {
 display:block!important;
 float: right;
 margin-top: 15px;
}
.profile_welcome, .profile_dropdown {
  color: #fff!important;
  text-transform: uppercase;
  font-size: 17px;
  font-weight: 700;
}
#profile_image_cutter {
  width: 35px;
  height: 35px;
  border-radius: 50%;
  overflow: hidden;
  float: left;
  margin-top: -7px;
  margin-left: 11px;
  margin-right: 19px;
}
.small_profile_image {
  min-width: 165%;
  height: auto;
}
.profile_dropdown {
  text-transform: none;
  border-left: 1px solid #544B4B;
  background: transparent url('/assets/frontend/img/down_arrow.png') no-repeat right 7px;
  padding-right: 23px!important;
  position:relative;
}
.profile_submenu {
  width: 226px;
  background-color: #131212;
  position: absolute;
  z-index: 100;
  padding-bottom: 22px;
  border-radius: 4px;
  display: none;
  margin-top: 0px;
}
.profile_dropdown:hover .profile_submenu {
 display:block;
}
.profile_submenu li a, .profile_dropdown a {
 color: #fff!important;
}
.profile_submenu li a:hover {
 color: #E89090!important;
}
.profile_submenu li {
  font-size: 17px;
  width: 100%;
  padding: 22px 0 0!important;
  text-align: center;
}
.profile_top_header #top-bar {
 position:fixed;
 width:100%;
 left:0;
 top:0;
 right:0;
 z-index:10;
}
.profile-header {
 height: 117px;
 margin-top: -88px;
}
.profile_view {
  margin-top: -20px;
}
#process-bar .row .first-level .icon, #process-bar .row .new-icons .icon {
  margin-top: -203px;
  z-index: 1000;
  position: relative;
}
#process-bar .row .new-icons .icon-add-business{
  margin-top: -219px;
}
#process-items .first-level li h6, #process-items .new-icons li h6 {
  color: #fff;
  z-index: 1000;
  position: relative;
}
#process-items li {
  width: 165px;
  margin: 0px 15px;
}
.profile_view h2 {
 color:#222;
 margin-bottom: 10px;
}
.control-group label {
  font-size: 18px;
  color: #333;
}
.profile_view .back-end .page-wrapper #backend-main {
 background: none;
}
.control-group span {
  color: red;
  font-size: 22px;
  padding-top: -1px;
  margin-left: 2px;
  margin-top: 10px;
}
.profile_info {
  font-size: 16px;
  text-align: center;
  paddng: 0 50px;
  padding: 0;
  border-bottom: 1px sol;
  border-bottom: 1px solid #ccc;
  margin-bottom: 50px;
}
#process-items li.new-business {
  margin-left: -120px;
  margin-top: 15px;
} 
#backend-profile-img {
 width: 35%;
 float: left;
}
.right_floater {
  float: right;
  width: 100%;
}
.width_65 {
  width: 65%;
}
.left_floater {
  float: left;
  margin-right: 0;
  width: 325px;
  max-width: 100%;
}

#age_id {
  width: 100px;
}
.age_floater {
  width: 100px;
  margin-left: 0;
}
.control-group span.select2-container, .select2-container .select2-selection--single .select2-selection__rendered, .select2-container--default .select2-selection--single, .control-group span.selection {
 color: #333;
 font-size: 16px!important;
 margin-top: 0!important;
}
.select2-selection.select2-selection--single  {
  margin-top: -23px!important;
  height: 36px;
}
.escorts-img-container img {
  width: 70%;
  border: 1px solid #9C9090;
  box-shadow: 3px 3px 3px#ccc;
  margin-top: 10px;
}
.control-group .input03 {
  background: #FFFFFF;
  border: 1px solid #C7C7C5;
  width: 100%;
  padding: 5px;
  height: 38px;
  border-radius: 6px;
  padding-left: 15px;
}
.phone_contact {
 margin-left:0px;
}
#sex {
  float: none;
  clear: both;
  margin-left: 0px;
}
#mp_latest {
  background-color: #312E2E;
  color: #F9F9F9;
  padding: 6px;
  text-align: center;
  font-size: 22px;
  margin-top: 17px;
  margin-bottom: 10px;
}
#mp_latest_post {
  margin-top: 100px;
  text-align: left;
  background-color: #f2f1f1;
  padding: 35px 0;
  font-size: 14px;
  color: #332D2D;
  font-family: 'Raleway',Arial,sans-serif;
  margin: 0;
}
#mp_latest_post span {
  font-size: 14px;
  color: #332D2D;
  font-family: 'Raleway',Arial,sans-serif;
  margin: 0;
}

#mp_latest_post h6 {font-size: 20px; }
#mp_latest_post h2 span {
 font-size:22px;
}
#mp_parralax  {
  height: 264px;
  background: transparent url('/assets/frontend/img/sexyLady.jpg') no-repeat center top;
  background-attachment: fixed;
  font-size: 56px;
  color: #fff;
  text-shadow: 1px 1px 2px #121212;
  margin-bottom: 120px;
  padding-top: 16px;
  line-height: 1em;
  display:none;
}

/*.profile_view label {
    font-size: 18px;
    color: #333;
    margin-top: 20px;
    float: left;
    width: 120px;
    clear: right;
}
/*.control-group .input03 {
    background: #f2f2f0;
    border: 1px solid #ebebea;
    width: 80%;
    padding: 5px;
    float: left;
    margin-left: 30px;
    margin-top: -5px;
    clear: right;
}
.control-group .input03:after {
   clear:both;
   float;none;
   display:block;
   content: ';
   }*/
   .profile_top_header {
     z-index: 1000000;
   }
   .profile-body {
     background-color: #ccc;
   }
   .profile-body .page-wrapper .container {
     background-color: #FFFCFC;
     margin-top: 50px;
     position: relative;
     top: 55px;
     margin-bottom: 50px;
     min-height: 538px;
   }
   .profile-body .page-wrapper .container form {
    margin-top: -50px;
  } 
  .profile-body #footer-wrapper {
    width: 100%;
    background-color: #272828;
    padding: 70px 0 0 0;
    position: relative;

  }
  .profile-body .page-wrapper.top-space {
   background:none;
 }
 .profile-body table {
   font-size: 16px;
   max-width: 1000px;
   margin: 0 auto;
   color: #222;
   border: 1px solid #ccc;
   border-radius: 4px;
 }
 #escortInfo, #escortAbout {
  width: 80%;
  margin-left: 10%;
}
.table_header {
  font-weight: 700;
  text-transform: uppercase;
  padding-top: 15px;
  height: 60px;
  v-align: middle;
  v-align: center;
  vertical-align: middle;
}
.hours_select {
  width: 100%;
  border: 1px solid #ccc;
  height: 3;
  height: 32px;
  background-color: #fff;
  border: none;
  border-right: 2px solid #564242;
}
.hours_select:disabled {
  background-color: #ccc;
  color: #908080;
}
.am_select {
  background-color: #CEE2E8;
  border-right: none;
}
.am_select:disabled {
  background-color: #ccc;
  border-right: none;
  color: #908080;
}
.table_header td {
  vertical-align: middle!important;
}
.time-table {
 float:left;
}
input[type="submit"], .tp-simpleresponsive .button, a.submit-button {
  background-color: rgb(208, 40, 40);
  border: medium none;
  color: #fff;
  display: inline-block;
  font-size: 18px;
  font-weight: 700;
  padding: 5px 15px;
  text-align: center;
  text-transform: none;
  transition: all 300ms ease-in-out 0s;
  text-shadow: none;
  border-radius: 4px;
  padding: 9px 32px;
}
.icon-basic:hover, .icon-basic.active, .icon.icon-profile.active {
  background: transparent url('/assets/frontend/img/ProfileIconsSprite.png') no-repeat 0 -195px;
  width:65px!important;
  height: 65px!important;
  border-radius: 50%!important;
}
.icon.icon-profile {
  background: transparent url('/assets/frontend/img/ProfileIconsSprite.png') no-repeat 0 -260px;
  width:65px!important;
  height: 65px!important;
  border-radius: 50%!important;
  border: 1px solid #E0D9D9!important;
}
.icon-basic  {
  background: transparent url('/assets/frontend/img/ProfileIconsSprite.png') no-repeat 0 -130px;
  width:65px!important;
  height: 65px!important;
  border-radius: 50%!important;
}
.icon.icon-escort {
  background: transparent url('/assets/frontend/img/ProfileIconsSprite.png') no-repeat 0 -325px;
  width:65px!important;
  height: 65px!important;
  border-radius: 50%!important;
}
.icon.icon-profile-manager{
  background: transparent url('/assets/frontend/img/ProfileIconsSprite.png') no-repeat 0 -1300px;
  width:65px!important;
  height: 65px!important;
  border-radius: 50%!important;
  border: 1px solid #E0D9D9!important;
}
.icon.icon-escort:hover, .icon.icon-profile-manager:hover{
  background: transparent url('/assets/frontend/img/ProfileIconsSprite.png') no-repeat 0 -390px;
  width:65px!important;
  height: 65px!important;
  border-radius: 50%!important;
}
.icon.icon-escort.active, .icon.icon-profile-manager.active{
  background: transparent url('/assets/frontend/img/ProfileIconsSprite.png') no-repeat 0 -390px;
  width:65px!important;
  height: 65px!important;
  border-radius: 50%!important;
}
.icon.icon-add-business {
  background: transparent url('/assets/frontend/img/ProfileIconsSprite.png') no-repeat 0 0px;
  width:65px!important;
  height: 65px!important;
  border-radius: 50%!important;
}
.icon.icon-add-business.active {
  background: transparent url('/assets/frontend/img/ProfileIconsSprite.png') no-repeat 0 -65px;
  width:65px!important;
  height: 65px!important;
  border-radius: 50%!important;
}
.icon.icon-about {
  background: transparent url('/assets/frontend/img/ProfileIconsSprite.png') no-repeat 0 -650px;
  width:65px!important;
  height: 65px!important;
  border-radius: 50%!important;
  border: 1px solid #E0D9D9!important;
}
.icon.icon-about.active {
  background: transparent url('/assets/frontend/img/ProfileIconsSprite.png') no-repeat 0 -780px;
  width:65px!important;
  height: 65px!important;
  border-radius: 50%!important;
  border: none!important;
}
.icon.icon-availability{
  background: transparent url('/assets/frontend/img/ProfileIconsSprite.png') no-repeat 0 -1040px;
  width:65px!important;
  height: 65px!important;
  border-radius: 50%!important;
  border: 1px solid #E0D9D9!important;
}
.icon.icon-availability.active{
  background: transparent url('/assets/frontend/img/ProfileIconsSprite.png') no-repeat 0 -1105px;
  width:65px!important;
  height: 65px!important;
  border-radius: 50%!important;
  border: none!important;
}
.icon.icon-gallery{
  background: transparent url('/assets/frontend/img/ProfileIconsSprite.png') no-repeat 0 -845px;
  width:65px!important;
  height: 65px!important;
  border-radius: 50%!important;
  border: 1px solid #E0D9D9!important;
}
.icon.icon-gallery.active{
  background: transparent url('/assets/frontend/img/ProfileIconsSprite.png') no-repeat 0 -975px;
  width:65px!important;
  height: 65px!important;
  border-radius: 50%!important;
  border: none!important;
}
.second-level-icons:after {
  content: '';
  display: block;
  width: 100%;
  height: 3px;
  background-color: #ccc;
  margin-bottom: 150px;
  width: 600px;
  margin: -62px auto 150px;
}
#process-items li div {
 border:none;
}
.bottom_section {
  clear: both;
  float: none;
  display: block;
  position: relative;
  padding-top: 13px;
}
.section-content {
  padding: 30px 0;
  width: 100%;
  clear: both;
}
.new-escort, .new-business {
 display:none;
}
/*-----------------------------Mobile rules profile view
-----------------------------------------------------------------*/
.profile-body #top-bar {
  display: block;
  margin-left: 0;
  min-height: 86px;
}
.profile-body .row.first-level { display:none; }
.back-end #process-items {
 margin: 0;
}
#process-items .icon {
 background-size: auto;
}
.second-level li {
  height: 70px;
}
.second-level-icons:after {
  display: none;
}
.second-level li {
  padding: 12px;
  background-color: #f2f2f0;
  border-bottom: solid 1px #FFF;
  border-radius: 50px 0 0 60px;
}
/*-----------------------------Profile about me tab------
-----------------------------------------------------------------*/
#escortAbout textarea {
  width: 100%;
  background-color: #E6E6E6;
  padding: 10px;
  border: 1px solid #B9A4A4;
  color: #222;
}
#process-items .second-level {
  margin:0;
}
.business-level{
  margin-bottom: 75px!important;
}
@media (min-width: 1600px) {
  #body-items img {
    max-width: 100%;
    height: auto;
    padding: 17px;
    max-width: 111px;
  }
}
/*-----------------------------Tabs-----------------------
-----------------------------------------------------------------*/
.profile_tab { display:none; }
.pt-active-tab { display:block;margin-top:63px;}
#escortAbout textarea {
 width: 100%;
}
/*-----------------------------Gallery--------------------
-----------------------------------------------------------------*/
#escortGallery input[type="submit"] {
  background-color: transparent;
  color: #444;
  font-size: 21px;
  width: 80%;
  height: 100px;
  margin-top: 68px;
}
.dz-processing,.dz-success {
  display:none!important;
  z-index: -100000;
  position: fixed;
  left: 10000000000000000000000000px;
  width: 0px;
  height: 0px;
}
.dz-error-message span {
  color: red;
  font-size: 18px;
  padding-top: 61px;
  display: block;
}
.escort_holder {
  position: relative;
  display: block;
  background-color: #D2CDCD;
  padding: 20px;
  min-height: 200px;
  margin-bottom: 25px;
  border-radius: 0 6px 6px 0;
  border-left: 20px solid #3C3C3C;
}
.dz-details {
 display:none;
} 
.no-line-padding {
  padding: 0;
  border:none;
  margin: 0;
}
a .escort-sumup li, .escort-sumup .figname {
  color: #231D1D;
  font-weight: 400;
  font-family: Raleway,sans-serif;
  font-size: 26px;
}
.escort_stats_div { 
  float: right;
  margin-left: 45px;
}
#right_stats_holder { 
  background-color: #39414A;
  color: #ffff;
  color: #fff;
  font-size: 18px;
  font-weight: 700;
  float: right;
  padding: 5px 35px 5px 0;
  border-radius: 0 3px 3px 0;
  display:none;
}
.label-warning {
  background-color: #F0824E;
}
.info-container .escort_description {
  clear: both;
  float: none;
  font-size: 16px;
  padding-top: 9px;
  max-height: 76px;
  overflow: hidden;
}
.escort-sumup img {
 margin-left: 25px;
}
.escort_status {
  float: left;
  margin-left: 20px;
  margin-top: -8px;
}
.info-container .escort_name {
  font-size: 26px;
  color: #222;
  font-family: Raleway,sans-serif;
  text-align: left;
  display: block;
  width: 100%;
  float: none;
  clear: both;
  width: auto;
  display: inline;
  float: left;
  margin-top: -10px;
}
.escort-sumpup {
  border: none;
  z-index: 1000000000;
  position: relative;
}
.sumup-img-holder {
 clear:both;
}
.escort-sumup ul li, .escort-sumup ul li {
  color: #fff;
}
.image_cutter .img-profile {
  width: 86px;
  height: 129px;
  width: 100%!important;
  height: auto!important;
  v-align: middle;
  vertical-align: middle;
  margin-top: -35px;
}

.sumup .figinfo a {
 color: #fff;
}
#business-add-escort  {
  background-color: rgb(30, 33, 31);
  width: 260px;
  border-radius: 3px;
  border-left: 20px solid #BF2B2B;
  padding-right: 40px;
  box-sizing: border-botx;
  box-sizing: border-box;
}
.escort_short_links a {
  background: none;
  color: #2B6557;
  font-size: 16px;
  padding: 0;
  margin-right: 45px;
}
.escort_short_links a {
  background: none;
  color: #0E211C;
  font-size: 16px;
  padding: 0;
  margin-right: 45px;
  padding: 3px 20px;
  margin-top: 6px;
}
.escort_short_links a:hover {
 background-color: #41556B;
 color: #fff;
}
.escort-sumup {
  padding: 10px;
  margin-bottom: 15px;
  background: transparent;
  float: left;
  border: none;
  margin-left: 35px;
}

.mydropzone {
  width: 80%;
  height: 216px;
  background-color: #E8E8E8;
  content: Drop your files here, or click to upload;
  content: 'Drop your files here, or click to upload';
  color: #ccc;
  border-radius: 10px;
  z-index: 100000;
  position: relative;
  background: #ececec url( '/assets/frontend/img/writing.png' ) no-repeat center center;
  cursor:pointer;
  background-size: contain;
}
.business-add-escort {
  background-color: #3E3838;
  width: 263px;
}
.profile-gallery>div {
  min-height: 240px;
}
.spinner {
  margin: 100px auto;
  width: 40px;
  height: 40px;
  position: relative;
  text-align: center;
  
  -webkit-animation: sk-rotate 2.0s infinite linear;
  animation: sk-rotate 2.0s infinite linear;
}
#logo {
  max-width: 40%;
}
.dot1, .dot2 {
  width: 60%;
  height: 60%;
  display: inline-block;
  position: absolute;
  top: 0;
  background-color: #951010;
  border-radius: 100%;
  
  -webkit-animation: sk-bounce 2.0s infinite ease-in-out;
  animation: sk-bounce 2.0s infinite ease-in-out;
}

.dot2 {
  top: auto;
  bottom: 0;
  -webkit-animation-delay: -1.0s;
  animation-delay: -1.0s;
}

@-webkit-keyframes sk-rotate { 100% { -webkit-transform: rotate(360deg) }}
@keyframes sk-rotate { 100% { transform: rotate(360deg); -webkit-transform: rotate(360deg) }}

@-webkit-keyframes sk-bounce {
  0%, 100% { -webkit-transform: scale(0.0) }
  50% { -webkit-transform: scale(1.0) }
}

@keyframes sk-bounce {
  0%, 100% { 
    transform: scale(0.0);
    -webkit-transform: scale(0.0);
    } 50% { 
      transform: scale(1.0);
      -webkit-transform: scale(1.0);
    }
  }
  @-webkit-keyframes load3 {
    0% {
      -webkit-transform: rotate(0deg);
      transform: rotate(0deg);
    }
    100% {
      -webkit-transform: rotate(360deg);
      transform: rotate(360deg);
    }
  }
  @keyframes load3 {
    0% {
      -webkit-transform: rotate(0deg);
      transform: rotate(0deg);
    }
    100% {
      -webkit-transform: rotate(360deg);
      transform: rotate(360deg);
    }
  }
  .dropZoneError {
   background-image:none;
 }
 #backend-profile-gallery {
  margin: -50px 0 140px;
}
.image_cutter {
  width: 160px;
  height: 160px;
  border-radius: 50%;
  overflow: hidden;
  float: left;
  border: 3px solid #fff;
  margin-left: 20px;
  display:none;
}
.homeview {
  padding-top: 56px !important;
}
#uploader_info {
  font-size: 38px;
  width: 50%;
  margin-left: 25%;
  line-height: 1.2em;
  color: #000000;
  margin-top: -180px;
  margin-bottom: 109px;
  z-index: -1;
  position: absolute;
}
.no_line {
  border-bottom: none;
} 

li.is-not-main-image {
  background: #D72828;
  display:none!important;
  position: absolute;
  z-index: 1;
  width: auto;
  left: 15px;
  right: 15px;
}
.gallery-element:hover li.is-not-main-image {
  display: block!important;
}
.li.is-not-main-image a {
  color: #FFF;
  font-weight: 700;
  position: absolute;
  z-index: -1;
}
.is-main-image {
  background-color: #222;
  color: #fff;
  font-weight: 700;
  z-index: 10000000;
  position: relative;
}
.is-main-image .btn {
 color: #fff;
}
/*-----------------------------Business section-----------
-----------------------------------------------------------------*/
img.section-content {
  width: 160px;
  padding: 0;
  border: 0;
  margin: 0 auto;
  display: block;
}
.dz-clickable {
  width: 60%;
  margin: 5px auto 0;
}
#businessInfo fieldset {
  max-width: 1000px;
  margin: 10px auto;
}
#businessLogo .dz-processing, .dz-success {   
  display: block!important;
  z-index: 10;
  position: relative;
  left: auto;
  width: auto;
  height: auto;
}
.dz-details, .dz-details span { display:none; }
#businessLogo .dz-details, #businessLogo .dz-details span { display:block; }
#businessLogo .dz-preview, #businessLogo .dz-processing, #businessLogo .dz-image-preview, #businessLogo .dz-success {
 width:114px;
 margin: 0 auto;
}
/*-----------------------------Home page------------------
-----------------------------------------------------------------*/
.homeview .container {
 margin-top:0!important;
}

#featured-escorts .container {
 margin-top: 15px!important;
 font-size: 16px;
}
#home_page_banner {
  width: 100%;
  position:relative;  
}
#banner_container {
  margin-top: 51px;
  position:relative;
  max-height: 534px;
  overflow: hidden;
  display:none;
}
#home_page_welcome {
  color: #fff;
  background-color: transparent;
  margin-top: -237px;
  z-index: 1;
  position: relative;
  max-width: 57%;
  display:none;
}
#home_page_welcome #welcome {
  margin: 0;
  font-family: 'Roboto Slab', serif;
  font-weight: 400;
  font-size: 38px;
}
#home_page_welcome h1, #home_page_welcome h2 {
 font-family: 'Raleway', sans-serif;
 font-size: 21px;
 margin-top: 23px;
 display: inline-block;
 float:left;
 margin-bottom: 0;
}
#home_page_welcome .beckon_button {
  margin-top: 46px;
}
#home_page_welcome h2 {
  margin-top: 0;
}
.beckon_button {
  background: #D00A0A;
  border: none;
  padding: 9px 26px;
  font-size: 20px;
  font-family: Raleway;
  border-radius: 3px;
}
.page-wrapper {
  padding-top: 0px;
}
a .beckon_button {
 color: #fff;
}
a .beckon_button:hover {
 color: #222;
}
.grey_back {
  background-color: #F2EEEE;
}
#dark_divider {
  background-color: #272525;
  width: 100%;
  padding:10px; 
  margin-top: 75px;
}
#dark_divider h4 {
  color: #efefef;
  text-align: center;
  font-family: 'Roboto Slab', serif;
  font-weight: 400;
  font-size: 28px;
  max-width:550px;
  margin: 15px auto;
}
.middle_content {
  font-family: 'Raleway', sans-serif;
  font-size: 20px;
  color: #222;
  padding-top:35px;
}
#front_page_middle_button {
  margin: 40px auto 60px;
  display: block;
}
.brothel_ad {
  width: 100%;
}
.brothel_ad img {
 width: 100%;
}
.bottom_content h5 {
  font-size: 34px;
  color: #222;
  font-family: 'Roboto Slab', serif;
  line-height:1.1em;
}
.bottom_content h3 {
  font-size: 32px;
  color: #222;
  font-family: 'Raleway', sans-serif;
}
.bottom_content {
  color: #222;
  font-size: 18px;
  font-family: 'Raleway', sans-serif;
  margin-bottom: 60px 20px;
  font-size: 16px;
  margin: 60px 0 120px;
}
/*-----------------------------Right floater---------------
-----------------------------------------------------------------*/
#_right_floater {
  position: fixed;
  height: 118px;
  width: 70px;
  right: 0;
  top: 50%;
  margin-top: -75px;
  background-color: #060505;
  border: 1px solid #000;
  border-left: 6px solid #951010;
  cursor: pointer;
  display: none;
  z-index: 1000000;
  border-radius: 4px 0 0 4px;
  box-shadow: 15px 5px 15px #403030;
}
#_right_floater span {
 width: 39px;
 height: 38px;
 display: block;
 margin-left: 11px;
 margin-top: 12px;
}
#_rf_search {
  background: transparent url( '/assets/frontend/img/icons/right_floater.png' ) no-repeat 0 0;
}
#_rf_search:hover {
  background: transparent url( '/assets/frontend/img/icons/right_floater.png' ) no-repeat 0 -120px;
}
#_rf_filter {
  background: transparent url( '/assets/frontend/img/icons/right_floater.png' ) no-repeat 0 -40px;
}
#_rf_filter:hover {
  background: transparent url( '/assets/frontend/img/icons/right_floater.png' ) no-repeat 0 -160px;
}
#_rf_location {
  background: transparent url( '/assets/frontend/img/icons/right_floater.png' ) no-repeat 0 -80px;
}
#_rf_location:hover {
  background: transparent url( '/assets/frontend/img/icons/right_floater.png' ) no-repeat 0 -200px;
}
/*---------------------------Blog Share Buttons--------------
-----------------------------------------------------------------*/
._alc_share_icon { 
  width: 36px;
  height: 36px;
  background: transparent url( '/assets/frontend/img/icons/_ss_share.png' ) no-repeat 0 0;
  float:right;
  margin-left:18px;
  border-radius:7px 0 0 0;
}
#_ss_facebook { background: transparent url( '/assets/frontend/icons/_ss_share.png' ) no-repeat 0 0; }
#_ss_twitter { background: transparent url( '/assets/frontend/icons/_ss_share.png' ) no-repeat 0 -36px; }
#_ss_linkedin { background: transparent url( '/assets/frontend/icons/_ss_share.png' ) no-repeat 0 -72px; }
#load_more_escorts {
  background-color: #7F1818;
  color: #fff;
  padding: 8px 32px;
  font-size: 26px;
  border: none;
  border-radius: 3px;
  font-family: 'Lora', serif;
  padding: 0;
  padding: 8px 32px 16px 32px;
  display: block;
  margin: 120px auto 0px;
  float: none;
  clear: both;
  brder-top: 20px solid #fff;
  border-top: 80px solid #fff;
}
#load_more_escorts:before {
 clear:both;
 float:none;
 content: '';
 display:block;
}
#bottom_content h2 {
  font-size: 30px;
  color: #210E0E;
  margin-top: 32px;
  font-family: 'Roboto Slab', serif;
  font-weight: 400;
  margin-bottom: 35px;
}
.row h2 {
 margin-top: 35px;
}
/*----------------------------Escorts grid view--------------
-----------------------------------------------------------------*/
.escorts-img-container:hover .figfavorite {
}
.owl-item {
 display:none;
}
.owl-sidebar {
  height: 284px;
}
.grid-view .escorts-img-container {
  position: relative;
  overflow: hidden;
  cursor: inherit;
  height: 0;
  padding-bottom: 150%;
}
.business-index-page  .grid-view .escorts-img-container {
 background-color: #2B2727;
}
.page-title-2 .container {
 margin-top: 0!important;
}
.unavailable_girl:nth-child(5) {
 display:none;
}
/*---------------------------Unavailable profiles-----------
-----------------------------------------------------------------*/
#unavailable {
 position:fixed;
 top: 0;
 left: 0;
 bottom: 0;
 right: 0;
 background: rgba( 0,0,0,.9 );
 padding: 200px 0;
 color: #fff;
 z-index: 10;
}
#unavailable h6 {
  font-size: 16px;
  font-family: 'Roboto Slab', serif;
  font-weight: 400;
  width: 60%;
  margin-left: 20%;
  text-align: center;
  line-height: 1.3em;
  margin-top: -50px;
}
#unavailable .info-container {
  position: absolute;
  bottom: 35px;
  background-color: rgba(0,0,0,.6 );
  color: #fff;
  widt: 100%;
  /* width: 100%; */
  left: 25px;
  right: 25px;
  padding: 6px 0 0 0 25px;
  padding: 6px 6px 6px 25px;
  font-size: 18px;
}
/*----------------------------Filter popup-------------------
-----------------------------------------------------------------*/
#left_pull_filters {
  position: fixed;
  width: 30%;
  left: 0;
  z-index: 1000000;
  background: rgba(0,0,0,.9 );
  top: 0;
  bottom: 0;
  padding-left: 25px;
  padding-top: 50px;
  overflow-y: auto;
  overflow-x: hidden;
  width: 0;
  margin-left: -50px;
  max-width:100%;
}
#close_left_pull {
 background: transparent url( '/assets/frontend/img/lf_close.png' ) no-repeat 0 0;
 height: 35px;
 width: 35px;
 z-index: 1000;
 position:fixed;
 top: 15px;
 right: 15px;
 cursor:pointer;
 display:none;
}
#left_pull_filters{scrollbar-face-color: #000000;
 scrollbar-shadow-color: #2D2C4D;
 scrollbar-highlight-color:#7D7E94;
 scrollbar-3dlight-color: #7D7E94;
 scrollbar-darkshadow-color: #2D2C4D;
 scrollbar-track-color: #000;
 scrollbar-arrow-color: #C1C1D1;
}
#left_pull_filters::-webkit-scrollbar
{
  width: 12px;  /* for vertical scrollbars */
  height: 12px; /* for horizontal scrollbars */
}

#left_pull_filters::-webkit-scrollbar-track
{
  background: rgba(0, 0, 0, 0.1);
}

#left_pull_filters::-webkit-scrollbar-thumb
{
  background: rgba(255, 255, 255, 0.5);
}
#left_pull_filters .widget h5, #left_pull_filters h4 {
  text-transform: uppercase;
  font-weight: 600;
  margin-bottom: 20px;
  color: #fff;
  font-size: 22px;
  text-align:left;
}
#left_pull_filters h4 {
 margin-bottom: 0;
}
#side-search, #escort_side-search {
  width: 300px;
  border-radius: 4px;
  background-color: transparent;
  border: 1px solid #716969;
  color: #fff;
  height: 32px;
  margin-bottom: 6px;
  max-width:85%;
}
#left_pull_filters .widget li {

  background: url('/assets/frontend/img/side-arrow2.png') no-repeat 0 12px;
  padding: 8px 28px;
  line-height: 25px;
}
#left_pull_filters .widget li li {
 background: none;
 padding: 5px;
}
#left_pull_filters a {
  color: #DFDBDB;
  font-size:16px;
}
/*-----------------Helper classes---------------
------------------------------------------------------*/
._float_right {
 float:right;
}
._smaller {
  font-size: 27px!important;
  margin-top: 10px;
}
/*-----------------Front page mobile header----
------------------------------------------------------*/
.mobile_container {
  background-color: #1e1e1e;
  text-align: center;
  color: #fff;
  font-family: Roboto Slab;
  font-size: 18px;
  padding-bottom: 25px;
}
.mobile_info {
  padding: 25px;
  display: block;
}
#home_page_mobile_banner {
 width: 100%;
}
/*-----------------Responsive rules-------------
------------------------------------------------------*/
#header {
 max-height: none;
}
#page-title, .login-section {
  padding-top: 24px;
}
#header .nav.navbar-nav, #top-bar {
 display:none;
}
#top-bar .user-box, #top-bar li  { display:none; }
#top-bar #geoloc {
 display:inline;
 min-width: 200px;
}
#logo {
  margin: 12px auto 0;
  display: block;
  float: none;
  width: 260px;
  z-index:2;
}
.pi_recent_posts .post-info {
  margin-top: -30px;
  text-align: left;
}
.pi_recent_posts .post-info h5 {
 text-align:left;
}
/*-----------------Single blog page------------
-----------------------------------------------------*/
#page-title .breadcrumb-container { 
  float: left;
  font-size: 17px;
  margin-top: -15px;
  max-width: 64%;
}
#page-title h1.single_blog {
  font-size: 34px;
  text-align:left;
}
#topbar-buttons li { 
  display:none;
}
#center.homeview {
  padding-top: 56px!important;
}
#page-title {
  padding-top:0;
}
body.escort-single .view {
  padding-top: 100px!important;
}
#featured-escorts {
  margin-top: 0;
  padding-top: 0;
}
#page-title.page-title-1 {
  background-color: #F2EEEE;
  margin-top: 0;
  padding-top: 10px;
}
p, a {
  color: #332D2D;
  font-family: 'Raleway',Arial,sans-serif;
  margin: 0;
}
.footer-breadcrumb a, #copyright-container p { color: #ddd; }
.footer-breadcrumb a:hover, #copyright-container p:hover { color: #F55; }
.list-view .escorts-img-container img {
  width: 15%;
  margin:0;
  border:none;
}
.list-view .figinfo {
  margin-top: 15px;
  margin-left: 10px;
}
.list-view .figinfo a {
  font-family: 'Roboto Slab', sans-serif;
}
.list-view>li {
  background: #EAEAEA;
  border: none;
  margin-bottom: 25px;
  padding: 0;
}
.list-view .fig-readmore button {
  background: #f55;
  border: none;
  color: #fff;
  padding: 8px 16px;
  margin-right: 25px;
  font-size: 15px;
  border-radius: 3px;
  display: none;
}
.view {
  padding-top: 100px!important;
}
.blog-post .figdesc p {
 margin-top: 0;
}
.page-wrapper .container {
  padding-left: 15px;
  padding-right: 15px;
}
/*------------------------------Mobile Menu styles--------
-----------------------------------------------------------------*/
.arrowToggle {
  background: #D00A0A;
  color: #fff;
  border: none;
  height: auto;
  width: 60px;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  z-index:2;
}
.arrowToggle:after {
  display:block;
  content: '';
  background: transparent url( '/assets/frontend/img/arrow_transform.png' ) no-repeat left 50%;
  width: 21px;
  height: 18px;
  margin:0 auto;
  position:relative;
  -webkit-transition:background-position 1s ease;
  transform: rotate( 0deg );            
  transition: transform 300ms ease;
}
.arrowToggleClicked:after{
  background: transparent url( '/assets/frontend/img/arrow_transform.png' ) no-repeat right 50%;
  transform: rotate( -180deg );            
  transition: transform 300ms ease;
}
.downCaret {
  width: 26px;
  height: 26px;
  display: block;
  float: right;
  margin-right: 15px;
  background: transparent url('/assets/frontend/img/right.png') no-repeat center center;
  position: absolute;
  right: 5px;
  margin-top: -68px;
  padding: 35px;
  transform: rotate( 0deg );            
  transition: transform 150ms ease;
}
.dropdown-menu {
  width: 100%;
}
.downCaretOpened {
  transform: rotate( 90deg );            
  transition: transform 150ms ease;
}    
.navbar-nav>li {
  float:none;
  width:100%;
}
.navbar-nav>li:hover .dropdown-menu {
 display:none;
}
#header .nav.navbar-nav {
  webkit-backface-visibility: hidden;
  width:0;
  position: fixed;
  background-color: #191818;
  top: 1;
  right: 0;
  left: 0;
  bottom: 0;
  margin: none;
  margin: 0;
  margin-top: -37px;
  top: 91px;
  z-index: 100000;
  overflow-y: scroll;
  display: block;
}
.nav>li:first-child {
  margin-top: 25px;
}
.nav>li a {
  padding: 25px;
  border-bottom: 1px solid #5D5353;
}
.dropdown-menu li {
 background-color: #4C4949;
}
header {
  position: fixed;
}
#phone_link:after {
  padding-left: 45px;
  background: transparent url('/assets/frontend/img/contactSprite.png') no-repeat 0 0;
  font-size: 16px;
  width: 32px;
  height: 32px;
  content: '';
  display: block;
  position: absolute;
  top: 19px;
}
#phone_link {
 text-indent: 45px;
 font-size: 18px;
}
#email_link:after {
  padding-left: 45px;
  background: transparent url('/assets/frontend/img/contactSprite.png') no-repeat 0 -32px;
  font-size: 16px;
  width: 32px;
  height: 32px;
  content: '';
  display: block;
  position: absolute;
  top: 19px;
}
#email_link {
 text-indent: 45px;
 text-transform:none;
 font-size: 18px;
}
#featured-escorts .escorts-img-container {
  max-width: none!important;
}
.homeview .page-title-1 {
 margin-top: 0!important;
}
#page-title .profile-image {
  position: absolute;
  left: 0;
  margin-top: -20px;
  z-index: 1;
  min-height: 138px;
  background-color: #131212;
  margin-top: -9px;
  border: 3px solid #fff;
  padding: 0;
  width: 200px;
  line-height: 170px;
}
.nav>li.desk_only {
 display:none;
}
.new_escort-image {
 display:none;
}
.coverLogo {
  width: 20%;
  height: auto;
  margin: -427px 0 343px;
  display: block;
}
@media(max-width:480px){
  #process-items li h6 {
    margin: 0;
    padding-left: 61px;
    text-align: left;
    line-height: 24px;
    color: #333;
    max-width: 100%;
    box-sizing: border-box;
  }
}
@media(min-width:480px) {
  #header .nav.navbar-nav {
    top: 112px;
  }
  .view {
    padding-top: 95px!important;
  }
  .col-ms-6 {
   width: 50%;
 }
 #main_image {
  margin-top: -63px;
}
}
@media(min-width:556px) {
  body.escort-single .view {
    padding-top: 100px!important;
  }
  #main_image {
    margin-top: -36px;
  }
}
@media (max-width: 768px) {
  .grid-view .figdata {
    color: #fff;
    width: 100%;
  }
  .grid-view .figdata li {
    float: left;
    margin-right: 7px;
    font-size: 16px;
    color: #FFF;
    display: block;
    width: 100%;
    text-align: center;
  }
  .grid-view .figinfo .figname {
    font-size: 20px;
    text-align: center;
    display: blokc;
    display: block;
    text-align: center;
    width: 100%;
  }
}
@media(min-width:500px) {
  #close_left_pull {
   position: absolute;
 }
}
@media(min-width:786px) {
  #header .nav.navbar-nav {
    top: 131px;
  }
  .col-sm-4 {
    width: 33.33333333%;
  }
  li.keywords {
    margin-top: 25px;
  }
  #page-title {
   margin-top: 15px;
 }
 body.escort-single .view {
  padding-top: 100px!important;
}
}
@media (max-width: 1024px) and (min-width: 737px) {
  .view {
    padding-top: 116px!important;
  }
}
@media (min-width: 992px) {
  #front_page_middle_button {
  }
  #mp_parralax  {
   display:block;
 }
 .col-md-3 {
  width: 25%;
}
.page-title-2 {
  background: #ccc;
  height: 120px;
}
.col-md-4 {
  width: 33.333333333%;
}
.mobile_container {
 display:none;
}
#banner_container {
 display:block;
}
#home_page_welcome {
  display:block;
}

#page-title h1 {
  font-size: 30px;
  padding-bottom: 20px;
}
#featured-escorts .container {
 margin-top: 10px!important;
 font-size: 18px;
}
.col-md-2 {
  width: 16.66666667%;
}
}
@media(min-width:1025px) {
  .tb_icon_group { display:block; }
  #mp_parralax  {
    padding-top: 125px;
  }
  .escort-sumup {
    width: 69%;
  }
  .new_escort-image {
   display:block;
 }
 .new-escort, .new-business {
   display:block;
 }
 .phone_contact {
   margin-left:74px;
 }
 #sex {
  float: none;
  clear: both;
  margin-left: 70px;
}
.left_floater {
  float: left;
  margin-right: 35px;
  width: 325px;
  max-width: 100%;
}

#age_id {
  width: 100px;
}
.age_floater {
  width: 100px;
  margin-left: 74px;
}
.business-level {
 margin-bottom: 45px!important;
}
.profile-body #form {
}
.second-level li {
  padding: 12px;
  background-color: transparent;
  border-bottom: solid 1px #FFF;
  border-radius: 50px 0 0 60px;
}
.second-level-icons:after, #right_stats_holder, .image_cutter {
  display: block;
}
.profile_info {
  padding: 0 100px 75px;
}
.profile-body .page-wrapper .container {
 padding: 0 35px;
}
#header #profile_menu { display:none; }
.profile_view {
  margin-top: 168px;
}
.profile-body .row.first-level, .profile-body .profile-header { display:block; }
#profile-logo {
  margin: 0;
}
.nav>li.desk_only {
 display:inline-block;
}
.mob_only, .login-li.hidden-lg, #ProfilemobileArrowToggle {
 display:none!important;
}
#page-title h1.keywords {
  display:block;
  line-height: 1.1em;
  text-align: left;
}
li.keywords {
  display:block;
}
#side-search, #escort_side-search {
  margin-bottom: 57px;
}
#close_left_pull {
 top: 40px;
 right: 40px;
}
#left_pull_filters {
  padding-left: 40px;
}
header {
  position: relative;
}
.dropdown-menu li {
  background: #191818;
  width: 189px;
}
.dropdown-menu li {
 background-color: none;
}
.dropdown-menu li a {
  font-size: 15px;
}
.nav>li a {
  padding: 25px;
  border-bottom: 1px solid #5D5353;
}
.navbar-nav>li:hover .dropdown-menu {
 display:block;
}
#header, .header-style-01 {
 border-bottom: 2px solid #2A1313;
}
.navbar-nav>li {
  float:left;
  width:auto;
}
#header .nav.navbar-nav  {
  position: relative;
  z-index: 1;
  background: none;
  top:0;
  margin-top:0;
  overflow: visible;
  width:auto;
}
#page-title .profile-image img  {
 border:none!important;
 width:100%;
 vertical-align: middle;
}
.nav>li a {
  padding: 10px 15px;
  border-bottom: none;
}
.nav>li:first-child {
  margin-top: 0;
}
#main_image {
  margin-top: 100px;
  margin-bottom: -122px;
}
#home_page_welcome {
  margin-top: -300px;
}
.brothel_ad {
  background-color: #E2DEDE;
  width: 100%;
  padding: 75px;
  margin: 90px 0 60px;
}
.bottom_content h5 {
  font-size: 47px;
}
#myToggleFilters {
 display:none;
}
#banner_container {
  margin-top: 219px;
}
body.escort-single .view {
  padding-top: 219px !important;
}
#page-title.page-title-1 {
  padding-top: 24px;
  margin-top: 100px;
}
#page-title .container {
 margin-top:20px;
}
#center.homeview {
  padding-top: 0px!important;
}
#unavailable h6 {    margin-top: 120px;
  font-size: 26px;
  margin-top:60px;
}
.col-xl-15.escorts-wishlist {
 height: 460px;
}
#page-title h1 {
 font-size: 37px;
}
#_right_floater, #top-bar { display:block;}
#top-bar li  { display:inline; }
#header .nav.navbar-nav {
  display: block;
  width: 854px;
  margin: 0 auto;
  float: none;
}
}
@media only screen and (max-device-width: 1024px) and (min-device-width: 481px) and (orientation: portrait){
  #featured-escorts .escorts-img-container {
    max-width: none;
  }
}
@media(min-width:1200px) {

  input.form-control[name=full_name] { background: #F6F6F6 url( '/assets/frontend/img/inputIcons.jpg') no-repeat right 0; }
  input.form-control[name=phone] { background: #F6F6F6 url('/assets/frontend/img/inputIcons.jpg') no-repeat right -34px; }
  input.form-control[name=email] { background: #F6F6F6 url( '/assets/frontend/img/inputIcons.jpg') no-repeat right -68px; }
  input.form-control[name=password], input.form-control[name=password_confirmation] { background: #F6F6F6 url( '/assets/frontend/img/inputIcons.jpg') no-repeat right -102px; }

  .gallery-element {
   width: 12.5%;
 }
 .back-end #process-items {
   margin: 40px 0 40px;
 }
 .profile-body .page-wrapper .container {
   padding: 0 85px;
 }
 .col-lg-3 {
  width: 25%;
}
#main_image {
  margin-top: 46px;
  margin-bottom: -68px;
}
#featured-escorts .container {
  margin-top: 6px!important;
}
#page-title.page-title-1 {
  padding-top: 10px;
  margin-top: 46px;
}
#header .nav.navbar-nav {
  margin-top: 35px;
  width: auto;
  float: right;
}
body.escort-single .view {
  padding-top: 165px!important;
}
#unavailable h6 {
  font-size: 26px;
  margin-top:35px;
}
.col-xl-15.escorts-wishlist {
 height: 385px;
}
.owl-wrapper {
  height: 361px;
}
#banner_container {
  margin-top: 90px;
}
#logo {
  margin: 0;
  display: block;
  float: left;
  width: auto;
}
}
@media (min-width: 1600px) {
  .gallery-element {
    width: 12.5%;
  }
  #banner_container {
    padding-bottom: 50px;
  }
  #featured-escorts .col-md-2 {
   padding: 25px;
 }
 li.keywords {
  width: 700px;
  margin-top: 45px;
}
#logo img {
  width: 327px;
  height: auto;
  margin-top: -7px;
}
.unavailable_girl:nth-child(5) {
 display:block;
}
.owl-wrapper {
  height: 485px;
}
.container {
 width: 1500px;
}
.col-xl-9 {
  width: 75%;
  float: left;
  padding: 25px;
}
.col-xl-3 {
  width: 25%;
  float: left;
  padding: 25px;
}
.col-xl-15 {
  width: 20%;
  float: left;
  padding: 25px;
}
}
.pricing-page-container{
  margin-top: 50px;
}
.pricing-col-container-outer-left, .pricing-col-container-inner, .pricing-col-container-outer-right {
  width: 70%;
  margin: 0 15%;
}
.pricing-col-text-container h3, .pricing-col-price-container h4, .pricing-col-text-container p {
  text-align: center;
  color: #fff;
  width: 90%;
  margin: 0 5%;
  padding: 5px 0;
  font-family: 'Raleway',Arial,sans-serif;
  font-weight: 400;
}
.pricing-col-container-inner .pricing-col-text-container {
  height: 356px;
}
.pricing-col-text-container h3 {
  font-family: 'Roboto Slab', serif;
  padding: 0 0 20px;
  font-weight: 400;
}
.pricing-col-price-container{
  padding: 10px 0;
  background-color: #00cfaa;
}
.pricing-col-container-outer-left .pricing-col-text-container,.pricing-col-container-outer-right .pricing-col-text-container{
  height: 326px;
}
.pricing-col-text-container{
  background-color: #2a2828;
  padding: 20px 0;
}
.pricing-btn {
  padding: 10px 50px;
  display: block;
  margin: 40px auto 40px;
  border: none;
  background-color: #960303;
  color: #fff;
  font-size: 20px;
  font-family: 'Roboto Slab', serif;
  font-weight: 400;
}
.pricing-page-container h5 {
  text-align: center;
  margin: 40px auto 10px;
  font-size: 22px;
  font-weight: 400;
  font-family: 'Roboto Slab', serif;
  color: #333;
}
.pricing-container-black-top{
  height: 10px;
  background-color: #000;
}
.pricing-col-container-outer-left,.pricing-col-container-outer-right{
  margin-top: 30px;
}
.pricing-col-price-container h4 {
  font-size: 20px;
}
#accordion > li > div {
  display: block;
}
#accordion .more {
  display: none;
}

.profile-name h2 {
  color: #fff;
  font-size: 42px;
  line-height: 20px;
  font-weight: 300;
  margin-bottom: 20px;
}
.escort-single .about-me h3 {
  font-size: 24px;
  font-style: italic;
  font-weight: 600;
  margin-bottom: 20px;
  line-height: 25px;
}
body.escort-single h4,.escort-services-title-p {
  font-style: italic;
  font-size: 20px;
  font-weight: 600;
  color: #383232 !important;
  margin-bottom: 0;
}
.escort-services-title-p {
  font-size: 16px !important;
  font-style: normal !important;
}
.business-page-escort-container {
  height: auto !important;
  padding: 0 !important;
}


@media screen and (max-width: 1199px) {
  .pricing-col-container-outer-left, .pricing-col-container-inner, .pricing-col-container-outer-right {
    margin: 30px 15%;
  }
}
@media screen and (max-width: 1024px) {
  .showPageLogo {
    width: 40%;
    margin: 20px auto;
    display: block;
  }
}
@media screen and (max-width: 991px) {
  #reviewHolder {
    margin: 20px 5%;
  }
}
@media screen and (max-width: 767px) {
  #adultPressad {
    padding: 83px 0;
    width: 100%;
    display: block;
    margin: 0 auto;
  }
  .showPageLogo {
    width: 55%;
  }
  #showEscort {
    margin-top: -270px;
  }
}
@media screen and (max-width: 500px) {
  .showPageLogo {
    width: 90%;
  }
  .pricing-col-container-outer-left, .pricing-col-container-inner, .pricing-col-container-outer-right {
    width: 100%;
    margin: 30px 0%;
  }
  .pricing-col-container-inner .pricing-col-text-container, .pricing-col-container-outer-left .pricing-col-text-container, .pricing-col-container-outer-right .pricing-col-text-container {
    height: auto;
  }
}