@charset "UTF-8";
/* CSS Document */

* {
	  box-sizing: border-box;
	  font-family: 'Helvetica Neue', 'Helvetica', 'Open Sans', 'Arial', sans-serif;
	  font-weight: 300;
	}
	
	a {
	  text-decoration: none;
	  color: #F55;
	}
	
	p {
	  font-size: 1.1em;
	  margin: 1em 0;
	}
	
	.description {
	  margin: 1em auto 2.25em;
	}
	
	body {
	  width: 60%;
	  min-width: 300px;
	  max-width: 1200px;
	  margin: 1.5em auto;
	  color: #333;
	}
	
	h1 {
	  font-family: 'Helvetica Neue', 'Helvetica', 'Open Sans', 'Arial', sans-serif;
	  font-weight: 400;
	  font-size: 2.5em;
	}
	
	ul {
	  list-style: none;
	  padding: 0;
	}
	
	ul .inner {
	  padding-left: 1em;
	  overflow: hidden;
	  display: none;
	}
	
	ul .inner.show {
	  /*display: block;*/
	}
	
	ul li {
	  margin: .5em 0;
	}
	
	ul li a.toggle {
	  width: 100%;
	  display: block;
	  background: rgba(0, 0, 0, 0.78);
	  color: #fefefe;
	  padding: .75em;
	  border-radius: 0.15em;
	  transition: background .3s ease;
	  text-transform: uppercase;
	}
	
	ul li a.toggle:hover {
	  background: rgba(0, 0, 0, 0.9);
	}