.escort-about-me-text {
	word-wrap:break-word!important;
}

.escort-services-container-bottom p {
	word-wrap:break-word!important;
}

.button-mobile-container {
	position: relative;
    width: 100%;
    background-color: #000;
    text-align: center;
    display: inline-flex;
	padding: 0;
	clear: both;
	z-index: 20;
}

.nav-button-mobile {
    text-align: center;
    width: 20%;
	vertical-align: middle;
}

.nav-button-mobile a {
	font-size: 15px;
	font-family: 'Josefin Sans','Open Sans', Helvetica, Arial, sans-serif;
	color: #FFF;
}

.advertise-button-mobile {
    background-color: #D00A0A !important;
    text-align: center;
    display: inline;
    width: 60%;
	vertical-align: middle;
}

.advertise-button-mobile a {
    font-size: 15px;
    font-family: 'Josefin Sans','Open Sans', Helvetica, Arial, sans-serif;
	color: #fff;
}

.advertise-button-mobile2 {
    text-align: center;
    background-color: #D00A0A;
    padding: 15px 30px 15px 30px;
    display: inline;
}

.advertise-button-mobile2 a {
    font-size: 20px;
    font-family: 'Josefin Sans','Open Sans', Helvetica, Arial, sans-serif;
	color: #fff;
	background-color: #D00A0A;
}

.topbar-buttons-style a {
	margin: 0 10px 0 10px; 
	font-family: 'Josefin Sans','Open Sans', Helvetica, Arial, sans-serif !important;
	text-align: right;
}

#_rf_search2 {
	background: url(/assets/frontend/img/icons/right_floater.png) no-repeat 0 0;
	background-size: 25px;
    display: block;
    width: 25px;
    height: 25px;
	position: relative;
	bottom: -25px !important;
}

#_rf_search2:hover {
	background: url(/assets/frontend/img/icons/right_floater.png) no-repeat 0 0;
	background-size: 25px;
	opacity: 0.6;
}


@media (min-width: 1024px) {
	.button-mobile-container {
		display: none;
	}
}

@media (max-width: 1024px){
	#header {		
		padding: 0!important;		
	}

	.advertise-button-mobile2 {
		display: none;
	}
	
	.arrowToggle:after {
		top: -25px !important;
		position: relative;
	}
}

@media (max-width: 560px){
	.advertise-button-mobile a {
		font-size: small;
		margin: 0 5 0 5;
	}
	.nav-button-mobile a {
		font-size: small;
		margin: 0 5 0 5;
	}
}

@media (min-width: 561px) {
	.page-title-1 {
		padding-top: 40px !important;
	}
}

.adContainer { padding: 0 10%; }
.adSpace img {
  width:100%;
  display:block;
  margin-bottom: 35px;
}
.ratesSpan {
    width: 222px;
}
.ad4 { z-index: 100; }
@media (min-width: 768px){
.adSpace img { margin-bottom: 0px; }
.adContainer { padding: 0 15px; }
.ad5 {  left: 109%; }
.absAdSpace {
    position: absolute;
    bottom: 0;
    width: 32.6%;
}
}
@media (min-width: 1200px){
.ad5 {  left: 107%; }
.absAdSpace {
      width: 32.8%; }
}
@media (min-width: 1600px){
.ad5 {  left: 106%; }
}
#iframeDisabler {
 position: fixed;
 top: 0;
 left: 0;
 right: 0;
 bottom: 0;
 width: 100%;
 height: 100%;
 z-index: 100000000000;
}
.adContainer { margin: 150px auto;position: relative; }
.top-content strong {
    font-weight: 700;
    font-size: 22px;
}
.top-content p {
    margin: 15px 0;
    font-family: Raleway;
    color: #222;
    font-size: 16px;
}
.top-content {
    margin: 20px 0;
}
.adSpace { position:relative; }
#trigger-overlay-mobile { display:none; }
.location-select-search-city-mobile, #postcode { margin: 15px 0;}
.close {
    float: right;
    font-size: 36px;
    font-weight: 700;
    line-height: 1;
    color: #423434;
    text-shadow: 0 1px 0 #fff;
    filter: alpha(opacity=20);
    opacity: 3.2;
}
@media (max-width: 1024px){
.top-content {
    display:none;
  }
  #signup .modal-header p {
    font-size: 22px;
    margin: 0;
}
  .signup-container .control-group {
    width: 100%!important;
    margin: -15px auto!important;
}
#signup .modal-body input.form-control {
    margin: 15px 0;
}
#signup {
    position: fixed;
    }
	
	#signup input[type="checkbox"] {
		display: inline-block !important;
		margin-left: -20px !important;
		-ms-transform: scale(1) !important;
		-moz-transform: scale(3.5) !important;
		-webkit-transform: scale(1) !important;
		-o-transform: scale(1) !important;
		margin-right: 0px;
		padding: 0px !important;
	}
	
	#signup input[type="checkbox"]:before {
		content: "";
		background-color: #F44 !important;
		display: inline-block !important;
		visibility: visible;
	}
	
#signup-form .submit-button {
    background: #730F0F;
    margin-top: 0;
	}
#signup-form input { 
	border: 1px solid #666;
	}
  .tab_headers { overflow:visible; width: 100%; margin:0;}
  .tb_tabs { border-top: none; padding-top: 0;}
.signup-container #tb_escort, .signup-container #tb_business, .signup-container #tb_customer {
    background: #D8D0D0;
    border-radius: 50%;
    width: 35px;
    height: 35px;
    display: block;
    float: none;
    clear: both;
    margin: 15px!important;
    border:1px solid #666;
}
.signup-container #tb_escort.tb_active, .signup-container #tb_business.tb_active , .signup-container #tb_customer.tb_active  { background-color: darkRed; }
#tb_escort::after, #tb_business::after, #tb_customer::after{
    display: block;
    content: 'Escort';
    color: #222;
    font-size: 21px;
    margin-left: 50px;
    margin-top: 3px;
 }
 #tb_business::after { content: 'Business'; }
 #tb_customer::after{ content: 'Customer'; }
.signup-container .large_only { display:none!important; }
   .location-select-search-city-mobile, #postcode {
    display: none!important;
   }
   #canvas {
         margin-top: -50px;
   }
   #map-ok{
     width: 112px;
    margin: 15px auto;
    display: block;
    float: none;
    float: none!important;
   }
   #canvas label {
     text-align: center;
    width: 100%;
   }
   #canvas select {
     display: block;
    width: 70%;
    clear: both;
    margin: 5px 15% 15px;
    }
   }
}
