.escort_profile_form .alignc {
	text-align:center
}

.escort_profile_form #availabilityForm .alignc {
	margin-bottom: 10px!important;
}

.escort_profile_form #availabilityForm .alignc .submit-button{
	margin-bottom:0px!important;
}

.escort_profile_form #galleryForm .alignc .submit-button{
	margin-bottom:0px!important;
}

.escort_profile_form .alignc .submit-button{
	margin-top:5px!important;
	margin-bottom:30px!important;
	display:inline-block!important
}

.escort_profile_form .previous-button{
	background:#0866c6!important
}

@media screen and (max-width: 1024px) {
	.escort_profile_form  #profileDetails {
		margin-top: -40px;
	}
}

.dashLoader {
display:none; 
}
.gallery .delete_image {
    z-index: 97;
}
.gallery .main_image:after {
    z-index: 100;
}
#addImage #galleryLoadingMobile {
    height: 0;
    margin: 0;
}
#galleryLoadingMobile {
    width: 100%;
    height: 8px;
    margin-top: 20px;
    border-radius: 2px;
    position: relative;
}
#galleryLoadingMobile:after {
    position: absolute;
    top: 0;
    left: 0;
    background-color: #149E72;
    content: '';
    display:block;
    border-radius: 4px 0 0 4px;
    height: 8px; 
}
#dashOverlay {
	position:fixed;
	background: #fff;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	position:fixed;
	opacity: .6;
	z-index:10000000;
}

.spinner {
  top:40%;
  width: 60px;
  height: 60px;
  position: relative;
  text-align: center;
  position:fixed;
  left:50%;
  margin-left:-30px;
  z-index:10000001;
  
  -webkit-animation: sk-rotate 2.0s infinite linear;
  animation: sk-rotate 2.0s infinite linear;
}
.dot1, .dot2 {
  width: 60%;
  height: 60%;
  display: inline-block;
  position: absolute;
  top: 0;
  background-color: #951010;
  border-radius: 100%;
  
  -webkit-animation: sk-bounce 2.0s infinite ease-in-out;
  animation: sk-bounce 2.0s infinite ease-in-out;
}

.dot2 {
  top: auto;
  bottom: 0;
  -webkit-animation-delay: -1.0s;
  animation-delay: -1.0s;
}

@-webkit-keyframes sk-rotate { 100% { -webkit-transform: rotate(360deg) }}
@keyframes sk-rotate { 100% { transform: rotate(360deg); -webkit-transform: rotate(360deg) }}

@-webkit-keyframes sk-bounce {
  0%, 100% { -webkit-transform: scale(0.0) }
  50% { -webkit-transform: scale(1.0) }
}

@keyframes sk-bounce {
  0%, 100% { 
    transform: scale(0.0);
    -webkit-transform: scale(0.0);
    } 50% { 
      transform: scale(1.0);
      -webkit-transform: scale(1.0);
    }
  }
  @-webkit-keyframes load3 {
    0% {
      -webkit-transform: rotate(0deg);
      transform: rotate(0deg);
    }
    100% {
      -webkit-transform: rotate(360deg);
      transform: rotate(360deg);
    }
  }
  @keyframes load3 {
    0% {
      -webkit-transform: rotate(0deg);
      transform: rotate(0deg);
    }
    100% {
      -webkit-transform: rotate(360deg);
      transform: rotate(360deg);
    }
  }
  @media screen and (max-width: 1200px) {
#navigateThroughProfile {     
    text-align: center;
    font-size: 24px;
    cursor: pointer; }
.mPProfileTopMenu { display:none; }
	.gallery .make_main {
		z-index: 1;
	}
	.desktop_only{ display:none; }
	.gallery .delete_image { display:block;}
.mPProfileTopMenu > div {
    width: 100%;
}
.mPProfileTopMenu > div > div {
  margin: 0 0 0 25px;
  display: inline-block;
}
.mPProfileTopMenu span {
    display: block;
    width: 100%;
    text-align: center;
    margin-top: 7px;
    font: 16px Raleway, sans-serif;
    height: 80px;
    padding-top: 30px;
    margin-top: -80px;
    padding-left: 45px;
    border-bottom: 1px solid #666;
}
}
  @media screen and (min-width: 1200px) {
	.mobile_only{ display:none; }
}
@media screen and (max-width: 321px) {
	#logo img {
		height: auto;
		max-width: 100%;
		display: block;
		margin: 0 auto;
		padding: 0 10px;
	}

}