#s2id_searchSuburbs {
    font-size: 16px;
	width: 70%;
	height: 25px;
	padding-top: 0px;
	margin-top: -17px;
	margin-left: 9px;
}

#s2id_searchSuburbs .select2-choice {
	border: none;
	background-color: transparent;
	background-image: none;
	-webkit-box-shadow: none;
	box-shadow: none;
}

#s2id_searchSuburbs .select2-arrow {
	display: none;
}

#s2id_searchSuburbs .select2-chosen {
	color: #000000;
}