.crop-it-container {
  position: relative;
  background: #000; }
  .crop-it-container * {
    box-sizing: border-box; }
  .crop-it-container .cropper {
    position: absolute;
    border: 1px solid #fff;
    cursor: pointer;
    z-index: 100; }
  .crop-it-container .crop-area {
    position: absolute;
    overflow: hidden;
    width: 100%;
    height: 100%; }
    .crop-it-container .crop-area img {
      margin: -1px;
      position: absolute;
      max-width: none !important; }
    .crop-it-container .crop-area .rule-of-thirds {
      position: absolute;
      background-color: #fff; }
      .crop-it-container .crop-area .rule-of-thirds.vertical-1, .crop-it-container .crop-area .rule-of-thirds.vertical-2 {
        width: 1px;
        top: 0;
        bottom: 0; }
      .crop-it-container .crop-area .rule-of-thirds.vertical-1 {
        left: 33.333333333%; }
      .crop-it-container .crop-area .rule-of-thirds.vertical-2 {
        right: 33.333333333%; }
      .crop-it-container .crop-area .rule-of-thirds.horizontal-1, .crop-it-container .crop-area .rule-of-thirds.horizontal-2 {
        height: 1px;
        left: 0;
        right: 0; }
      .crop-it-container .crop-area .rule-of-thirds.horizontal-1 {
        top: 33.333333333%; }
      .crop-it-container .crop-area .rule-of-thirds.horizontal-2 {
        bottom: 33.333333333%; }
  .crop-it-container .crop-handles {
    width: 100%;
    height: 100%; }
    .crop-it-container .crop-handles .handle {
      width: 20px;
      height: 20px;
      background: #fff;
      position: absolute;
      z-index: 1000;
      border-radius: 50%;
      box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.5); }
      .crop-it-container .crop-handles .handle.top, .crop-it-container .crop-handles .handle.right, .crop-it-container .crop-handles .handle.bottom, .crop-it-container .crop-handles .handle.left {
        width: 10px;
        height: 10px;
        background: rgba(0, 0, 0, 0.5);
        border: 1px solid #fff;
        border-radius: 0; }
      .crop-it-container .crop-handles .handle.top {
        cursor: n-resize;
        top: -5px;
        margin-left: -5px;
        left: 50%; }
      .crop-it-container .crop-handles .handle.top-right {
        cursor: ne-resize;
        top: -10px;
        right: -10px; }
      .crop-it-container .crop-handles .handle.right {
        cursor: e-resize;
        top: 50%;
        margin-top: -5px;
        right: -5px; }
      .crop-it-container .crop-handles .handle.bottom-right {
        cursor: se-resize;
        bottom: -10px;
        right: -10px; }
      .crop-it-container .crop-handles .handle.bottom {
        cursor: s-resize;
        bottom: -5px;
        margin-left: -5px;
        left: 50%; }
      .crop-it-container .crop-handles .handle.bottom-left {
        cursor: sw-resize;
        bottom: -10px;
        left: -10px; }
      .crop-it-container .crop-handles .handle.left {
        cursor: w-resize;
        top: 50%;
        margin-top: -5px;
        left: -5px; }
      .crop-it-container .crop-handles .handle.top-left {
        cursor: nw-resize;
        top: -10px;
        left: -10px; }
  .crop-it-container img {
    width: 100%;
    opacity: 1;
    -webkit-transition: opacity 0.3s ease;
    -moz-transition: opacity 0.3s ease;
    -o-transition: opacity 0.3s ease;
    transition: opacity 0.3s ease;
    margin: 0;
    padding: 0;
    border: none; }
  .crop-it-container.crop-active {
    cursor: crosshair; }
  .crop-it-container .size-hint {
    position: absolute;
    top: 1px;
    left: 1px;
    color: #FFF;
    background: rgba(0, 0, 0, 0.7);
    padding: 2px 3px;
    border-radius: 4px;
    text-shadow: 0 -1px 0 #000;
    font-size: 12px;
    -webkit-transition: opacity 0.4s ease;
    -moz-transition: opacity 0.4s ease;
    -o-transition: opacity 0.4s ease;
    transition: opacity 0.4s ease; }

.cropper-loading .crop-loader {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 40px;
  height: 46px;
  z-index: 101;
  border-color: #B52E31;
  border-style: solid;
  border-width: 4px;
  margin-left: -20px;
  margin-top: -23px;
  -webkit-animation: crop-loader 4s infinite ease;
  animation: crop-loader 4s infinite ease; }
  .cropper-loading .crop-loader .crop-loader-inner {
    vertical-align: top;
    display: inline-block;
    width: 100%;
    background-color: #F6F6F6;
    -webkit-animation: crop-loader-inner 4s infinite ease-in;
    animation: crop-loader-inner 4s infinite ease-in; }
.cropper-loading:before {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  content: "";
  background: #fff;
  z-index: 101; }

@-webkit-keyframes crop-loader {
  0% {
    transform: rotate(0deg); }
  25% {
    transform: rotate(180deg); }
  50% {
    transform: rotate(180deg); }
  75% {
    transform: rotate(360deg); }
  100% {
    transform: rotate(360deg); } }
@keyframes crop-loader {
  0% {
    transform: rotate(0deg); }
  25% {
    transform: rotate(180deg); }
  50% {
    transform: rotate(180deg); }
  75% {
    transform: rotate(360deg); }
  100% {
    transform: rotate(360deg); } }
@-webkit-keyframes loader-inner {
  0% {
    height: 0%; }
  25% {
    height: 0%; }
  50% {
    height: 100%; }
  75% {
    height: 100%; }
  100% {
    height: 0%; } }
@keyframes crop-loader-inner {
  0% {
    height: 0%; }
  25% {
    height: 0%; }
  50% {
    height: 100%; }
  75% {
    height: 100%; }
  100% {
    height: 0%; } }

/*# sourceMappingURL=angular.cropper.css.map */

