/*! angular-spinkit 2016-02-22 */
.chasing-dots-spinner {
  margin: 100px auto;
  width: 40px;
  height: 40px;
  position: relative;
  text-align: center;
  -webkit-animation: rotate 2s infinite linear;
  animation: rotate 2s infinite linear; }

.dot1, .dot2 {
  width: 60%;
  height: 60%;
  display: inline-block;
  position: absolute;
  top: 0;
  background-color: #333;
  border-radius: 100%;
  -webkit-animation: bounce 2s infinite ease-in-out;
  animation: bounce 2s infinite ease-in-out; }

.dot2 {
  top: auto;
  bottom: 0;
  -webkit-animation-delay: -1s;
  animation-delay: -1s; }

@-webkit-keyframes rotate {
  100% {
    -webkit-transform: rotate(360deg); } }
@keyframes rotate {
  100% {
    transform: rotate(360deg);
    -webkit-transform: rotate(360deg); } }
@-webkit-keyframes bounce {
  0%,100% {
    -webkit-transform: scale(0); }
  50% {
    -webkit-transform: scale(1); } }
@keyframes bounce {
  0%,100% {
    transform: scale(0);
    -webkit-transform: scale(0); }
  50% {
    transform: scale(1);
    -webkit-transform: scale(1); } }
.spinning-dots-spinner {
  margin: 100px auto;
  width: 20px;
  height: 20px;
  position: relative; }

.container1 > div, .container2 > div, .container3 > div {
  width: 6px;
  height: 6px;
  background-color: #333;
  border-radius: 100%;
  position: absolute;
  -webkit-animation: bouncedelay 1.2s infinite ease-in-out;
  animation: bouncedelay 1.2s infinite ease-in-out;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both; }

.spinning-dots-spinner .spinner-container {
  position: absolute;
  width: 100%;
  height: 100%; }

.container2 {
  -webkit-transform: rotateZ(45deg);
  transform: rotateZ(45deg); }

.container3 {
  -webkit-transform: rotateZ(90deg);
  transform: rotateZ(90deg); }

.circle1 {
  top: 0;
  left: 0; }

.circle2 {
  top: 0;
  right: 0; }

.circle3 {
  right: 0;
  bottom: 0; }

.circle4 {
  left: 0;
  bottom: 0; }

.container2 .circle1 {
  -webkit-animation-delay: -1.1s;
  animation-delay: -1.1s; }

.container3 .circle1 {
  -webkit-animation-delay: -1s;
  animation-delay: -1s; }

.container1 .circle2 {
  -webkit-animation-delay: -.9s;
  animation-delay: -.9s; }

.container2 .circle2 {
  -webkit-animation-delay: -.8s;
  animation-delay: -.8s; }

.container3 .circle2 {
  -webkit-animation-delay: -.7s;
  animation-delay: -.7s; }

.container1 .circle3 {
  -webkit-animation-delay: -.6s;
  animation-delay: -.6s; }

.container2 .circle3 {
  -webkit-animation-delay: -.5s;
  animation-delay: -.5s; }

.container3 .circle3 {
  -webkit-animation-delay: -.4s;
  animation-delay: -.4s; }

.container1 .circle4 {
  -webkit-animation-delay: -.3s;
  animation-delay: -.3s; }

.container2 .circle4 {
  -webkit-animation-delay: -.2s;
  animation-delay: -.2s; }

.container3 .circle4 {
  -webkit-animation-delay: -.1s;
  animation-delay: -.1s; }

@-webkit-keyframes bouncedelay {
  0%,100%,80% {
    -webkit-transform: scale(0); }
  40% {
    -webkit-transform: scale(1); } }
@keyframes bouncedelay {
  0%,100%,80% {
    transform: scale(0);
    -webkit-transform: scale(0); }
  40% {
    transform: scale(1);
    -webkit-transform: scale(1); } }
.double-bounce-spinner {
  width: 40px;
  height: 40px;
  position: relative;
  margin: 100px auto; }

.double-bounce1, .double-bounce2 {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background-color: #333;
  opacity: .6;
  position: absolute;
  top: 0;
  left: 0;
  -webkit-animation: bounce 2s infinite ease-in-out;
  animation: bounce 2s infinite ease-in-out; }

.double-bounce2 {
  -webkit-animation-delay: -1s;
  animation-delay: -1s; }

@-webkit-keyframes bounce {
  0%,100% {
    -webkit-transform: scale(0); }
  50% {
    -webkit-transform: scale(1); } }
@keyframes bounce {
  0%,100% {
    transform: scale(0);
    -webkit-transform: scale(0); }
  50% {
    transform: scale(1);
    -webkit-transform: scale(1); } }
.pulse-spinner {
  width: 40px;
  height: 40px;
  margin: 100px auto;
  background-color: #333;
  border-radius: 100%;
  -webkit-animation: scaleout 1s infinite ease-in-out;
  animation: scaleout 1s infinite ease-in-out; }

@-webkit-keyframes scaleout {
  0% {
    -webkit-transform: scale(0); }
  100% {
    -webkit-transform: scale(1);
    opacity: 0; } }
@keyframes scaleout {
  0% {
    transform: scale(0);
    -webkit-transform: scale(0); }
  100% {
    transform: scale(1);
    -webkit-transform: scale(1);
    opacity: 0; } }
.three-dots-row-spinner {
  width: 30px;
  height: 30px;
  background-color: #333;
  margin: 100px auto;
  -webkit-animation: rotateplane 1.2s infinite ease-in-out;
  animation: rotateplane 1.2s infinite ease-in-out; }

@-webkit-keyframes rotateplane {
  0% {
    -webkit-transform: perspective(120px); }
  50% {
    -webkit-transform: perspective(120px) rotateY(180deg); }
  100% {
    -webkit-transform: perspective(120px) rotateY(180deg) rotateX(180deg); } }
@keyframes rotateplane {
  0% {
    transform: perspective(120px) rotateX(0deg) rotateY(0deg);
    -webkit-transform: perspective(120px) rotateX(0deg) rotateY(0deg); }
  50% {
    transform: perspective(120px) rotateX(-180.1deg) rotateY(0deg);
    -webkit-transform: perspective(120px) rotateX(-180.1deg) rotateY(0deg); }
  100% {
    transform: perspective(120px) rotateX(-180deg) rotateY(-179.9deg);
    -webkit-transform: perspective(120px) rotateX(-180deg) rotateY(-179.9deg); } }
.wandering-cubes-spinner {
  margin: 100px auto;
  width: 32px;
  height: 32px;
  position: relative; }

.wandering-cubes-spinner:after, .wandering-cubes-spinner:before {
  content: '';
  background-color: #333;
  width: 10px;
  height: 10px;
  position: absolute;
  top: 0;
  left: 0;
  -webkit-animation: cubemove 1.8s infinite ease-in-out;
  animation: cubemove 1.8s infinite ease-in-out; }

.wandering-cubes-spinner:after {
  -webkit-animation-delay: -.9s;
  animation-delay: -.9s; }

@-webkit-keyframes cubemove {
  25% {
    -webkit-transform: translateX(22px) rotate(-90deg) scale(0.5); }
  50% {
    -webkit-transform: translateX(22px) translateY(22px) rotate(-180deg); }
  75% {
    -webkit-transform: translateX(0px) translateY(22px) rotate(-270deg) scale(0.5); }
  100% {
    -webkit-transform: rotate(-360deg); } }
@keyframes cubemove {
  25% {
    transform: translateX(42px) rotate(-90deg) scale(0.5);
    -webkit-transform: translateX(42px) rotate(-90deg) scale(0.5); }
  50% {
    transform: translateX(42px) translateY(42px) rotate(-179deg);
    -webkit-transform: translateX(42px) translateY(42px) rotate(-179deg); }
  50.1% {
    transform: translateX(42px) translateY(42px) rotate(-180deg);
    -webkit-transform: translateX(42px) translateY(42px) rotate(-180deg); }
  75% {
    transform: translateX(0px) translateY(42px) rotate(-270deg) scale(0.5);
    -webkit-transform: translateX(0px) translateY(42px) rotate(-270deg) scale(0.5); }
  100% {
    transform: rotate(-360deg);
    -webkit-transform: rotate(-360deg); } }
.wave-spinner {
  margin: 100px auto;
  width: 50px;
  height: 30px;
  text-align: center;
  font-size: 10px; }

.wave-spinner > div {
  background-color: #333;
  height: 100%;
  width: 6px;
  display: inline-block;
  -webkit-animation: stretchdelay 1.2s infinite ease-in-out;
  animation: stretchdelay 1.2s infinite ease-in-out; }

.wave-spinner .rect2 {
  -webkit-animation-delay: -1.1s;
  animation-delay: -1.1s; }

.wave-spinner .rect3 {
  -webkit-animation-delay: -1s;
  animation-delay: -1s; }

.wave-spinner .rect4 {
  -webkit-animation-delay: -.9s;
  animation-delay: -.9s; }

.wave-spinner .rect5 {
  -webkit-animation-delay: -.8s;
  animation-delay: -.8s; }

@-webkit-keyframes stretchdelay {
  0%,100%,40% {
    -webkit-transform: scaleY(0.4); }
  20% {
    -webkit-transform: scaleY(1); } }
@keyframes stretchdelay {
  0%,100%,40% {
    transform: scaleY(0.4);
    -webkit-transform: scaleY(0.4); }
  20% {
    transform: scaleY(1);
    -webkit-transform: scaleY(1); } }
.three-bounce-spinner {
  margin: 100px auto 0;
  width: 70px;
  text-align: center; }

.three-bounce-spinner > div {
  width: 18px;
  height: 18px;
  background-color: #333;
  border-radius: 100%;
  display: inline-block;
  -webkit-animation: bouncedelay 1.4s infinite ease-in-out both;
  animation: bouncedelay 1.4s infinite ease-in-out both; }

.three-bounce-spinner .bounce1 {
  -webkit-animation-delay: -.32s;
  animation-delay: -.32s; }

.three-bounce-spinner .bounce2 {
  -webkit-animation-delay: -.16s;
  animation-delay: -.16s; }

@-webkit-keyframes bouncedelay {
  0%,100%,80% {
    -webkit-transform: scale(0); }
  40% {
    -webkit-transform: scale(1); } }
@keyframes bouncedelay {
  0%,100%,80% {
    transform: scale(0);
    -webkit-transform: scale(0); }
  40% {
    transform: scale(1);
    -webkit-transform: scale(1); } }
.cube-grid-spinner {
  width: 30px;
  height: 30px;
  margin: 100px auto; }

.cube {
  width: 33%;
  height: 33%;
  background: #333;
  float: left;
  -webkit-animation: scaleDelay 1.3s infinite ease-in-out;
  animation: scaleDelay 1.3s infinite ease-in-out; }

.cube-grid-spinner .cube:nth-child(1) {
  -webkit-animation-delay: .2s;
  animation-delay: .2s; }

.cube-grid-spinner .cube:nth-child(2) {
  -webkit-animation-delay: .3s;
  animation-delay: .3s; }

.cube-grid-spinner .cube:nth-child(3) {
  -webkit-animation-delay: .4s;
  animation-delay: .4s; }

.cube-grid-spinner .cube:nth-child(4) {
  -webkit-animation-delay: .1s;
  animation-delay: .1s; }

.cube-grid-spinner .cube:nth-child(5) {
  -webkit-animation-delay: .2s;
  animation-delay: .2s; }

.cube-grid-spinner .cube:nth-child(6) {
  -webkit-animation-delay: .3s;
  animation-delay: .3s; }

.cube-grid-spinner .cube:nth-child(7) {
  -webkit-animation-delay: 0s;
  animation-delay: 0s; }

.cube-grid-spinner .cube:nth-child(8) {
  -webkit-animation-delay: .1s;
  animation-delay: .1s; }

.cube-grid-spinner .cube:nth-child(9) {
  -webkit-animation-delay: .2s;
  animation-delay: .2s; }

@-webkit-keyframes scaleDelay {
  0%,100%,70% {
    -webkit-transform: scale3D(1, 1, 1); }
  35% {
    -webkit-transform: scale3D(0, 0, 1); } }
@keyframes scaleDelay {
  0%,100%,70% {
    -webkit-transform: scale3D(1, 1, 1);
    transform: scale3D(1, 1, 1); }
  35% {
    -webkit-transform: scale3D(1, 1, 1);
    transform: scale3D(0, 0, 1); } }
.word-press-spinner {
  background: #333;
  width: 30px;
  height: 30px;
  display: inline-block;
  border-radius: 30px;
  position: relative;
  -webkit-animation: inner-circle 1s linear infinite;
  animation: inner-circle 1s linear infinite; }

.inner-circle {
  display: block;
  background: #fff;
  width: 8px;
  height: 8px;
  position: absolute;
  border-radius: 8px;
  top: 5px;
  left: 5px; }

@-webkit-keyframes inner-circle {
  0% {
    -webkit-transform: rotate(0); }
  100% {
    -webkit-transform: rotate(360deg); } }
@keyframes inner-circle {
  0% {
    transform: rotate(0);
    -webkit-transform: rotate(0); }
  100% {
    transform: rotate(360deg);
    -webkit-transform: rotate(360deg); } }
.fading-circle-spinner {
  margin: 100px auto;
  width: 22px;
  height: 22px;
  position: relative; }

.fading-circle {
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0; }

.fading-circle:before {
  content: '';
  display: block;
  margin: 0 auto;
  width: 18%;
  height: 18%;
  background-color: #333;
  border-radius: 100%;
  -webkit-animation: fadedelay 1.2s infinite ease-in-out both;
  animation: fadedelay 1.2s infinite ease-in-out both; }

.fading-circle2 {
  transform: rotate(30deg);
  -webkit-transform: rotate(30deg); }

.fading-circle3 {
  transform: rotate(60deg);
  -webkit-transform: rotate(60deg); }

.fading-circle4 {
  transform: rotate(90deg);
  -webkit-transform: rotate(90deg); }

.fading-circle5 {
  transform: rotate(120deg);
  -webkit-transform: rotate(120deg); }

.fading-circle6 {
  transform: rotate(150deg);
  -webkit-transform: rotate(150deg); }

.fading-circle7 {
  transform: rotate(180deg);
  -webkit-transform: rotate(180deg); }

.fading-circle8 {
  transform: rotate(210deg);
  -webkit-transform: rotate(210deg); }

.fading-circle9 {
  transform: rotate(240deg);
  -webkit-transform: rotate(240deg); }

.fading-circle10 {
  transform: rotate(270deg);
  -webkit-transform: rotate(270deg); }

.fading-circle11 {
  transform: rotate(300deg);
  -webkit-transform: rotate(300deg); }

.fading-circle12 {
  transform: rotate(330deg);
  -webkit-transform: rotate(330deg); }

.fading-circle2:before {
  animation-delay: -1.1s;
  -webkit-animation-delay: -1.1s; }

.fading-circle3:before {
  animation-delay: -1s;
  -webkit-animation-delay: -1s; }

.fading-circle4:before {
  animation-delay: -.9s;
  -webkit-animation-delay: -.9s; }

.fading-circle5:before {
  animation-delay: -.8s;
  -webkit-animation-delay: -.8s; }

.fading-circle6:before {
  animation-delay: -.7s;
  -webkit-animation-delay: -.7s; }

.fading-circle7:before {
  animation-delay: -.6s;
  -webkit-animation-delay: -.6s; }

.fading-circle8:before {
  animation-delay: -.5s;
  -webkit-animation-delay: -.5s; }

.fading-circle9:before {
  animation-delay: -.4s;
  -webkit-animation-delay: -.4s; }

.fading-circle10:before {
  animation-delay: -.3s;
  -webkit-animation-delay: -.3s; }

.fading-circle11:before {
  animation-delay: -.2s;
  -webkit-animation-delay: -.2s; }

.fading-circle12:before {
  animation-delay: -.1s;
  -webkit-animation-delay: -.1s; }

@-webkit-keyframes fadedelay {
  0%,100%,39% {
    opacity: 0; }
  40% {
    opacity: 1; } }
@keyframes fadedelay {
  0%,100%,39% {
    opacity: 0; }
  40% {
    opacity: 1; } }

/*# sourceMappingURL=angular-spinkit.css.map */

