/*--------------Mixins-------------------
---------------------------------------------*/
.no_padding {
  padding: 0; }

#_mp_brand_container {
  background: #930505;
  position: relative;
  overflow: hidden; }

#_mp_areaName {
  color: #fff;
  font-family: Roboto Slab, serif;
  text-align: center;
  font-size: 28px;
  display: table-row;
  v-align: middle;
  height: 90px; }

#_mp_areaName span {
  display: table-cell;
  vertical-align: middle;
  padding-left: 20px; }

#logo {
  width: 110px;
  height: 90px;
  padding: 10px;
  float: left;
  overflow: hidden;
  position: relative;
  border-right: 1px solid #761313; }

#logo img {
  display: block;
  margin: 0 auto; }

#_mp_prof_header {
  width: 100%;
  height: 90px;
  background-color: #1e1d1d;
  position: fixed;
  right: 0;
  z-index: -1; }

#profile_dropdown {
  padding: 0;
  margin: 0;
  float: right;
  margin-right: 67px;
  color: #fff;
  margin-top: 32px;
  font: 22px Roboto Slab, serif; }

#_mp_img_holder {
  width: 50px;
  height: 50px;
  overflow: hidden;
  border-radius: 50%;
  float: left;
  margin-left: 20px;
  margin-right: 20px;
  margin-top: -9px; }

#profile_dropdown img {
  width: auto;
  height: auto;
  display: block;
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  max-height: 500%;
  max-width: 500%; }

.top_header {
  position: fixed;
  width: 100%;
  height: 90px;
  z-index: 10000; }

.main_content {
  margin-top: 90px; }

.left_header {
  z-index: 3; }

.right_header {
  z-index: 2; }

/**--------------Common-------
-----------------------------------*/
h2 {
  font: 26px Raleway, sans-serif; }

h3 {
  font: 35px Roboto Slab, serif;
  margin-top: 5px; }

h4 {
  margin: 16px 0 4px;
  font: 30px Raleway, sans-serif; }

.full_width {
  width: 100%; }

/**--------Side Menu----------
----------------------------------*/
#_mpMenu {
  width: 110px;
  background-color: #171515;
  color: #fff;
  position: relative;
  float: left;
  clear: both;
  font-family: Raleway, sans-serif;
  padding-bottom: 100px;
  cursor: pointer;
  z-index: 102;
  min-height: 100%; }

._mPIcon:before {
  margin: 0 auto;
  content: '';
  display: block;
  width: 54px;
  height: 54px;
  background: transparent url("/assets/dashboard/images/profileSprites.png") no-repeat 0 0; }

._mPIcon {
  font-size: 18px;
  text-align: center;
  height: 110px;
  padding-top: 20px; }

._mPIcon:hover {
  color: #930505; }

.mPActiveIcon {
  background-color: #2F2B2B; }

.mPActiveIcon:hover {
  color: #fff !important; }

#_MpProfile:before {
  background-position: center -216px; }

#_MpReviews:before {
  background-position: center -432px; }

#_MpPlaymail:before {
  background-position: center -327px; }

#_MpAccount:before {
  background-position: center -110px; }

#_MpPayments:before {
  background-position: center -538px; }

#_MpEscorts:before {
  background-position: center -645px;
  height: 65px; }

#_MpOverview:hover:before {
  background-position: center -54px; }

#_MpProfile:hover:before {
  background-position: center -270px; }

#_MpReviews:hover:before {
  background-position: center -486px; }

#_MpPlaymail:hover:before {
  background-position: center -380px; }

#_MpAccount:hover:before {
  background-position: center -164px; }

#_MpPayments:hover:before {
  background-position: center -592px; }

#_MpEscorts:hover:before {
  background-position: center -710px;
  height: 65px; }

#_MpOverview.mPActiveIcon:hover:before {
  background-position: center 0; }

#_MpProfile:mPActiveIcon:hover:before {
  background-position: center -216px; }

#_MpReviews.mPActiveIcon:hover:before {
  background-position: center -432px; }

#_MpPlaymail.mPActiveIcon:hover:before {
  background-position: center -327px; }

#_MpAccount.mPActiveIcon:hover:before {
  background-position: center -110px; }

#_MpPayments.mPActiveIcon:hover:before {
  background-position: center -538px; }

#_MpEscorts.mPActiveIcon:hover:before {
  background-position: center -645px;
  height: 65px; }

/*--------------------------Panel area
----------------------------------------------------*/
.panelFixed {
  position: fixed;
  z-index: 10;
  bottom: 0;
  left: 0;
  top: 90px; }

._mp_button {
  background-color: red;
  background: transparent;
  border: none;
  color: #fff;
  padding: 8px 22px;
  display: block;
  margin: 10px auto;
  font: 22px Raleway, sans-serif; }

._mp_button.active {
  background-color: #930505;
  border-radius: 3px; }

._MpDetailArea {
  background-color: #2F2B2B; }

.panelController {
  float: left;
  display: block;
  color: #fff;
  width: 306px;
  text-align: center;
  padding: 45px 20px 20px 130px;
  font: 22px Roboto Slab, serif;
  width: 100%;
  position: absolute; }

.panelController.loading:before {
  content: '';
  display: block;
  background: #fff;
  opacity: .6;
  width: 50000000px;
  height: 100%;
  position: fixed;
  left: 110px;
  right: -100000px;
  top: 90px;
  bottom: 0;
  z-index: 100; }

.panelController.loading:after {
  content: '';
  display: block;
  width: 100px;
  height: 100px;
  z-index: 101;
  position: fixed;
  left: 50%;
  top: 50%;
  margin-top: -100px;
  margin-left: -50px;
  background: transparent url("/assets/dashboard/images/tail-spin.svg") no-repeat 0 0;
  background-size: cover; }

._mpStatus {
  width: 64px;
  height: 64px;
  background: transparent url("/assets/dashboard/images/statusSprite.png") no-repeat 0 0;
  display: block;
  margin: 34px auto; }

#mpPending, #mpUnavailable {
  background-position: center -64px; }

#mpDisapproved {
  background-position: center -128px; }

._mpPosition {
  background-color: #171515;
  display: block;
  padding: 10px 10px 20px;
  margin-top: 20px; }

#_mpProfile {
  margin-top: 35px;
  font: 18px raleway;
  line-height: 2em; }

.escortTabContainer {
  width: 100%;
  padding: 15px 15px 15px 128px;
  border-bottom: 2px solid black;
  cursor: pointer; }

.escortTab {
  max-width: 100%;
  padding: 0;
  position: relative;
  overflow: hidden;
  display: table; }

.escortTab div {
  width: 75px;
  height: 75px;
  overflow: hidden;
  border-radius: 50%;
  float: left; }

.escortTab span {
  color: #fff;
  font-size: 22px;
  v-align: middle;
  vertical-align: middle;
  display: table-cell;
  padding-left: 25px;
  padding-bottom: 5px; }

.escortTab div img {
  width: 100%;
  height: auto;
  margin: 0 auto; }

.escortContainer {
  padding-top: 35px; }

.escortTabContainer:hover {
  background-color: #171515; }

.escortTabContainer.current:hover {
  background-color: #efefef; }

.escortTabContainer.current {
  background-color: #efefef;
  border-bottom: 2px solid #761313;
  color: #222; }

.escortTabContainer.current span {
  color: #222; }

/*---------------------Screens
---------------------------------------------------*/
.screen > div {
  padding: 35px 30px 600px; }

._MpoffWhite {
  background-color: #efefef;
  padding: 35px 50px !important; }

._MplightGrey {
  background-color: #dbdbdb; }

.message {
  font-size: 18px;
  margin: 10px 0;
  padding: 13px;
  border-radius: 6px; }

.success {
  border: 2px solid #6BBF6B; }

.error {
  border: 2px solid red; }

._mpEscortContainer {
  background-color: #BDB1B1;
  padding: 10px;
  margin-bottom: 35px;
  overflow: hidden; }

._mpEscortImage {
  float: left;
  clear: both;
  width: 100px;
  height: 100px;
  border-radius: 50%;
  overflow: hidden; }

._mpEscortStats {
  font: 20px Roboto Slab, serif;
  text-indent: 25px; }

._mpStatsSpan {
  margin-left: 25px; }

#_mpPlan {
  width: 132px;
  height: 132px;
  background: transparent url("/assets/dashboard/images/plan.png") no-repeat 0 0;
  display: block;
  float: left;
  margin-right: 15px; }

#_mpBusinessPlan h5 {
  color: #930505;
  font-size: 28px;
  font-family: Roboto Slab;
  font-weight: 400;
  padding-top: 20px;
  margin-bottom: 0; }

#_mpBusinessPlan h3 {
  margin-top: -6px; }

._mpPlanInfo {
  font: 23px Raleway, sans-serif;
  text-align: center;
  width: 80%;
  margin-left: 10%;
  margin-top: 30px;
  padding-top: 30px; }

#_mpBusinessPlan button {
  border: none;
  background: #930505;
  color: #fff;
  font-size: 30px;
  padding: 10px 32px;
  border-radius: 3px;
  margin: 35px auto;
  display: block; }

/*-----------Profile ------*/
.businessProfileScreen h3 {
  font: 31px Raleway, sans-serif;
  clear: both;
  text-align: center;
  padding-top: 25px;
  width: 60%;
  margin: 0 auto 60px;
  border-bottom: 1px solid grey;
  padding-bottom: 22px; }

.businessProfileScreen > div:first-child {
  background-color: #FFFFFF;
  width: 100%;
  overflow: hidden;
  padding: 10px 50px 0;
  border-bottom: 1px solid #ccc; }

.businessProfileScreen h2 {
  float: left;
  margin-top: 31px;
  margin-bottom: 0;
  color: #3E0B0B;
  font-size: 32px; }

.businessProfileScreen {
  padding: 0 !important; }

.businessProfileScreen p {
  font-size: 18px;
  text-align: center;
  font-family: raleway; }

.bottom_inputs {
  padding-right: 25px; }

.mPProfileTopMenu > div {
  float: left;
  margin: 0;
  width: 152px; }

.mPProfileTopMenu span {
  display: block;
  width: 100%;
  text-align: center;
  margin-top: 7px;
  font: 16px Raleway, sans-serif; }

.mPProfileTopMenu div div {
  width: 67px;
  height: 67px;
  background: #fff url("/assets/dashboard/images/ProfileIconsSprite.png") no-repeat 0 0;
  border-radius: 50%;
  margin: 0 auto;
  border: 1px solid #CAC4C4;
  cursor: pointer; }

.mPProfileTopMenu div div.active {
  border: 2px solid #D63131; }

#mpBasicInfo {
  background-position: 0 -260px; }

#mpBasicInfo.active {
  background-position: 0 -195px; }

#mpProfileDetails {
  background-position: 0 -650px; }

#mpProfileDetails.active {
  background-position: 0 -780px; }

#mpAvailability {
  background-position: 0 -1040px; }

#mpAvailability.active {
  background-position: 0 -1105px; }

#mpGallery {
  background-position: 0 -845px; }

#mpGallery.active {
  background-position: 0 -975px; }

#mpPayment {
  background-position: 0 -455px; }

#mpPayment.active {
  background-position: 0 -585px; }

._mpProfile_holder {
  padding: 0 50px 0;
  display: block;
  position: relative;
  float: none;
  clear: both;
  padding-bottom: 300px; }

.mPProfileTopMenu.group-3 {
  width: 456px;
  float: right;
  margin-bottom: 10px; }

form#businessInfo {
  width: 100%;
  clear: both;
  float: none; }

.mp_image_float {
  width: 30%;
  float: left;
  overflow: hidden; }

.mp_image_float span {
  font: 18px Raleway, sans-serif;
  margin-top: 10px;
  display: block;
  margin-bottom: 25px; }

.right_float {
  width: 69%;
  float: right;
  padding: 0 25px; }

.right_float:after, .mp_image_float:after {
  clear: both;
  float: none;
  content: '';
  display: block; }

form#businessInfo input, .profileForm input {
  width: 100%;
  border: 1px solid #9E9595;
  border-radius: 3px;
  padding: 9px 17px;
  margin-bottom: 20px;
  font: 18px Raleway, sans-serif; }

form#businessInfo label, .profileForm label {
  font: 18px Raleway;
  margin-right: 25px; }

.clear {
  clear: both;
  float: none;
  display: block;
  width: 100%;
  position: relative;
  overflow: hidden; }

.mPProfileTopMenu {
  float: right; }

form#businessInfo select, .profileForm select {
  width: 30% !important;
  text-align: right;
  padding: 6px 20px;
  border: none;
  border-radius: 3px;
  background-color: #FFFFFF;
  color: #020202;
  font: 18px Raleway;
  border: 1px solid #9E9595;
  padding-bottom: 10px;
  display: block;
  float: right;
  margin-top: -95px; }

form#businessInfo .submit-button, .profileForm .submit-button, form#profileDetails .submit-button, form#payment .submit-button {
  width: 197px;
  margin: 0 auto;
  display: block;
  margin-top: 35px;
  border: none;
  background-color: #930505;
  color: #fff;
  font-size: 22px;
  padding: 9px 17px;
  border-radius: 3px;
  font: 18px Raleway, sans-serif;
  margin-bottom: 60px; }

#busLogo {
  cursor: pointer; }

#container_image {
  width: 334px !important;
  height: 228px !important;
  margin-bottom: 41px;
  overflow: hidden; }

#cover_image {
  width: 100% !important;
  height: 0px !important;
  border-radius: 3px;
  padding-bottom: 38%;
  background-repeat: no-repeat !important;
  background-position: center center !important; }

#tab_mpProfileDetails span {
  display: block;
  font-size: 22px;
  text-align: center;
  margin: 10px 0 30px; }

textarea {
  border: 1px solid #797171;
  width: 100%;
  margin-top: 30px;
  border-radius: 3px;
  padding: 15px; }

input[name=file-image] {
  width: 100% !important;
  height: 100% !important;
  cursor: pointer !important; }

#age_id, #escort_age {
  float: left;
  margin-top: 0; }

#escort_age {
  margin-top: 8px; }

#age_id {
  width: 100px !important; }

#escLocationField {
  width: 30%;
  float: left;
  margin-left: 10px; }

#postcode {
  width: 200px;
  margin-left: 10px; }

#sex input {
  width: auto !important; }

.form_required:after {
  color: red;
  content: '*';
  display: inline-block;
  font-size: 1.3em; }

.normalSelects select {
  margin-top: 0;
  margin-bottom: 20px;
  float: left;
  width: 211px !important; }

.normalSelects .col-md-6 label {
  float: left;
  margin-top: 9px;
  width: 150px; }

#heightSelect {
  clear: both;
  float: none;
  height: 18px;
  background-color: #D63131; }

#heightSelectlabel {
  margin-bottom: 5px;
  border: 1px solid red;
  width: 67px;
  line-height: 20px;
  position: relative;
  text-align: center;
  margin-top: 30px;
  margin-bottom: 16px;
  padding: 4px;
  border: none;
  background-color: #dbdbdb;
  color: darkRed;
  margin-bottom: 4px;
  left: -13px; }

#heightSelectlabel:before {
  content: '';
  display: block;
  width: 0;
  height: 0;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-top: 5px solid #cdcbcb;
  position: absolute;
  top: 100%;
  left: 20%; }

.heightInfo {
  font-size: 20px;
  padding-top: 77px;
  margin-bottom: 50px; }

.heightReadable {
  color: darkRed;
  display: inline !important; }

.ui-slider-handle:after {
  content: '';
  display: block;
  background-color: #564E4E;
  width: 100000000%;
  position: absolute;
  height: 18px;
  left: 100%;
  margin-top: 5px;
  margin-left: 1px; }

.centeredLabel {
  display: block;
  width: 100%;
  clear: both;
  float: none;
  text-align: center;
  padding-top: 30px; }

.ui-slider-handle {
  margin-top: 0px !important;
  background-color: #D63131 !important;
  border: 1px solid #fff;
  border: 2px solid #fff !important;
  width: 30px !important;
  height: 30px !important;
  border-radius: 50% !important;
  z-index: 10000 !important; }

#heightContainer, #heightLabelContainer {
  max-width: 1084px;
  overflow: hidden;
  margin: 0 auto;
  padding: 19px; }

.headerLabel {
  text-transform: uppercase;
  font-size: 20px !important; }

#heightLabelContainer {
  overflow: visible;
  padding: 0 19px; }

input.checkbox {
  width: auto !important; }

.serviceLabel {
  padding-top: 0;
  display: inline;
  font-size: 15px !important; }

.serviceArray {
  padding-top: 30px; }
  .serviceArray .col-md-3 {
    padding-bottom: 8px; }

/*---------------------Availabilites-------------*/
#availabilityForm input.roundedOne {
  width: 21px !important;
  height: 21px !important;
  position: relative;
  margin: 20px auto;
  background: #fcfff4;
  background: linear-gradient(top, #fcfff4 0%, #dfe5d7 40%, #b3bead 100%);
  border-radius: 50px; }
  #availabilityForm input.roundedOne label {
    width: 20px !important;
    height: 20px !important;
    position: absolute;
    top: 4px;
    left: 4px;
    cursor: pointer;
    background: linear-gradient(top, #222 0%, #45484d 100%);
    border-radius: 50px; }
    #availabilityForm input.roundedOne label:after {
      content: '';
      width: 9px;
      height: 5px;
      position: absolute;
      top: 5px;
      left: 4px;
      border: 3px solid #fcfff4;
      border-top: none;
      border-right: none;
      background: transparent;
      opacity: 0;
      transform: rotate(-45deg); }
    #availabilityForm input.roundedOne label:hover::after {
      opacity: 0.3; }
  #availabilityForm input.roundedOne input[type=checkbox] {
    visibility: hidden; }
    #availabilityForm input.roundedOne input[type=checkbox]:checked + label:after {
      opacity: 1; }

.radio.roundedOne {
  margin-top: 8px !important; }

.col-md-6 label {
  width: auto !important; }

.availDaysLabel {
  margin-left: 19px;
  text-transform: uppercase;
  vertical-align: middle;
  padding-bottom: 28px;
  display: inline-block;
  margin-top: 14px; }

/* end .roundedOne */
.profileTable {
  width: 80%;
  margin: 35px auto 65px;
  width: 80%;
  margin: 35px auto;
  background-color: #dbdbdb;
  border: 1px solid #cdcbcb; }
  .profileTable th {
    padding: 27px 40px;
    font: 20px Raleway, sans-serif;
    color: #222;
    font-weight: 400;
    border-bottom: 1px solid #cdcbcb; }
  .profileTable td:first-child {
    padding-left: 40px; }
  .profileTable td:last-child {
    padding-right: 40px; }
  .profileTable .am_select {
    width: 100px !important; }
  .profileTable tbody > tr:first-child > td {
    padding-top: 30px; }
  .profileTable select {
    margin-bottom: 0; }
  .profileTable tbody tr:last-child td {
    padding-bottom: 55px; }
  .profileTable select[disabled] {
    background-color: #cdcbcb;
    color: #cdcbcb; }

#availabilityForm input[type="radio"] {
  width: auto !important;
  float: left;
  vertical-align: middle;
  margin-bottom: 0;
  margin-top: 14px;
  margin-left: 20px;
  margin-right: 10px; }

.ratesTable {
  width: 90%;
  margin: 45px 0;
  font-size: 26px;
  position: relative; }
  .ratesTable input {
    width: auto;
    float: left;
    height: 32px; }
  .ratesTable label {
    margin: 0 0 0 20px; }
  .ratesTable span {
    float: left;
    margin-right: 10px; }

.table2 {
  margin-left: 10%; }

.disabledTable:after {
  content: '';
  display: block;
  position: absolute;
  z-index: 1000;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: #191616;
  opacity: .8; }

/*---------------------Escorts--------------------*/
#_mpEscortMenu {
  width: 100%;
  background-color: #cdcbcb;
  font: 22px Roboto Slab, serif;
  overflow: hidden; }
  #_mpEscortMenu ul {
    float: right;
    padding: 0;
    margin-right: 35px; }
  #_mpEscortMenu ul li {
    display: inline-block;
    cursor: pointer;
    padding: 6px 22px;
    border-radius: 3px;
    width: 159px;
    text-align: center; }
  #_mpEscortMenu span {
    margin-top: 20px;
    display: block;
    float: left;
    margin-left: 35px;
    font-size: 30px; }
  #_mpEscortMenu ul li:hover {
    color: #fff;
    background-color: #171515; }
  #_mpEscortMenu .active, #_mpEscortMenu .active:hover {
    color: #fff;
    background-color: #761313; }

iframe#viewEscort {
  width: 95%;
  margin-left: 2.5%;
  margin-top: 20px;
  height: 1000px;
  border: 1px solid #cdcbcb; }

/*---------------Image uploader-----------*/
.picture-element-principal {
  background-size: cover !important; }

#button_crop_original, #SelectOrientacao, #SelectProporcao {
  display: none !important; }

.ui-widget {
  z-index: 3 !important; }

.picture-element-image {
  width: 100% !important;
  height: auto !important; }

#button_crop_recortar {
  background-color: #761313;
  border: none;
  color: #fff;
  padding: 6px 26px;
  border-radius: 3px;
  font: 18px Raleway, sans-serif;
  margin: 0 auto;
  display: block;
  font: 18px Raleway, sans-serif; }

#Painel .col-md-8 {
  width: 100% !important; }

#Principal img {
  min-width: 100%;
  height: auto !important; }

#Principal {
  min-width: 100%; }

.ui-dialog {
  height: auto !important;
  width: 1478px !important;
  top: 50px !important;
  left: 213.5px !important;
  display: block !important;
  max-height: 90% !important;
  overflow: auto !important; }

/*---------------Auto address field-------*/
#address_line_2 {
  width: 68% !important; }

#map {
  width: 100%;
  height: 300px; }

.bottom_inputs #street_number {
  width: 10%;
  float: left; }
.bottom_inputs #route {
  width: 68%;
  float: left;
  margin: 0 1%; }
.bottom_inputs #locality {
  width: 20%;
  float: left; }
.bottom_inputs #administrative_area_level_1 {
  width: 20%;
  float: left; }
.bottom_inputs #postal_code {
  width: 10%;
  float: left;
  margin: 0 1%; }
.bottom_inputs #country {
  width: 40%; }

.bottom_inputs span {
  display: block;
  float: none;
  clear: both;
  font-size: 18px;
  margin-bottom: 10px; }

/*----------------------Profile tabs------------------------------
----------------------------------------------------------------------*/
.mPtab {
  display: none; }

.activeTab {
  display: block; }

/*# sourceMappingURL=compiled.css.map */

