/* no-gutters Class Rules */
.row.no-gutters {
   margin-right: 0;
   margin-left: 0;
}
.row.no-gutters > [class^="col-"],
.row.no-gutters > [class*=" col-"] {
   padding-right: 0;
   padding-left: 0;
}

.sex-group div {
	display: inline-block;
}
 
 #age_id {
	 margin: 0;
 }

#bannerDelete {
  text-align: center;
  cursor: pointer; 
}

.no-display-before:before {
	display: none!important;
}

.business_profile_form .alignc{text-align:center}.alignc .submit-button{margin-bottom:0!important}.business_profile_form .alignc .submit-button{margin-top:5px!important;margin-bottom:30px!important;display:inline-block!important}.business_profile_form .previous-button{background:#0866c6!important}
.escort_profile_form .alignc{text-align:center}.escort_profile_form #availabilityForm .alignc{margin-bottom:10px!important}.escort_profile_form #availabilityForm .alignc .submit-button,.escort_profile_form #galleryForm .alignc .submit-button{margin-bottom:0!important}.escort_profile_form .alignc .submit-button{margin-top:5px!important;margin-bottom:30px!important;display:inline-block!important}.escort_profile_form .previous-button{background:#0866c6!important}@media screen and (max-width:1024px){.escort_profile_form #profileDetails{margin-top:-40px}}

/*--Include dependencies
--*/
img-crop {
  width: 100%;
  height: 100%;
  display: block;
  position: relative;
  overflow: hidden; }
  img-crop canvas {
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    outline: none;
    -webkit-tap-highlight-color: rgba(255, 255, 255, 0);
    /* mobile webkit */ }

/*! angular-spinkit 2016-02-22 */
.chasing-dots-spinner {
  margin: 100px auto;
  width: 40px;
  height: 40px;
  position: relative;
  text-align: center;
  -webkit-animation: rotate 2s infinite linear;
  animation: rotate 2s infinite linear; }

.dot1, .dot2 {
  width: 60%;
  height: 60%;
  display: inline-block;
  position: absolute;
  top: 0;
  background-color: #333;
  border-radius: 100%;
  -webkit-animation: bounce 2s infinite ease-in-out;
  animation: bounce 2s infinite ease-in-out; }

.dot2 {
  top: auto;
  bottom: 0;
  -webkit-animation-delay: -1s;
  animation-delay: -1s; }

@-webkit-keyframes rotate {
  100% {
    -webkit-transform: rotate(360deg); } }
@keyframes rotate {
  100% {
    transform: rotate(360deg);
    -webkit-transform: rotate(360deg); } }
@-webkit-keyframes bounce {
  0%,100% {
    -webkit-transform: scale(0); }
  50% {
    -webkit-transform: scale(1); } }
@keyframes bounce {
  0%,100% {
    transform: scale(0);
    -webkit-transform: scale(0); }
  50% {
    transform: scale(1);
    -webkit-transform: scale(1); } }
.spinning-dots-spinner {
  margin: 100px auto;
  width: 20px;
  height: 20px;
  position: relative; }

.container1 > div, .container2 > div, .container3 > div {
  width: 6px;
  height: 6px;
  background-color: #333;
  border-radius: 100%;
  position: absolute;
  -webkit-animation: bouncedelay 1.2s infinite ease-in-out;
  animation: bouncedelay 1.2s infinite ease-in-out;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both; }

.spinning-dots-spinner .spinner-container {
  position: absolute;
  width: 100%;
  height: 100%; }

.container2 {
  -webkit-transform: rotateZ(45deg);
  transform: rotateZ(45deg); }

.container3 {
  -webkit-transform: rotateZ(90deg);
  transform: rotateZ(90deg); }

.circle1 {
  top: 0;
  left: 0; }

.circle2 {
  top: 0;
  right: 0; }

.circle3 {
  right: 0;
  bottom: 0; }

.circle4 {
  left: 0;
  bottom: 0; }

.container2 .circle1 {
  -webkit-animation-delay: -1.1s;
  animation-delay: -1.1s; }

.container3 .circle1 {
  -webkit-animation-delay: -1s;
  animation-delay: -1s; }

.container1 .circle2 {
  -webkit-animation-delay: -.9s;
  animation-delay: -.9s; }

.container2 .circle2 {
  -webkit-animation-delay: -.8s;
  animation-delay: -.8s; }

.container3 .circle2 {
  -webkit-animation-delay: -.7s;
  animation-delay: -.7s; }

.container1 .circle3 {
  -webkit-animation-delay: -.6s;
  animation-delay: -.6s; }

.container2 .circle3 {
  -webkit-animation-delay: -.5s;
  animation-delay: -.5s; }

.container3 .circle3 {
  -webkit-animation-delay: -.4s;
  animation-delay: -.4s; }

.container1 .circle4 {
  -webkit-animation-delay: -.3s;
  animation-delay: -.3s; }

.container2 .circle4 {
  -webkit-animation-delay: -.2s;
  animation-delay: -.2s; }

.container3 .circle4 {
  -webkit-animation-delay: -.1s;
  animation-delay: -.1s; }

@-webkit-keyframes bouncedelay {
  0%,100%,80% {
    -webkit-transform: scale(0); }
  40% {
    -webkit-transform: scale(1); } }
@keyframes bouncedelay {
  0%,100%,80% {
    transform: scale(0);
    -webkit-transform: scale(0); }
  40% {
    transform: scale(1);
    -webkit-transform: scale(1); } }
.double-bounce-spinner {
  width: 40px;
  height: 40px;
  position: relative;
  margin: 100px auto; }

.double-bounce1, .double-bounce2 {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background-color: #333;
  opacity: .6;
  position: absolute;
  top: 0;
  left: 0;
  -webkit-animation: bounce 2s infinite ease-in-out;
  animation: bounce 2s infinite ease-in-out; }

.double-bounce2 {
  -webkit-animation-delay: -1s;
  animation-delay: -1s; }

@-webkit-keyframes bounce {
  0%,100% {
    -webkit-transform: scale(0); }
  50% {
    -webkit-transform: scale(1); } }
@keyframes bounce {
  0%,100% {
    transform: scale(0);
    -webkit-transform: scale(0); }
  50% {
    transform: scale(1);
    -webkit-transform: scale(1); } }
.pulse-spinner {
  width: 40px;
  height: 40px;
  margin: 100px auto;
  background-color: #333;
  border-radius: 100%;
  -webkit-animation: scaleout 1s infinite ease-in-out;
  animation: scaleout 1s infinite ease-in-out; }

@-webkit-keyframes scaleout {
  0% {
    -webkit-transform: scale(0); }
  100% {
    -webkit-transform: scale(1);
    opacity: 0; } }
@keyframes scaleout {
  0% {
    transform: scale(0);
    -webkit-transform: scale(0); }
  100% {
    transform: scale(1);
    -webkit-transform: scale(1);
    opacity: 0; } }
.three-dots-row-spinner {
  width: 30px;
  height: 30px;
  background-color: #333;
  margin: 100px auto;
  -webkit-animation: rotateplane 1.2s infinite ease-in-out;
  animation: rotateplane 1.2s infinite ease-in-out; }

@-webkit-keyframes rotateplane {
  0% {
    -webkit-transform: perspective(120px); }
  50% {
    -webkit-transform: perspective(120px) rotateY(180deg); }
  100% {
    -webkit-transform: perspective(120px) rotateY(180deg) rotateX(180deg); } }
@keyframes rotateplane {
  0% {
    transform: perspective(120px) rotateX(0deg) rotateY(0deg);
    -webkit-transform: perspective(120px) rotateX(0deg) rotateY(0deg); }
  50% {
    transform: perspective(120px) rotateX(-180.1deg) rotateY(0deg);
    -webkit-transform: perspective(120px) rotateX(-180.1deg) rotateY(0deg); }
  100% {
    transform: perspective(120px) rotateX(-180deg) rotateY(-179.9deg);
    -webkit-transform: perspective(120px) rotateX(-180deg) rotateY(-179.9deg); } }
.wandering-cubes-spinner {
  margin: 100px auto;
  width: 32px;
  height: 32px;
  position: relative; }

.wandering-cubes-spinner:after, .wandering-cubes-spinner:before {
  content: '';
  background-color: #333;
  width: 10px;
  height: 10px;
  position: absolute;
  top: 0;
  left: 0;
  -webkit-animation: cubemove 1.8s infinite ease-in-out;
  animation: cubemove 1.8s infinite ease-in-out; }

.wandering-cubes-spinner:after {
  -webkit-animation-delay: -.9s;
  animation-delay: -.9s; }

@-webkit-keyframes cubemove {
  25% {
    -webkit-transform: translateX(22px) rotate(-90deg) scale(0.5); }
  50% {
    -webkit-transform: translateX(22px) translateY(22px) rotate(-180deg); }
  75% {
    -webkit-transform: translateX(0px) translateY(22px) rotate(-270deg) scale(0.5); }
  100% {
    -webkit-transform: rotate(-360deg); } }
@keyframes cubemove {
  25% {
    transform: translateX(42px) rotate(-90deg) scale(0.5);
    -webkit-transform: translateX(42px) rotate(-90deg) scale(0.5); }
  50% {
    transform: translateX(42px) translateY(42px) rotate(-179deg);
    -webkit-transform: translateX(42px) translateY(42px) rotate(-179deg); }
  50.1% {
    transform: translateX(42px) translateY(42px) rotate(-180deg);
    -webkit-transform: translateX(42px) translateY(42px) rotate(-180deg); }
  75% {
    transform: translateX(0px) translateY(42px) rotate(-270deg) scale(0.5);
    -webkit-transform: translateX(0px) translateY(42px) rotate(-270deg) scale(0.5); }
  100% {
    transform: rotate(-360deg);
    -webkit-transform: rotate(-360deg); } }
.wave-spinner {
  margin: 100px auto;
  width: 50px;
  height: 30px;
  text-align: center;
  font-size: 10px; }

.wave-spinner > div {
  background-color: #333;
  height: 100%;
  width: 6px;
  display: inline-block;
  -webkit-animation: stretchdelay 1.2s infinite ease-in-out;
  animation: stretchdelay 1.2s infinite ease-in-out; }

.wave-spinner .rect2 {
  -webkit-animation-delay: -1.1s;
  animation-delay: -1.1s; }

.wave-spinner .rect3 {
  -webkit-animation-delay: -1s;
  animation-delay: -1s; }

.wave-spinner .rect4 {
  -webkit-animation-delay: -.9s;
  animation-delay: -.9s; }

.wave-spinner .rect5 {
  -webkit-animation-delay: -.8s;
  animation-delay: -.8s; }

@-webkit-keyframes stretchdelay {
  0%,100%,40% {
    -webkit-transform: scaleY(0.4); }
  20% {
    -webkit-transform: scaleY(1); } }
@keyframes stretchdelay {
  0%,100%,40% {
    transform: scaleY(0.4);
    -webkit-transform: scaleY(0.4); }
  20% {
    transform: scaleY(1);
    -webkit-transform: scaleY(1); } }
.three-bounce-spinner {
  margin: 100px auto 0;
  width: 70px;
  text-align: center; }

.three-bounce-spinner > div {
  width: 18px;
  height: 18px;
  background-color: #333;
  border-radius: 100%;
  display: inline-block;
  -webkit-animation: bouncedelay 1.4s infinite ease-in-out both;
  animation: bouncedelay 1.4s infinite ease-in-out both; }

.three-bounce-spinner .bounce1 {
  -webkit-animation-delay: -.32s;
  animation-delay: -.32s; }

.three-bounce-spinner .bounce2 {
  -webkit-animation-delay: -.16s;
  animation-delay: -.16s; }

@-webkit-keyframes bouncedelay {
  0%,100%,80% {
    -webkit-transform: scale(0); }
  40% {
    -webkit-transform: scale(1); } }
@keyframes bouncedelay {
  0%,100%,80% {
    transform: scale(0);
    -webkit-transform: scale(0); }
  40% {
    transform: scale(1);
    -webkit-transform: scale(1); } }
.cube-grid-spinner {
  width: 30px;
  height: 30px;
  margin: 100px auto; }

.cube {
  width: 33%;
  height: 33%;
  background: #333;
  float: left;
  -webkit-animation: scaleDelay 1.3s infinite ease-in-out;
  animation: scaleDelay 1.3s infinite ease-in-out; }

.cube-grid-spinner .cube:nth-child(1) {
  -webkit-animation-delay: .2s;
  animation-delay: .2s; }

.cube-grid-spinner .cube:nth-child(2) {
  -webkit-animation-delay: .3s;
  animation-delay: .3s; }

.cube-grid-spinner .cube:nth-child(3) {
  -webkit-animation-delay: .4s;
  animation-delay: .4s; }

.cube-grid-spinner .cube:nth-child(4) {
  -webkit-animation-delay: .1s;
  animation-delay: .1s; }

.cube-grid-spinner .cube:nth-child(5) {
  -webkit-animation-delay: .2s;
  animation-delay: .2s; }

.cube-grid-spinner .cube:nth-child(6) {
  -webkit-animation-delay: .3s;
  animation-delay: .3s; }

.cube-grid-spinner .cube:nth-child(7) {
  -webkit-animation-delay: 0s;
  animation-delay: 0s; }

.cube-grid-spinner .cube:nth-child(8) {
  -webkit-animation-delay: .1s;
  animation-delay: .1s; }

.cube-grid-spinner .cube:nth-child(9) {
  -webkit-animation-delay: .2s;
  animation-delay: .2s; }

@-webkit-keyframes scaleDelay {
  0%,100%,70% {
    -webkit-transform: scale3D(1, 1, 1); }
  35% {
    -webkit-transform: scale3D(0, 0, 1); } }
@keyframes scaleDelay {
  0%,100%,70% {
    -webkit-transform: scale3D(1, 1, 1);
    transform: scale3D(1, 1, 1); }
  35% {
    -webkit-transform: scale3D(1, 1, 1);
    transform: scale3D(0, 0, 1); } }
.word-press-spinner {
  background: #333;
  width: 30px;
  height: 30px;
  display: inline-block;
  border-radius: 30px;
  position: relative;
  -webkit-animation: inner-circle 1s linear infinite;
  animation: inner-circle 1s linear infinite; }

.inner-circle {
  display: block;
  background: #fff;
  width: 8px;
  height: 8px;
  position: absolute;
  border-radius: 8px;
  top: 5px;
  left: 5px; }

@-webkit-keyframes inner-circle {
  0% {
    -webkit-transform: rotate(0); }
  100% {
    -webkit-transform: rotate(360deg); } }
@keyframes inner-circle {
  0% {
    transform: rotate(0);
    -webkit-transform: rotate(0); }
  100% {
    transform: rotate(360deg);
    -webkit-transform: rotate(360deg); } }
.fading-circle-spinner {
  margin: 100px auto;
  width: 22px;
  height: 22px;
  position: relative; }

.fading-circle {
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0; }

.fading-circle:before {
  content: '';
  display: block;
  margin: 0 auto;
  width: 18%;
  height: 18%;
  background-color: #333;
  border-radius: 100%;
  -webkit-animation: fadedelay 1.2s infinite ease-in-out both;
  animation: fadedelay 1.2s infinite ease-in-out both; }

.fading-circle2 {
  transform: rotate(30deg);
  -webkit-transform: rotate(30deg); }

.fading-circle3 {
  transform: rotate(60deg);
  -webkit-transform: rotate(60deg); }

.fading-circle4 {
  transform: rotate(90deg);
  -webkit-transform: rotate(90deg); }

.fading-circle5 {
  transform: rotate(120deg);
  -webkit-transform: rotate(120deg); }

.fading-circle6 {
  transform: rotate(150deg);
  -webkit-transform: rotate(150deg); }

.fading-circle7 {
  transform: rotate(180deg);
  -webkit-transform: rotate(180deg); }

.fading-circle8 {
  transform: rotate(210deg);
  -webkit-transform: rotate(210deg); }

.fading-circle9 {
  transform: rotate(240deg);
  -webkit-transform: rotate(240deg); }

.fading-circle10 {
  transform: rotate(270deg);
  -webkit-transform: rotate(270deg); }

.fading-circle11 {
  transform: rotate(300deg);
  -webkit-transform: rotate(300deg); }

.fading-circle12 {
  transform: rotate(330deg);
  -webkit-transform: rotate(330deg); }

.fading-circle2:before {
  animation-delay: -1.1s;
  -webkit-animation-delay: -1.1s; }

.fading-circle3:before {
  animation-delay: -1s;
  -webkit-animation-delay: -1s; }

.fading-circle4:before {
  animation-delay: -.9s;
  -webkit-animation-delay: -.9s; }

.fading-circle5:before {
  animation-delay: -.8s;
  -webkit-animation-delay: -.8s; }

.fading-circle6:before {
  animation-delay: -.7s;
  -webkit-animation-delay: -.7s; }

.fading-circle7:before {
  animation-delay: -.6s;
  -webkit-animation-delay: -.6s; }

.fading-circle8:before {
  animation-delay: -.5s;
  -webkit-animation-delay: -.5s; }

.fading-circle9:before {
  animation-delay: -.4s;
  -webkit-animation-delay: -.4s; }

.fading-circle10:before {
  animation-delay: -.3s;
  -webkit-animation-delay: -.3s; }

.fading-circle11:before {
  animation-delay: -.2s;
  -webkit-animation-delay: -.2s; }

.fading-circle12:before {
  animation-delay: -.1s;
  -webkit-animation-delay: -.1s; }

@-webkit-keyframes fadedelay {
  0%,100%,39% {
    opacity: 0; }
  40% {
    opacity: 1; } }
@keyframes fadedelay {
  0%,100%,39% {
    opacity: 0; }
  40% {
    opacity: 1; } }
iframe#viewEscort {
  background: #fff; }

/*--------------Mixins-------------------  
---------------------------------------------*/
.text-left {
  text-align: left !important; }

span.info {
  font: 20px Roboto Slab, serif;
  color: #761313;
  margin-bottom: 8px;
  display: block; }

/*----------------Loading---------------
----------------------------------------------*/
._mpEscortData {
  color: #fff;
  font: 18px Roboto Slab, serif;
  padding-left: 120px; }

#container_image img {
  max-width: 100%;
  display: block;
  margin: 0 auto;
  min-width: 100px; }

#container_image {
  text-align: center; }

#hider {
  display: none; }

.three-dots-row-spinner {
  position: absolute;
  left: 57%;
  top: 200px;
  width: 60px;
  height: 60px;
  background-color: #9E3535;
  margin: 100px auto;
  -webkit-animation: rotateplane 1.2s infinite ease-in-out;
  animation: rotateplane 1.2s infinite ease-in-out;
  z-index: -1;
  padding: 0 !important; }

.smaller {
  font-size: 16px; }

#playmailSpinner {
  z-index: 12;
  display: none;
  margin-left: -223px;
  left: 50%; }

.load8 .loader, .load8 .loader:after {
  border-radius: 50%;
  width: 10em;
  height: 10em; }

.load-container {
  margin-top: -341px;
  display: none; }

.load8 .loader {
  margin: 60px auto;
  font-size: 10px;
  position: relative;
  text-indent: -9999em;
  border-top: 1.1em solid #930505;
  border-right: 1.1em solid rgba(147, 5, 5, 0.31);
  border-bottom: 1.1em solid rgba(147, 5, 5, 0.38);
  border-left: 1.1em solid rgba(147, 5, 5, 0.48);
  -webkit-transform: translateZ(0);
  -ms-transform: translateZ(0);
  transform: translateZ(0);
  -webkit-animation: load8 1.1s infinite linear;
  animation: load8 1.1s infinite linear; }

.loader,
.loader:after {
  border-radius: 50%;
  width: 10em;
  height: 10em; }

@-webkit-keyframes load8 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg); }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg); } }
@keyframes load8 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg); }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg); } }
.no_padding {
  padding: 0; }

#_mp_brand_container {
  background: #930505;
  position: relative;
  overflow: hidden; }

#_mp_areaName {
  color: #fff;
  font-family: Roboto Slab, serif;
  text-align: center;
  font-size: 28px;
  display: table-row;
  v-align: middle;
  height: 90px; }

#_mp_areaName span {
  display: table-cell;
  vertical-align: middle;
  padding-left: 20px;
  max-width: 260px; }

#logo {
  width: 110px;
  height: 90px;
  padding: 10px;
  float: left;
  overflow: hidden;
  position: relative;
  border-right: 1px solid #761313; }

#logo img {
  display: block;
  margin: 0 auto; }

#_mp_prof_header {
  width: 100%;
  height: 90px;
  background-color: #1e1d1d;
  position: fixed;
  right: 0;
  z-index: -1; }

#profile_dropdown {
  padding: 0;
  margin: 0;
  float: right;
  margin-right: 31px;
  color: #fff;
  margin-top: 21px;
  font: 22px Roboto Slab, serif;
  list-style-type: none;
  padding-right: 50px; }

#profile_dropdown li {
  cursor: pointer;
  display: none;
  background: #1e1d1d;
  padding: 10px 0;
  color: #fff;
  text-align: center;
  min-width: 110px; }
#profile_dropdown a {
  color: #fff; }
#profile_dropdown li:hover, #profile_dropdown li:first-child {
  display: block; }

#profile_dropdown:hover li {
  display: block; }

#profile_dropdown:before {
  cursor: pointer;
  content: '';
  display: block;
  width: 0;
  height: 0;
  border-left: 13px solid transparent;
  border-right: 13px solid transparent;
  border-top: 13px solid #fff;
  position: absolute;
  right: 29px;
  top: 41px; }

#_mp_img_holder {
  width: 50px;
  height: 50px;
  overflow: hidden;
  border-radius: 50%;
  float: left;
  margin-left: 20px;
  margin-right: 20px;
  margin-top: -9px; }

#profile_dropdown img {
  width: auto;
  height: auto;
  display: block;
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  max-height: 500%;
  max-width: 500%; }

.top_header {
  position: fixed;
  width: 100%;
  height: 90px;
  z-index: 10000; }

.main_content {
  margin-top: 90px; }

.left_header {
  z-index: 3; }

.right_header {
  z-index: 2; }

.dashTopLink {
  position: absolute;
  margin-left: 512px;
  color: #fff;
  z-index: 1000;
  font-size: 22px;
  margin-top: 31px; }
  .dashTopLink a {
    color: #fff; }

#selectContainer {
  margin-top: -22px;
  border: 1px solid #7D6F6F; }

#selectContainer div {
  background-color: #fff;
  padding: 9px 18px;
  color: #2A5C67; }

#selectContainer div:hover {
  background-color: #0B9C88;
  color: #fff; }

.overlay {
  background-color: rgba(0, 0, 0, 0.3);
  position: absolute;
  z-index: 5;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0; }
  .overlay button {
    top: 112px;
    z-index: 20;
    margin-top: 420px;
    display: block;
    width: 344px;
    font-size: 22px;
    margin: 180px auto; }

#adultPressad {
  margin-top: 83px; }

.wide_button {
  width: 300px !important; }

#addImage {
  cursor: pointer; }

/**--------------Common-------
-----------------------------------*/
h2 {
  font: 26px Raleway, sans-serif; }

h3 {
  font: 35px Roboto Slab, serif;
  margin-top: 5px; }

h4 {
  margin: 16px 0 4px;
  font: 30px Raleway, sans-serif; }

.full_width {
  width: 100%; }

.margin-top-35 {
  margin-top: 35px; }

.centered {
  text-align: center; }

.right_margin_15 {
  margin-right: 15px; }

.left_margin_15 {
  margin-left: 15px; }

/**--------Side Menu----------
----------------------------------*/
#_mpMenu {
  width: 110px;
  background-color: #171515;
  color: #fff;
  position: fixed;
  float: left;
  clear: both;
  font-family: Raleway, sans-serif;
  padding-bottom: 100px;
  cursor: pointer;
  z-index: 102;
  min-height: 100%; }

._mPIcon:before {
  margin: 0 auto;
  content: '';
  display: block;
  width: 54px;
  height: 54px;
  background: transparent url("/assets/dashboard/images/profileSprites.png") no-repeat 0 0; }

._mPIcon {
  font-size: 18px;
  text-align: center;
  height: 151px;
  padding-top: 20px; }

._mPIcon:hover {
  color: #930505; }

.mPActiveIcon {
  background-color: #2F2B2B; }

.mPActiveIcon:hover {
  color: #fff !important; }

#_MpProfile_:before {
  background-position: center -216px; }

#_MpReviews_:before {
  background-position: center -432px; }

#_MpPlaymail_:before {
  background-position: center -327px; }

#_MpAccount_:before {
  background-position: center -110px; }

#_MpPayments_:before {
  background-position: center -538px; }

#_MpEscorts_:before, #_MpFavourites_:before {
  background-position: center -645px;
  height: 65px; }

#_MpOverview_:hover:before {
  background-position: center -54px; }

#_MpProfile_:hover:before {
  background-position: center -270px; }

#_MpReviews_:hover:before {
  background-position: center -486px; }

#_MpPlaymail_:hover:before {
  background-position: center -380px; }

#_MpAccount_:hover:before {
  background-position: center -164px; }

#_MpPayments_:hover:before {
  background-position: center -592px; }

#_MpEscorts_:hover:before, #_MpFavourites_:hover:before {
  background-position: center -710px;
  height: 65px; }

#_MpOverview_.mPActiveIcon:hover:before {
  background-position: center 0; }

#_MpProfile_:mPActiveIcon:hover:before {
  background-position: center -216px; }

#_MpReviews_.mPActiveIcon:hover:before {
  background-position: center -432px; }

#_MpPlaymail_.mPActiveIcon:hover:before {
  background-position: center -327px; }

#_MpAccount_.mPActiveIcon:hover:before {
  background-position: center -110px; }

#_MpPayments_.mPActiveIcon:hover:before {
  background-position: center -538px; }

#_MpEscorts_.mPActiveIcon:hover:before, #_MpFavourites_.mpActionIcon:hover:before {
  background-position: center -645px;
  height: 65px; }

/*--------------------------Panel area
----------------------------------------------------*/
.panelFixed {
  position: fixed;
  z-index: 10;
  bottom: 0;
  left: 0;
  top: 90px;
  overflow-x: auto; }

._mp_button {
  background-color: red;
  background: transparent;
  border: none;
  color: #fff;
  padding: 8px 22px;
  display: block;
  margin: 10px auto;
  font: 22px Raleway, sans-serif; }

._mp_button.active {
  background-color: #930505;
  border-radius: 3px; }

._MpDetailArea {
  background-color: #2F2B2B; }

.panelController {
  float: left;
  display: block;
  color: #fff;
  width: 306px;
  text-align: center;
  padding: 45px 20px 20px 130px;
  font: 22px Roboto Slab, serif;
  width: 100%;
  position: absolute; }

.panelController.loading:before {
  content: '';
  display: block;
  background: #fff;
  opacity: .6;
  width: 50000000px;
  height: 100%;
  position: fixed;
  left: 110px;
  right: -100000px;
  top: 90px;
  bottom: 0;
  z-index: 100; }

.panelController.loading:after {
  content: '';
  display: block;
  width: 100px;
  height: 100px;
  z-index: 101;
  position: fixed;
  left: 50%;
  top: 50%;
  margin-top: -100px;
  margin-left: -50px;
  background: transparent url("/assets/dashboard/images/tail-spin.svg") no-repeat 0 0;
  background-size: cover; }

._mpStatus, .mpUnpublish {
  width: 64px;
  height: 64px;
  background: transparent url("/assets/dashboard/images/statusSprite.png") no-repeat 0 0;
  display: block;
  margin: 34px auto; }

#mpDisapproved, #mpUnavailable, .mpPublish {
  background-position: center -64px; }

#mpPending {
  background-position: center -128px; }

._mpPosition {
  background-color: #171515;
  display: block;
  padding: 10px 10px 20px;
  margin-top: 20px; }

#_mpProfile {
  margin-top: 35px;
  font: 18px raleway;
  line-height: 2em; }

.escortTabContainer {
  width: 100%;
  padding: 15px 15px 15px 128px;
  border-bottom: 2px solid black;
  cursor: pointer; }

.escortTab {
  max-width: 100%;
  padding: 0;
  position: relative;
  overflow: hidden;
  display: table; }

.escortTab div {
  width: 75px;
  height: 75px;
  overflow: hidden;
  border-radius: 50%;
  float: left; }

.escortTab span {
  color: #fff;
  font-size: 22px;
  v-align: middle;
  vertical-align: middle;
  display: table-cell;
  padding-left: 25px;
  padding-bottom: 5px; }

.escortTab div img {
  width: 100%;
  height: auto;
  margin: 0 auto; }

.escortTabContainer:hover {
  background-color: #171515; }

.escortTabContainer.current:hover {
  background-color: #efefef; }

.escortTabContainer.current {
  background-color: #efefef;
  border-bottom: 2px solid #761313;
  color: #222; }

.escortTabContainer.current span {
  color: #222; }

h4.panelHeader {
  padding-left: 128px;
  color: #fff;
  margin-bottom: 35px;
  font-size: 24px; }

.emptyEscortFiller {
  font-size: 18px;
  padding-bottom: 600px; }

.escStatus {
  position: absolute;
  margin-left: 34px;
  margin-top: 57px;
  font-size: 14px; }

._mpEscortImage img {
  width: 100%; }

/*---------------------Screens
---------------------------------------------------*/
.screen > div {
  padding: 35px 30px 600px; }

._MpoffWhite {
  background-color: #efefef;
  padding: 35px 50px !important; }

._MplightGrey {
  background-color: #dbdbdb; }

.message {
  font-size: 18px;
  margin: 10px 0;
  padding: 13px;
  border-radius: 6px; }

.success {
  border: 2px solid #6BBF6B; }

.error {
  border: 2px solid red; }

.no_escorts {
  color: #fff;
  font-size: 20px;
  padding-right: 10px;
  padding: 20px 10px 0 146px; }

._60_perc {
  max-width: 100%;
  max-height: 506px; }

._mpEscortContainer {
  background-color: #BDB1B1;
  padding: 10px;
  margin-bottom: 35px;
  overflow: hidden; }

._mpEscortImage {
  float: left;
  clear: both;
  width: 100px;
  height: 100px;
  border-radius: 50%;
  overflow: hidden; }

._mpEscortStats {
  font: 20px Roboto Slab, serif;
  text-indent: 25px; }

._mpStatsSpan {
  margin-left: 25px; }

._mpStatsSpan.centered {
  width: 26%;
  display: inline-block; }

#_mpPlan {
  width: 132px;
  height: 132px;
  background: transparent url("/assets/dashboard/images/plan.png") no-repeat 0 0;
  display: block;
  float: left;
  margin-right: 15px; }

#_mpBusinessPlan h5 {
  color: #930505;
  font-size: 28px;
  font-family: Roboto Slab;
  font-weight: 400;
  padding-top: 20px;
  margin-bottom: 0; }

#_mpBusinessPlan h3 {
  margin-top: -6px; }

._mpPlanInfo {
  font: 23px Raleway, sans-serif;
  text-align: center;
  width: 80%;
  margin-left: 10%;
  margin-top: 30px;
  padding-top: 30px; }

#_mpBusinessPlan button {
  border: none;
  background: #930505;
  color: #fff;
  font-size: 30px;
  padding: 10px 32px;
  border-radius: 3px;
  margin: 35px auto;
  display: block; }

/*-----------Profile ------*/
.businessProfileScreen h3 {
  font: 31px Raleway, sans-serif;
  clear: both;
  text-align: center;
  padding-top: 25px;
  width: 60%;
  margin: 0 auto 32px;
  border-bottom: 1px solid grey;
  padding-bottom: 22px; }

.businessProfileScreen > div:first-child {
  background-color: #FFFFFF;
  width: 100%;
  overflow: hidden;
  padding: 10px 50px 0;
  border-bottom: 1px solid #ccc; }

.businessProfileScreen h2 {
  float: left;
  margin-top: 31px;
  margin-bottom: 37px;
  color: #3E0B0B;
  font-size: 32px; }

.businessProfileScreen {
  padding: 0 !important; }

.businessProfileScreen p {
  font-size: 18px;
  text-align: center;
  font-family: raleway; }

.bottom_inputs {
  padding-right: 25px; }

.mPProfileTopMenu > div {
  float: left;
  margin: 0;
  width: 152px; }

.mPProfileTopMenu span {
  display: block;
  width: 100%;
  text-align: center;
  margin-top: 7px;
  font: 16px Raleway, sans-serif; }

.mPProfileTopMenu div div {
  width: 67px;
  height: 67px;
  background: #fff url("/assets/dashboard/images/ProfileIconsSprite.png") no-repeat 0 0;
  border-radius: 50%;
  margin: 0 auto;
  border: 1px solid #CAC4C4;
  cursor: pointer; }

.mPProfileTopMenu div div.active {
  border: 2px solid #D63131; }

#mpBasicInfo, #mpSeo {
  background-position: 0 -260px; }

#mpBasicInfo.active, #mpSeo.active {
  background-position: 0 -195px; }

#mpProfileDetails {
  background-position: 0 -650px; }

#mpProfileDetails.active {
  background-position: 0 -780px; }

#mpAvailability {
  background-position: 0 -1040px; }

#mpAvailability.active {
  background-position: 0 -1105px; }

#mpGallery {
  background-position: 0 -845px; }

#mpGallery.active {
  background-position: 0 -975px; }

#mpPayment, #mpTouring {
  background-position: 0 -455px; }

#mpPayment.active, #mpTouring.active {
  background-position: 0 -585px; }

#mpFinished {
  background-position: 0 -1363px; }

#mpFinished.active {
  background-position: 0 -1431px; }

#mpPlans {
  background-position: 0 -1495px; }

#mpPlans.active {
  background-position: 0 -1560px; }

._mpProfile_holder {
  padding: 0 50px 0;
  display: block;
  position: relative;
  float: none;
  clear: both;
  padding-bottom: 300px; }

.mPProfileTopMenu.group-3 {
  width: 456px;
  float: right;
  margin-bottom: 10px; }

form#businessInfo {
  width: 100%;
  clear: both;
  float: none; }

.mp_image_float {
  width: 30%;
  float: left;
  overflow: hidden; }

.mp_image_float span {
  font: 18px Raleway, sans-serif;
  margin-top: 10px;
  display: block;
  margin-bottom: 25px; }

.right_float {
  width: 69%;
  float: right;
  padding: 0 25px; }

.right_float:after, .mp_image_float:after {
  clear: both;
  float: none;
  content: '';
  display: block; }

form#businessInfo input, .profileForm input {
  width: 100%;
  border: 1px solid #9E9595;
  border-radius: 3px;
  padding: 8px 10px;
  margin-bottom: 20px;
  font: 18px verdana, sans-serif; }

#contact_methods select {
  float: none;
  clear: both;
  margin: 0;
  display: inline-block; }

#contact_methods_playmail div {
  display: inline-block; }

#contact_methods_phone div {
  display: inline-block; }  
  
#contact_methods label {
  width: 40px;
  display: inline-block; }
  
#contact_methods input {
  width: 25px;
  height: 25px;
  padding: 0!important; }

#contact_methods p {
  margin-right: 20px!important;
  margin-top: -1px; 
  text-align: left!important; 
  border: none!important; }

.profileForm .leftFloat {
  float: left;
  width: 44%;
  margin-right: 3%; }

form#businessInfo label, .profileForm label {
  font: 18px Raleway;
  margin-right: 15px; }

#touring-form {
  width: 80%;
  margin-left: 10%;
  background-color: #DCD5D5;
  padding: 0 35px 35px;
  margin-top: 30px; }
  #touring-form h3 {
    font: 26px Raleway, sans-serif;
    padding-bottom: 16px; }

.deleteTouring {
  cursor: pointer; }

.clear {
  clear: both;
  float: none;
  display: block;
  width: 100%;
  position: relative;
  overflow: hidden; }

.datesTable th {
  padding: 27px 40px 27px 0 !important; }

.datesTable th:first-child {
  padding: 27px 40px !important; }

.datesTable a {
  color: #B73333; }

.ui-state-highlight, .ui-widget-content .ui-state-highlight, .ui-widget-header .ui-state-highlight {
  border: 1px solid #dad55e;
  background: #5E8882;
  color: #FFFFFF; }

.touringEntry {
  border: 1px solid #ccc;
  height: 32px; }

.mPProfileTopMenu {
  float: right; }

form#businessInfo select, .profileForm select {
  width: 30% !important;
  text-align: right;
  padding: 6px 10px;
  border: none;
  border-radius: 3px;
  background-color: #FFFFFF;
  color: #262626;
  font: 18px verdana, sans-serif;
  border: 1px solid #9E9595;
  padding-bottom: 10px;
  display: block;
  float: right;
  margin-top: -95px; }

form#businessInfo .submit-button, .profileForm .submit-button, form#profileDetails .submit-button, form#payment .submit-button, #cropperInstructions input, .submit-button {
  width: 197px;
  margin: 0 auto;
  display: block;
  margin-top: 35px;
  border: none;
  background-color: #930505;
  color: #fff;
  font-size: 22px;
  padding: 9px 17px;
  border-radius: 3px;
  font: 18px Raleway, sans-serif;
  margin-bottom: 60px; }

#busType {
  float: none !important;
  clear: both;
  margin-top: 0 !important; }

#busLogo {
  cursor: pointer; }

#container_image {
  width: 334px !important;
  height: 228px !important;
  margin-bottom: 41px;
  overflow: hidden; }

#cover_image {
  width: 100% !important;
  height: 0px !important;
  border-radius: 3px;
  padding-bottom: 38%;
  background-repeat: no-repeat !important;
  background-position: center center !important; }

#tab_mpProfileDetails span {
  display: block;
  font-size: 22px;
  text-align: center;
  margin: 10px 0 30px; }

textarea {
  border: 1px solid #797171;
  width: 100%;
  margin-top: 30px;
  border-radius: 3px;
  padding: 15px; }

input[name=file-image] {
  width: 100% !important;
  height: 100% !important;
  cursor: pointer !important; }

#age_id, #escort_age {
  float: left;
  margin-top: 0; }

#escort_age {
  margin-top: 8px; }

#age_id {
  width: 100px !important; }

#escLocationField {
  width: 30%;
  float: left;
  margin-left: 10px; }

#postcode {
  width: 200px;
  margin-left: 10px; }

#sex input {
  width: 25px !important; 
  height: 25px; }

.form_required:after {
  color: red;
  content: '*';
  display: inline-block;
  font-size: 1.3em; }

.normalSelects select {
  margin-top: 0;
  margin-bottom: 20px;
  float: left;
  width: 100%!important; }

.normalSelects .col-md-6 label {
  float: left;
  margin-top: 9px;
  width: 110px; }
  
 #tab_mpProfileDetails .normalSelects .col-md-6 label {
  width: 110px!important; } 
  
.normalSelects .availDaysLabel {
	width: 50px !important;
}

.normalSelects .serviceLabel {
	margin-top: 20px!important;;
}

#heightSelect {
  clear: both;
  float: none;
  height: 18px;
  background-color: #D63131; }

#heightSelectlabel {  
  margin-bottom: 5px;
  border: 1px solid red;
  width: 67px;
  line-height: 20px;
  position: relative;
  text-align: center;
  margin-top: 30px;
  margin-bottom: 16px;
  padding: 4px;
  border: none;
  background-color: #dbdbdb;
  color: darkRed;
  margin-bottom: 4px;
  left: -13px; }

#heightSelectlabel:before {
  content: '';
  display: block;
  width: 0;
  height: 0;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-top: 5px solid #cdcbcb;
  position: absolute;
  top: 100%;
  left: 20%; }

.heightInfo {
  font-size: 20px;
  padding-top: 77px;
  margin-bottom: 30px; }

.heightReadable {
  color: darkRed;
  display: inline !important; }

.ui-slider-handle:after {
  content: '';
  display: block;
  background-color: #564E4E;
  width: 100000000%;
  position: absolute;
  height: 18px;
  left: 100%;
  margin-top: 5px;
  margin-left: 1px; }

.centeredLabel {
  display: block;
  width: 100%;
  clear: both;
  float: none;
  text-align: center;
  padding-top: 30px; }

.ui-slider-handle {
  margin-top: 0px !important;
  background-color: #D63131 !important;
  border: 1px solid #fff;
  border: 2px solid #fff !important;
  width: 30px !important;
  height: 30px !important;
  border-radius: 50% !important;
  z-index: 10000 !important; }

#heightContainer, #heightLabelContainer {
  max-width: 1084px;
  overflow: hidden;
  margin: 0 auto;
  padding: 19px; }

.headerLabel {
  text-transform: uppercase;
  font-size: 20px !important; }

#heightLabelContainer {
  overflow: visible;
  padding: 0 19px; }

input.checkbox {
  width: auto !important; }

.serviceLabel {
  padding-top: 0;
  display: inline;
  font-size: 18px !important; }

.serviceArray input {
	width: 25px !important;
    height: 25px;
}
  
.serviceArray {
  padding-top: 30px; }
  .serviceArray .col-md-3 {
    padding-bottom: 8px; }

/*---------------------Availabilites-------------*/
#availabilityForm input.roundedOne {
  width: 25px !important;
  height: 25px !important;
  position: relative;
  margin: 20px auto;
  background: #fcfff4;
  background: linear-gradient(top, #fcfff4 0%, #dfe5d7 40%, #b3bead 100%);
  border-radius: 50px; }
  #availabilityForm input.roundedOne label {
    width: 20px !important;
    height: 20px !important;
    position: absolute;
    top: 4px;
    left: 4px;
    cursor: pointer;
    background: linear-gradient(top, #222 0%, #45484d 100%);
    border-radius: 50px; }
    #availabilityForm input.roundedOne label:after {
      content: '';
      width: 9px;
      height: 5px;
      position: absolute;
      top: 5px;
      left: 4px;
      border: 3px solid #fcfff4;
      border-top: none;
      border-right: none;
      background: transparent;
      opacity: 0;
      transform: rotate(-45deg); }
    #availabilityForm input.roundedOne label:hover::after {
      opacity: 0.3; }
  #availabilityForm input.roundedOne input[type=checkbox] {
    visibility: hidden; }
    #availabilityForm input.roundedOne input[type=checkbox]:checked + label:after {
      opacity: 1; }

.radio.roundedOne {
  margin-top: 8px !important; }

.col-md-6 label {
  width: auto !important; }

.availDaysLabel {  
  text-transform: uppercase;
  vertical-align: middle;
  padding-bottom: 28px;
  display: inline-block;
  margin-top: 20px!important; }
  
.availTable {
	width: 650px!important;
}

/* end .roundedOne */
.profileTable {
  width: 80%;
  margin: 35px auto 65px;
  width: 80%;
  margin: 35px auto;
  background-color: #dbdbdb;
  border: 1px solid #cdcbcb; }
  .profileTable th {
    padding: 27px 40px;
    font: 20px Raleway, sans-serif;
    color: #222;
    font-weight: 400;
    border-bottom: 1px solid #cdcbcb; }
  .profileTable td:first-child {
    padding-left: 5px; }
  .profileTable td:last-child {
    padding-right: 5px; }
  .profileTable .am_select {
    width: 34% !important; }
  .profileTable .ratesTable tbody > tr:first-child > td {
    padding-top: 30px!important; }
  .profileTable select {
    margin-bottom: 0; }
  .profileTable tbody tr:last-child td {
    padding-bottom: 5px; }
  .profileTable select[disabled] {
    background-color: #cdcbcb;
    color: #cdcbcb; }

#availabilityForm input[type="radio"] {
  float: left;
  vertical-align: middle;
  margin-bottom: 0;
  margin-top: 14px;
  margin-left: 20px;
  margin-right: 10px; }

.ratesTable {
  width: 100%;
  max-width: 400px;
  margin: 45px 0;
  font-size: 26px;
  position: relative; }
  .ratesTable input {    
	min-width: 100px;
    float: left;
    height: 32px; }
  .ratesTable label {
    margin: 0 0 0 20px; }
  .ratesTable span {
    float: left;
    margin-right: 10px; }

.table2 {
  margin-left: 10%; }

.disabledTable:after {
  content: '';
  display: block;
  position: absolute;
  z-index: 1000;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: #191616;
  opacity: .8; }

/*---------------------Gallery--------------------*/
.im_stat1, im_stat2 {
  background-color: red;
  width: 100%;
  top: 0;
  position: absolute;
  right: 0;
  left: 0;
  height: 32px;
  z-index: 10000; }

.im_stat2 {
  display: none; }

.im_stat1:after {
  content: 'Pending';
  position: absolute;
  color: #fff;
  height: 32px;
  line-height: 32px;
  width: 100%;
  text-align: center;
  left: 0; }

.im_stat2:after {
  content: 'Disapproved';
  position: absolute;
  color: #fff;
  height: 32px;
  line-height: 32px;
  width: 100%;
  text-align: center;
  left: 0; }

#bannerUpload {
  width: 70%;
  margin-left: 15%;
  margin-top: 35px;
  background: url("../../images/uploadBanner.jpg");
  height: 0;
  padding-bottom: 22%;
  background-size: cover;
  display: block;
  background-size: cover !important; }

#bannerUploadStatus {
  width: 70%;
  margin-left: 15%;
  height: 30px;
  background-color: #333030;
  margin-top: 20px;
  border-radius: 4px;
  position: relative; }

#bannerUploadStatus:after {
  position: absolute;
  top: 0;
  left: 0;
  background-color: #149E72;
  content: '';
  display: block;
  border-radius: 4px 0 0 4px;
  height: 30px; }

._l1:after {
  right: 99%; }

._l2:after {
  right: 98%; }

._l3:after {
  right: 97%; }

._l4:after {
  right: 96%; }

._l5:after {
  right: 95%; }

._l6:after {
  right: 94%; }

._l7:after {
  right: 93%; }

._l8:after {
  right: 92%; }

._l9:after {
  right: 91%; }

._l10:after {
  right: 90%; }

._l11:after {
  right: 89%; }

._l12:after {
  right: 88%; }

._l13:after {
  right: 87%; }

._l14:after {
  right: 86%; }

._l15:after {
  right: 85%; }

._l16:after {
  right: 84%; }

._l17:after {
  right: 83%; }

._l18:after {
  right: 82%; }

._l19:after {
  right: 81%; }

._l20:after {
  right: 80%; }

._l21:after {
  right: 79%; }

._l22:after {
  right: 78%; }

._l23:after {
  right: 77%; }

._l24:after {
  right: 76%; }

._l25:after {
  right: 75%; }

._l26:after {
  right: 74%; }

._l27:after {
  right: 73%; }

._l28:after {
  right: 72%; }

._l29:after {
  right: 71%; }

._l30:after {
  right: 70%; }

._l31:after {
  right: 69%; }

._l32:after {
  right: 68%; }

._l33:after {
  right: 67%; }

._l34:after {
  right: 66%; }

._l35:after {
  right: 65%; }

._l36:after {
  right: 64%; }

._l37:after {
  right: 63%; }

._l38:after {
  right: 62%; }

._l39:after {
  right: 61%; }

._l40:after {
  right: 60%; }

._l41:after {
  right: 59%; }

._l42:after {
  right: 58%; }

._l43:after {
  right: 57%; }

._l44:after {
  right: 56%; }

._l45:after {
  right: 55%; }

._l46:after {
  right: 54%; }

._l47:after {
  right: 53%; }

._l48:after {
  right: 52%; }

._l49:after {
  right: 51%; }

._l50:after {
  right: 50%; }

._l51:after {
  right: 49%; }

._l52:after {
  right: 48%; }

._l53:after {
  right: 47%; }

._l54:after {
  right: 46%; }

._l55:after {
  right: 45%; }

._l56:after {
  right: 44%; }

._l57:after {
  right: 43%; }

._l58:after {
  right: 42%; }

._l59:after {
  right: 41%; }

._l60:after {
  right: 40%; }

._l61:after {
  right: 39%; }

._l62:after {
  right: 38%; }

._l63:after {
  right: 37%; }

._l64:after {
  right: 36%; }

._l65:after {
  right: 35%; }

._l66:after {
  right: 34%; }

._l67:after {
  right: 33%; }

._l68:after {
  right: 32%; }

._l69:after {
  right: 31%; }

._l70:after {
  right: 30%; }

._l71:after {
  right: 29%; }

._l72:after {
  right: 28%; }

._l73:after {
  right: 27%; }

._l74:after {
  right: 26%; }

._l75:after {
  right: 25%; }

._l76:after {
  right: 24%; }

._l77:after {
  right: 23%; }

._l78:after {
  right: 22%; }

._l79:after {
  right: 21%; }

._l80:after {
  right: 20%; }

._l81:after {
  right: 19%; }

._l82:after {
  right: 18%; }

._l83:after {
  right: 17%; }

._l84:after {
  right: 16%; }

._l85:after {
  right: 15%; }

._l86:after {
  right: 14%; }

._l87:after {
  right: 13%; }

._l88:after {
  right: 12%; }

._l89:after {
  right: 11%; }

._l90:after {
  right: 10%; }

._l91:after {
  right: 9%; }

._l92:after {
  right: 8%; }

._l93:after {
  right: 7%; }

._l94:after {
  right: 6%; }

._l95:after {
  right: 5%; }

._l96:after {
  right: 4%; }

._l97:after {
  right: 3%; }

._l98:after {
  right: 2%; }

._l99:after {
  right: 1%; }

._l100:after {
  right: 0%;
  border-radius: 4px; }

.gallery {
  positon: relative;
  position: relative;
  display: block;
  overflow: hidden;
  padding: 15px;
  background-color: #cdcbcb;
  padding-bottom: 35px; }
  .gallery img {
    max-width: 100%;
    max-height: 100%;
    float: none;
    cursor: move;
    vertical-align: middle;
    horizontal-align: middle;
    padding-bottom: 15px; }
  .gallery .col-md-2 {
    height: 200px;
    background-color: #fff;
    padding: 6px;
    margin: 15px;
    border: 1px dotted #696060;
    line-height: 200px;
    text-align: center; }
  .gallery #addImage {
    background: #fff url("../../images/addImage.png") no-repeat center 34px;
    padding-top: 119px;
    text-align: center;
    color: #761313;
    font: 22px Raleway, sans-serif;
    cursor: pointer; }
  .gallery .main_image {
    color: #fff;
    text-align: center;
    font: 18px Raleway, sans-serif;
    position: relative; }
  .gallery .main_image:after {
    content: 'Main Image';
    display: block;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #171515;
    position: absolute;
    padding: 6px 0; }
  .gallery .delete_image {
    width: 36px;
    height: 36px;
    background: transparent url(../../images/delete.png) no-repeat 0 0;
    position: absolute;
    top: 16px;
    right: 16px;
    display: none;
    cursor: pointer; }
  .gallery .make_main {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: #761313;
    color: #fff;
    display: none;
    width: 100%;
    height: 33px;
    padding: 6px;
    line-height: 26px;
    font: 18px Raleway, sans-serif;
    cursor: pointer; }
    @media (max-width: 768px) {
      .gallery .make_main {
        display: block;
        z-index: 1000000; } }
  .gallery .col-md-2:hover .delete_image, .gallery .col-md-2:hover .make_main {
    display: block; }

#addImage {
  width: 316px;
  background-color: #fff;
  float: left;
  text-align: center;
  font-size: 26px;
  color: darkRed;
  margin-bottom: 30px;
  position: relative; }
  #addImage img {
    width: 100%; }

#addImage.noImage {
  height: 200px;
  padding: 30px; }

#galleryLoading {
  width: 100%;
  height: 8px;
  margin-top: 20px;
  border-radius: 2px;
  position: relative; }

#galleryLoading:after {
  position: absolute;
  top: 0;
  left: 0;
  background-color: #149E72;
  content: '';
  display: block;
  border-radius: 4px 0 0 4px;
  height: 8px; }

/*---------------------Escorts--------------------*/
#_mpEscortMenu {
  width: 100%;
  background-color: #cdcbcb;
  font: 22px Roboto Slab, serif;
  overflow: hidden; }
  #_mpEscortMenu ul {
    float: right;
    padding: 0;
    margin-right: 35px; }
  #_mpEscortMenu ul li {
    display: inline-block;
    cursor: pointer;
    padding: 6px 22px;
    border-radius: 3px;
    width: 159px;
    text-align: center; }
  #_mpEscortMenu span {
    margin-top: 20px;
    display: block;
    float: left;
    margin-left: 35px; }
  #_mpEscortMenu ul li:hover {
    color: #fff;
    background-color: #171515; }
  #_mpEscortMenu .active, #_mpEscortMenu .active:hover {
    color: #fff;
    background-color: #761313; }

iframe#viewEscort {
  width: 95%;
  margin-left: 2.5%;
  margin-top: 20px;
  height: 1000px;
  border: 1px solid #cdcbcb; }

.advancedSettings {
  display: none; }

.showAdvanced {
  cursor: pointer;
  color: #299691;
  margin-bottom: 10px;
  display: block;
  margin-top: 35px; }

/*---------------Image uploader-----------*/
.picture-element-principal {
  background-size: cover !important; }

#Principal {
  width: 100%; }

#button_crop_original, #SelectOrientacao, #SelectProporcao {
  display: none !important; }

.ui-widget {
  z-index: 3 !important; }

.picture-element-image {
  width: 100% !important;
  height: auto !important; }

#button_crop_recortar {
  background-color: #761313;
  border: none;
  color: #fff;
  padding: 6px 26px;
  border-radius: 3px;
  font: 18px Raleway, sans-serif;
  margin: 0 auto;
  display: block;
  font: 18px Raleway, sans-serif; }

#Painel .col-md-8 {
  width: 100% !important; }

#Principal img {
  min-width: 100%;
  height: auto !important;
  max-width: 100%; }

#Principal {
  max-width: 100% !important; }

.ui-dialog {
  height: auto !important;
  width: 1478px !important;
  top: 50px !important;
  left: 213.5px !important;
  display: block !important;
  max-height: 90% !important;
  overflow: auto !important;
  z-index: 10000 !important; }

#_cropSquare {
  position: fixed;
  display: none;
  width: 800px;
  height: auto;
  top: 25px;
  left: 50%;
  margin-left: -400px;
  z-index: 100000;
  padding: 100px 25px 100px 25px;
  background-color: #fff;
  padding: 25px;
  overflow: auto;
  padding-bottom: 244px; }

#overlayBackGround {
  content: '';
  display: none;
  background-color: #000;
  opacity: .7;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 100; }

#cropperInstructions {
  font-size: 22px;
  text-align: center;
  position: absolute;
  bottom: 0;
  padding: 0 25px; }
  #cropperInstructions input {
    margin-bottom: 30px; }

.cropArea {
  background: #E4E4E4;
  overflow: hidden;
  width: 100%;
  height: 350px; }

form .progress {
  line-height: 15px; }

.progress {
  display: inline-block;
  width: 100px;
  border: 3px groove #CCC; }

.progress div {
  font-size: smaller;
  background: orange;
  width: 0; }

#_cropSquare img {
  width: 100%; }

/*---------------Auto address field-------*/
#map {
  width: 100%;
  height: 300px; }

.bottom_inputs #street_number {
  width: 10%;
  float: left; }
.bottom_inputs #route {
  width: 68%;
  float: left;
  margin: 0 1%; }
.bottom_inputs #locality {
  width: 20%;
  float: left; }
.bottom_inputs #administrative_area_level_1 {
  width: 20%;
  float: left; }
.bottom_inputs #postal_code {
  width: 10%;
  float: left;
  margin: 0 1%; }
.bottom_inputs #country {
  width: 40%; }

.bottom_inputs span {
  display: block;
  float: none;
  clear: both;
  font-size: 18px;
  margin-bottom: 10px; }
  
.inputs_span {
display: block;
float: none;
clear: both;
font-size: 18px;
margin-bottom: 10px; }

/*----------------------Profile tabs------------------------------
----------------------------------------------------------------------*/
.mPtab {
  display: none; }

.activeTab {
  display: block; }

/*---------------------Review tab---------------------------------
-----------------------------------------------------------------------*/
h3.reviews {
  margin-top: 50px; }

.review_outer {
  margin-top: 35px;
  width: 93%;
  position: relative;
  background-color: #dbdbdb;
  min-height: 240px; }

.review_left {
  background-color: #2F2B2B;
  width: 260px;
  text-align: center;
  color: #fff;
  position: absolute;
  height: 100%;
  left: 0;
  top: 0;
  bottom: 0;
  font-size: 22px;
  font-family: Roboto Slab, serif;
  padding-top: 10px; }

.review_left span {
  font: Raleway, sans-serif;
  font-size: 16px;
  text-align: center; }

.review_right {
  padding: 23px 0 0 296px;
  font-size: 16px; }

.button_Publish {
  background-color: #30A569;
  border: none;
  padding: 6px 20px;
  color: #fff;
  font-size: 18px;
  position: absolute;
  right: 20px;
  top: 20px;
  border-radius: 3px; }

.button_Unpublish {
  background-color: #761313;
  border: none;
  padding: 6px 20px;
  color: #fff;
  font-size: 18px;
  position: absolute;
  right: 20px;
  top: 20px;
  border-radius: 3px; }

.review_left ._mpStatus {
  margin: 18px auto; }

.ratingStar {
  width: 30px;
  height: 30px;
  background: transparent url("../../images/star.png") no-repeat 0 0;
  display: block;
  float: left; }

#stars {
  position: relative;
  display: block;
  clear: both;
  float: none; }

.review_right p {
  display: block;
  clear: both;
  padding-top: 13px; }

.accountPanelHeader {
  margin-top: 100px;
  font-size: 32px !important;
  text-align: center;
  padding-right: 16px; }

.profileForm h5 {
  font: 24px Raleway, sans-serif; }

/*------------------------------------Payments-------------------
------------------------------------------------------------------*/
#paymentIframe {
  width: 80%;
  margin-left: 10%;
  height: 800px; }

/*------------------------------------Parsley--------------------
------------------------------------------------------------------*/
.parsley-errors-list {
  background-color: #2F2B2B;
  list-style-type: none;
  padding: 10px 30px 25px;
  border: 1px solid #ccc;
  border-radius: 3px;
  color: #fff;
  border-bottom: darkRed;
  border-bottom: 1px solid #761313;
  margin: -10px 0 10px 88px;
  display: inline-block; }

.parsley-errors-list:after {
  content: '';
  display: block;
  width: 0;
  height: 0;
  border-left: 7px solid transparent;
  border-right: 7px solid transparent;
  border-bottom: 7px solid #2F2B2B;
  margin-top: -37px;
  margin-left: 60%; }

/*----------------------------------User Overview--------------------
-----------------------------------------------------------------------*/
._mpEscortContainer.unavailable {
  position: relative; }

._mpEscortContainer.unavailable::after {
  content: '';
  display: block;
  position: absolute;
  background-color: #000;
  opacity: .4;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0; }

._mpViewEscort {
  float: right;
  margin-top: -50px;
  margin-right: 5px;
  background-color: #930505;
  border: none;
  border-radius: 3px;
  padding: 4px 20px;
  color: #fff; }

._mpViewEscort a {
  color: #fff; }

#contactEscortForm {
  position: fixed;
  top: 200px;
  left: 50%;
  background-color: #fff;
  padding: 50px;
  width: 800px;
  margin-left: -400px;
  border: 1px solid #ccc;
  border-radius: 6px;
  z-index: 11;
  font-size: 16px;
  display: none;
  height: 627px; }

#mPOverlay {
  position: fixed;
  z-index: 10;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: #000;
  opacity: .2;
  display: none; }

#contactEscortForm label {
  width: 81px;
  display: block;
  float: left; }

#contactEscortForm input {
  width: 76%;
  margin-left: 10px;
  border-radius: 3px;
  border: 1px solid #8A7A7A;
  padding: 4px;
  margin-bottom: 20px; }

#pl_EscName {
  color: #761313;
  margin-bottom: 35px; }

#playMessageLabel {
  margin: 10px 0 -20px; }

.getPhoneNumber, .sendPlaymail {
  cursor: pointer; }

#playMessage {
  position: fixed;
  z-index: 13;
  top: 411px;
  text-align: center;
  font-size: 26px;
  display: inline-block;
  border: 1px solid #16B19B;
  padding: 6px 20px;
  border-radius: 3px;
  left: 50%;
  margin-left: -200px;
  width: 400px;
  display: none; }

/*-----------------------New Profile------------------
---------------------------------------------------------*/
p.welcome {
  font: 18px Raleway, sans-serif; }

h3#welcome {
  margin: 60px 0 5px; }

#adultPressLogo {
  margin: 80px auto 0;
  display: block; }

h4#proud {
  font: 20px Roboto Slab, serif;
  text-align: center;
  width: 60%;
  margin-left: 20%;
  padding-bottom: 227px; }

.welcomeHeader {
  padding-left: 0 !important; }

/*--------------------Admin dash----------------------
---------------------------------------------------------*/
.adminEscorts {
  padding-left: 144px;
  color: #fff;
  font: 18px Raleway, sans-serif; }

#adminEscorts_length, .dataTables_info, .dataTables_paginate {
  display: none; }

#adminEscorts {
  color: #fff;
  font-size: 16px;
  width: 275px !important; }
  #adminEscorts td {
    min-width: 66px;
    border-top: 1px solid #988E8E;
    border-bottom: 1px solid #988E8E;
    padding: 8px;
    cursor: pointer; }
  #adminEscorts tr:hover {
    background-color: #0B9C88; }
  #adminEscorts thead tr:hover, #adminEscorts thead tr {
    background-color: #222; }

#adminEscorts_filter {
  margin-left: 138px;
  color: #fff;
  margin-bottom: 35px;
  color: #fff;
  margin: 35px 0; }
  #adminEscorts_filter input {
    color: #222;
    margin-left: 15px;
    border-radius: 3px; }

.task a {
  display: block;
  color: #222;
  text-decoration: none;
  font-size: 20px;
  text-align: left;
  padding-left: 100px; }

/*-------------Plan Popup-------------------------
----------------------------------------------------------*/
#planPopup {
  width: 80%;
  margin-left: 10%;
  position: fixed;
  top: 75px;
  background: #fff;
  min-height: 500px;
  z-index: 1000000;
  padding: 50px;
  border-radius: 4px;
  display: none;
  border: 1px solid #ccc; }
  #planPopup h2 {
    text-align: center;
    font-size: 30px;
    margin-top: 116px;
    color: #065967; }

#planHolder {
  position: relative;
  width: 90%;
  margin-left: 5%; }

.planOuter {
  position: relative;
  background-color: #2a2828;
  color: #F7E8E8;
  text-align: center;
  font-family: Raleway;
  font-size: 16px;
  line-height: 1.5em;
  border-top: 5px solid #111;
  padding: 20px 0 0 0;
  cursor: pointer;
  margin-bottom: 66px;
  min-height: 439px; }

.planPrice {
  background-color: #00cfaa;
  width: 100%;
  padding: 22px;
  font-size: 28px;
  margin-top: 30px;
  text-shadow: 1px 1px 1px #040B1B;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0; }

.planInclusions {
  margin-top: 32px;
  border-top: 1px solid #756D6D;
  padding-top: 24px; }

.planHeader {
  font: 24px Roboto Slab, serif;
  margin: 5px 0 20px; }

.planUpgrade {
  font-size: 36px;
  text-align: center; }

.currentPlan {
  border-left: 9px solid #FF300F;
  border-right: 9px solid #FF300F;
  border-bottom: 9px solid #FF300F; }

#changePlanContact {
  display: block;
  margin: 14px auto;
  clear: both;
  float: none;
  background-color: #0C4C9C;
  border: none;
  font-size: 28px;
  color: #fff;
  border-radius: 3px;
  padding: 3px 63px;
  margin-top: 50px;
  clear: both;
  float: none;
  margin-bottom: 50px; }

#overlay {
  bottom: 0;
  right: 0;
  top: 0;
  left: 0;
  z-index: 10039;
  background: rgba(0, 0, 0, 0.5);
  position: fixed;
  display: none; }

@media screen and (min-color-index: 0) and (-webkit-min-device-pixel-ratio: 0) {
  .three-dots-row-spinner {
    display: none; } }
.mobile-only {
  display: none; }

#adultPressad {
  max-width: 100%; }

.ui-datepicker-next::before {
  content: '\003e';
  font-size: 18px; }

.ui-datepicker-prev::before {
  content: '\003c';
  font-size: 18px; }

._mpEscortContainer {
  cursor: pointer; }

#businessInfo #addImage {
  overflow: hidden;
  padding: 0%;
  height: 100%; }

#addImage #galleryLoading {
  height: 0;
  margin: 0; }

.mobile-height-container {
  display: none; }

.profileTable .am_select {
  width: 34% !important;
  padding: 8px 0 !important;
  text-align: center !important; }

.mobile-height-wrapper {
  overflow: hidden; }

.mobile-menu-container {
  display: none;
  position: fixed;
  width: 100%;
  height: 90px;
  z-index: 10000;
  border-bottom: 1px solid #3A3535;
  background: #191818; }

.ratesTable input {
  height: auto; }

._MpoffWhite {
  overflow: hidden; }

.mobile-nav li {
  border-bottom: 1px solid #5D5353;
  text-transform: uppercase;
  color: #DAD8D8;
  font-size: 16px;
  font-family: 'Josefin Sans',sans-serif;
  font-weight: 400;
  background-color: transparent !important;
  border-bottom: 1px solid #5D5353; }
  .mobile-nav li ._mPIcon {
    text-align: left; }
  .mobile-nav li li {
    border-bottom: none;
    position: relative; }

.mobile-nav {
  display: none; }
  .mobile-nav div {
    padding: 25px; }

._mpProfile_holder {
  overflow: hidden; }

.dropContainer {
  width: 100%;
  height: 50px;
  text-indent: 25px;
  padding: 10px 0;
  display: block; }

.downCaret {
  width: 100%;
  display: block;
  margin-right: 15px;
  margin-top: -55px;
  transform: rotate(0deg);
  transition: transform 150ms ease;
  padding-top: 47px;
  position: absolute; }

.downCaret:before {
  background: transparent url("/assets/frontend/img/right.png") no-repeat 95% top;
  content: '';
  display: block;
  width: 26px;
  height: 26px;
  float: right;
  position: absolute;
  top: 0;
  right: 30px; }

.downCaretOpened:before {
  transform: rotate(90deg);
  transition: transform 150ms ease;
  -webkit-transform: rotate(90deg);
  -webkit-transition: transform 150ms ease;
  -ms-transform: rotate(90deg);
  -ms-transition: transform 150ms ease;
  -moz-transform: rotate(90deg);
  -moz-transition: transform 150ms ease;
  -o-transform: rotate(90deg);
  -o-transition: transform 150ms ease; }

.submenu-item div {
  background-color: #504545;
  text-transform: none;
  font-family: 'Raleway', sans-serif;
  border-bottom: 1px solid #968686;
  font-weight: 400;
  display: none; }

/* Media Queries */

@media screen and (min-width: 992px) {
	.availTable .col-md-12 {
		width: 90%!important;
	}
}

@media screen and (max-width: 1750px) {
  #_mpPlan {
    margin-left: 10px; }

  ._mpEscortStats ._mpStatsSpan {
    width: 100% !important;
    margin: 0 !important;
    text-align: center !important;
    padding: 10px 5% !important; } }
@media screen and (max-width: 1615px) {
  .profileTable .am_select {
    padding: 8px 0;
    text-align: center; }

  #new_escort {
    width: 50%;
    margin: 50px 0 50px 120px;
    display: block; } }
@media screen and (max-width: 1750px) {
  ._mpEscortStats h3 {
    width: 100%;
    text-indent: 0; }

  ._mpEscortStats ._mpStatsSpan {
    width: 66%;
    margin: 0 0 20px 98px;
    text-align: left;
    text-indent: 0;
    float: left;
    padding: 0 5%; }

  ._mpStatsSpan {
    margin-left: 0px;
    float: left; }

  ._mpEscortContainer.unavailable span, .sendPlaymail, .getPhoneNumber {
    margin: 0 !important;
    padding: 0 26px !important; } }
@media screen and (max-width: 1487px) {
  #businessInfo .right_float {
    width: 97%;
    float: none;
    padding: 0; }

  #businessInfo #addImage {
    float: none;
    display: block;
    margin: 0 auto 30px; } }
@media screen and (max-width: 1471px) {
  #_mpBusinessPlan h5 {
    padding-top: 0px; }

  #_mpBusinessPlan h3 {
    margin-left: 147px; }

  .businessProfileScreen h2 {
    width: 100%;
    margin-bottom: 10px; }

  .mPProfileTopMenu {
    margin: 10px 0; }

  .mPProfileTopMenu > div:first-child {
    margin: 0;
    padding: 0;    
    margin-bottom: 10px; }

  .col-lg-9.col-lg-offset-3.no_padding._MpScreenArea {
    width: 75%;
    margin-left: 25%; } }
@media screen and (max-width: 1373px) {
  .gallery .col-md-2 {
    margin: 1%;
    width: 23%; } }
@media screen and (max-width: 1320px) {
	
	.rates-radiogroup {
		width: 100%;
		display: inline-block;
		margin-left: -20px;
	}
	.ratesTable {    
    margin: 5px 0;
	}
  .escortTab div {
    float: none;
    margin: 0 auto; }

  .escortTab {
    display: block; }

  .escortTab span {
    text-align: center;
    padding-left: 0px !important;
    width: 100%;
    margin: 0 auto;
    display: block; } }
@media screen and (max-width: 1265px) {
  ._mpViewEscort {
    float: none;
    margin: 10px 25px; } }
@media screen and (max-width: 1210px) {
  #_mpPlan {
    width: 100%; }

  #_mpBusinessPlan h3 {
    margin-left: 0; } }
@media screen and (max-width: 1199px) {
  .pricing-col-container-outer-left, .pricing-col-container-outer-right {
    margin: 30px 15%; } }
@media screen and (max-width: 1165px) {
  .gallery .col-md-2 {
    width: 31%;
    margin: 1%; } }
@media screen and (max-width: 1165px) {
  #_mpEscortMenu span {
    width: 100%; }

  #_mpEscortMenu ul {
    width: 91%;
    float: left;
    padding: 0;
    margin: 10px 0 20px 36px; }

  #_mpEscortMenu ul {
    padding: 20px 0; } }
@media screen and (max-width: 1129px) {
  #businessInfo label, .profileForm label {
    margin-right: 0px; }

  .profileTable {
    width: 100%;
    padding: 0;
    margin: 0; }

  .table2 {
    margin-left: 0%; }

  #availabilityForm input[type="radio"] {
    margin-bottom: 10px; }

  .control-label.headerLabel {
    width: 100% !important;
    margin: 20px 0 !important; }

  #tab_mpAvailability .col-md-10 {
    margin: 0;
    width: 100%;
    padding: 0;
    margin-top: 20px; }

  .col-md-10 .col-md-6 {
    width: 50%;
    overflow: hidden; }

  .normalSelects .col-md-6 label {
    margin-bottom: 10px; }

  #profileDetails .col-md-6 select {
    width: 100% !important; }

  .serviceArray .col-md-3 {
    width: 33.3%;
    height: 85px; }

  #profileDetails .col-md-2 {
    width: 100%; }

  .serviceArray .col-md-3 {
    width: 33.3%;
    height: 85px; }

  .serviceArray {
    width: 100%; } }
@media screen and (max-width: 1110px) {
  #popupPlanForm .col-md-4 {
    width: 75%;
    margin: 20px 12.5%; }

  .planOuter {
    margin: 0; }

  #planPopup {
    height: 80%;
    overflow: hidden; }

  #popupPlanForm {
    height: 100%; }

  .mPProfileTopMenu > div {
    width: 140px; } }
@media screen and (max-width: 1062px) {
  div#_mpBusinessPlan h3 {
    font-size: 30px; }

  .accountPanelHeader {
    font-size: 26px !important; }

  ._mpEscortStats h4 {
    text-indent: 0;
    margin-left: 124px; }
 }
@media screen and (max-width: 1024px) {
	
	.responsiveAvail {
		width: 100%!important;
	}
	
  .rates-radiogroup {
	  margin-left: 0;
  }
  .next-previous {
	display: flex;
  }
  .next-previous input {
	margin: 5px!important;
  }
  
  .mobile-only {
    display: block; }

  .pac-container {
    z-index: 10000 !important; }

  #contactEscortForm {
    display: none;
    max-width: 100%;
    margin: 0;
    left: 0;
    top: 0px;
    overflow: hidden;
    height: auto;
    padding: 5%; }

  .escStatus {
    position: relative; }

  .mobile-height-wrapper {
    overflow: hidden;
    width: 100%;
    display: block;
    margin: 0 auto; }

  #availabilityForm .radioLabel {
    width: 20% !important;
    margin-left: 0% !important; }

  #profileDetails .col-md-2, #heightLabel {
    width: 100%;
    float: left; }

  .serviceArray {
    overflow: hidden;
    float: left; }

  .mobile-nav-container .mobile-nav #new_escort, .mobile-nav-container .mobile-nav #upgradePlan {
    margin: 0 !important;
    padding: 25px !important;
    width: 100% !important;
    font-size: 18px; }

  .mobile-nav-container .mobile-nav #new_escort:hover, .mobile-nav-container .mobile-nav #upgradePlan:hover, .dash-mobile-menu-signout:hover, .mobile-nav-container .mobile-nav #new_escort:focus, .mobile-nav-container .mobile-nav #upgradePlan:focus, .dash-mobile-menu-signout:focus {
    color: #930505;
    text-decoration: none; }

  .im_stat1, im_stat2 {
    z-index: 1; }

  .modal-body {
    padding: 0; }

  .planHolder {
    padding-bottom: 30px; }

  #tab_mpBasicInfo .clear {
    float: left; }

  #age_id {
    margin-bottom: 0; }

  .alignc {
    position: relative;
    float: left;
    width: 100%; }

  #sex {
    width: 90%;
    float: left;
    padding: 8px;
    margin-left: 5%; }

#contact_methods p {
    padding: 0 0 10px 0;
    margin: 0;
}

#label_gender {
	padding-bottom: 15px;
	display: block;
}
	
  #contact_methods {
    position: relative;
    overflow: hidden;
    clear: both;
    margin: 10px 0px 20px;
    float: left;
    width: 90%; }

  form#businessInfo .submit-button, .profileForm .submit-button, form#profileDetails .submit-button, form#payment .submit-button, #cropperInstructions input, .submit-button {
    width: 75%;
    padding: 9px 5%;
    text-align: center;
    margin: 25px 12.5%; }

  #cropperInstructions .submit-button {
    width: 75%;
    margin: 30px 12.5%; }

  #cropperInstructions {
    width: 90%;
    margin: 30px 5% 0px;
    padding: 0;
    position: relative; }

  #_cropSquare {
    height: 90%;
    width: 90%;
    margin: 5%;
    left: 0;
    padding: 5%; }

  #planPopup h2 {
    width: 80%;
    margin: 30px 10%; }

  #new_escort {
    margin: 50px 0 50px 12.5% !important;
    width: 75% !important;
    padding: 20px 5%; }

  #_mpEscortMenu h2 {
    text-align: center;
    width: 100%;
    color: #fff; }

  #_mpEscortMenu, #_mpEscortMenu h2 {
    display: block; }

  #planPopup {
    top: 0;
    height: 80%;
    overflow: hidden;
    width: 80%;
    margin: 10%;
    z-index: 100000;
    padding: 5%;
    overflow-y: scroll; }

  #new_escort {
    margin: 50px 0 50px 25%; }

  select#mobile-height-select {
    margin: 0; }

  #businessInfo .noImage {
    border: 1px solid #ccc; }

  form#businessInfo select, .profileForm select {
    width: 100% !important;
    margin-bottom: 20px; }

  ._MpoffWhite img {
    max-width: 100%; }

  #popupPlanForm .col-md-4 {
    width: 75%;
    margin: 20px 12.5%; }

  .planOuter {
    margin: 0; }

  #popupPlanForm {
    margin-bottom: 20px;
    height: 100%;
    z-index: 0;
    padding-bottom: 50px;
    position: relative; }

  .task a {
    padding-left: 0px; }

  .mobile-nav-container {
    height: 100%;
    padding-bottom: 90px;
    overflow: hidden;
    position: fixed;
    width: 0%;
    z-index: 99;
    top: 90px; }

  .mobile-nav {
    width: 100%;
    position: relative;
    display: block;
    background-color: #191818;
    padding: 0;
    margin: 0;
    overflow-y: scroll;
    height: 100%; }

  .dash-mobile-menu-signout {
    text-transform: uppercase;
    color: #DAD8D8;
    font-size: 18px;
    font-family: 'Josefin Sans',sans-serif;
    font-weight: 400; }

  .dash-mobile-menu-signout-container {
    padding: 25px; }

  ._mpProfile_holder {
    padding: 0; }

  .mobile-height-container {
    overflow: hidden; }

  .mobile-height-container {
    display: block; }

  #heightContainer, #heightLabelContainer, .heightInfo {
    display: none; }

  .mPProfileTopMenu > div {
    margin: 10px auto 10px auto !important; }

  #mpTouring.active {
    background-position: 0 -585px; }

  ._mpEscortStats h4 {
    margin-left: 0; }

  #tab_mpBasicInfo .clear {
    width: 100%;
    margin: 0; }

  ._mpEscortContainer.unavailable span {
    padding: 0 0 20px 75px !important;
    width: 100%; }

  ._mpEscortImage {
    position: absolute; }

  ._mpEscortStats h4 {
    text-align: center;
    width: 100%;
    padding: 0 5% 20px; }

  ._mpEscortStats ._mpStatsSpan {
    width: 100%;
    margin: 0 0 20px 0px;
    text-align: center;
    text-indent: 0;
    float: left;
    padding: 0 5%; }

  .unavailable h4 {
    text-align: center;
    width: 100%;
    padding: 0 5% 20px 75px;
    margin: 0; }

  #availabilityForm td {
    width: 25%;    
    text-align: center; }

  #availabilityForm th {
    width: 25%;
    padding: 27px 0; }

  .profileTable .am_select {
    width: 60% !important; }

  #touring-form .leftFloat {
    width: 50%;
    margin: 0; }

  #touring-form {
    width: 100%;
    margin-left: 0%; }

  .gallery img {
    max-height: 100% !important; }

  .ui-slider-handle::after {
    margin-top: 3px; }

  form#businessInfo select, .profileForm select {
    text-align: left; }

  .mPProfileTopMenu > div {
    width: 20%; }

  .mPProfileTopMenu > div:first-child {
    display: block;
    margin: 0 auto; }

  .mPProfileTopMenu {
    width: 100%;
    margin: 0; }

  ._MpoffWhite img {
    display: block;
    margin: 0 auto;
    max-height: 660px; }

  ._mpStatsSpan.centered {
    width: 33%;
    display: inline-block;
    margin-bottom: 20px; }

  ._mpEscortStats {
    margin: 10px 5%;
    width: 90%;
    text-indent: 0; }

  .screen > div {
    padding: 35px 30px 660px; }

  .normalSelects select {
    margin: 2%; }

  .dropContainer::after {
    content: '\002B';
    right: 20%;
    position: absolute; }

  .avialibleTableTr {
    width: 80%;
    float: left;
    text-align: left;
    margin: 0 10%;
    padding: 0 !important; }

  ._MpoffWhite {
    padding: 5% !important; }

  .review_outer {
    width: 100%; }

  .review_right p {
    padding-bottom: 75px; }

  .review_right {
    width: 40%;
    margin-right: 5%;
    margin-left: 55%;
    padding: 20px 0; }

  #address_line_2 {
    width: 100% !important; }

  #tab_mpBasicInfo .right_float {
    float: left;
    width: 100%;
    padding: 5%; }

  #tab_mpBasicInfo .bottom_inputs {
    padding: 5%;
    width: 100%; }

  ._mpProfile_holder .mp_image_float span {
    font: 18px Raleway, sans-serif;
    margin-top: 10px;
    display: block;
    margin-bottom: 25px;
    width: 100%;
    text-align: center; }

  ._mpProfile_holder #container_image {
    width: 50% !important;
    margin: 0 auto; }

  .screen > div {
    overflow: hidden; }

  #sex label:first-child {
    width: 100%;
    display: block;
    margin-left: 0; }

  #sex input {
    width: 25px !important;
    margin: 20px; 
	height: 25px; }

  #sex input:first-child {
    margin: 0px; }

  .gallery .col-md-2 {
    width: 48% !important;
    float: left;
    margin: 1%; }

  #tab_mpAvailability .col-md-6 .control-label {
    margin-left: 3%; }

  #tab_mpAvailability .col-md-6 .headerLabel {
    width: 100% !important;
    margin-bottom: 15px;
    margin-left: 0; }

  #tab_mpAvailability .col-md-6 input {
    margin-left: 0; }

  #profileDetails .col-md-6 select {
    width: 60% !important; }

  .centeredLabel {
    padding-top: 50px; }

  label#serviceLabel {
    padding: 40px; }

  #profileDetails {
    margin-top: 50px; }

  #profileDetails .col-md-2, #heightLabel {
    width: 100%; }

  .serviceArray {
    width: 100% !important; }

  .serviceArray .col-md-3 {
    width: 25%;
    height: 90px; }

  #tab_mpProfileDetails h3 {
    padding-bottom: 50px;
    border-bottom: 1px solid grey !important;
    width: 100%;
    margin: 30px 0%; }

  #tab_mpProfileDetails, #tab_mpAvailability, #tab_mpGallery, #tab_mpTouring {
    background-color: #fff;
    padding: 5%;
    overflow: hidden; }

  .col-md-6 label.control-label {
    margin-bottom: 15px;
    margin-left: 20%; }

  .normalSelects select {
    margin-bottom: 10px;
    margin: 0 20%; }

  ._MpScreenArea {
    margin-left: 0px;
    width: 100%; }

  #tab_mpBasicInfo:before, #tab_mpProfileDetails:before, #tab_mpAvailability:before, #tab_mpGallery:before, #tab_mpTouring:before {
    content: '';
    border-top: 4px solid #D63131;
    display: block;
    z-index: -1;
    margin-top: 50px; }

  #tab_mpProfileDetails::before {
    width: 100%;
    margin: 51px 0; }

  #tab_mpBasicInfo h3::before, #tab_mpProfileDetails h3::before, #tab_mpAvailability h3::before, #tab_mpGallery h3::before, #tab_mpTouring h3::before {
    width: 67px;
    height: 67px;
    background: #fff url("/assets/dashboard/images/ProfileIconsSprite.png") no-repeat 0px -195px;
    border-radius: 50%;
    margin: 0 auto;
    border: 1px solid #D63131;
    cursor: pointer;
    display: block;
    content: '';
    background-position: 0 -195;
    margin-top: -63px;
    margin-bottom: 25px; }

  #tab_mpTouring h3::before {
    background-position: 0 -585px; }

  #tab_mpTouring form h3::before {
    background: none;
    margin: 0;
    border: none;
    height: 0; }

  .col-lg-9.col-lg-offset-3.no_padding._MpScreenArea {
    width: 100%;
    margin-left: 0; }

  #tab_mpGallery h3:before {
    background-position: 0 -975px; }

  #tab_mpAvailability h3:before {
    background-position: 0 -1105px; }

  #tab_mpProfileDetails h3:before {
    background-position: 0 -780px;
    margin-top: -115px; }

  #galleryForm h3:before {
    content: '';
    background: none;
    border: none; }

  ._mpProfile_holder {
    padding-bottom: 20px;
    padding-top: 20px; }

  .businessProfileScreen > div:first-child {
    width: 100%;
    margin: 0;
    background-color: transparent;
    border-bottom: none;
    background-color: #2F2B2B;
    padding: 20px 0;
    color: #fff;
    width: 112%;
    position: relative;
    left: -6%;
    top: -51px;
    z-index: 2; }

  #age_id {
    width: auto !important; }

  .businessProfileScreen h2, #_mpEscortMenu {
    display: none; }

  .businessProfileScreen h3 {
    font: 26px Raleway, sans-serif;
    width: 100%;
    margin: 0 auto;
    padding-bottom: 22px; }

  ._mpProfile_holder {
    padding-bottom: 20px; }

  ._mPIcon::before {
    margin: 0 15px !important; }

  .mobile-submenu {
    list-style: none;
    padding: 0; }

  ._MpDetailArea {
    display: none; }

  .mobile-menu-container {
    display: block; }

  .top_header {
    display: none; }

  #logo img {
    height: 80px; }

  #logo {
    width: auto !important;
    height: 90px;
    padding: 10px;
    border-right: none !important;
    float: none !important;
    padding-left: 90px; }

  .mobile-nav ._mPIcon {
    height: auto; }

  ._mpicon::after {
    content: '\003E';
    color: #fff !important;
    display: inline-block;
    transform: rotate(0deg);
    transition: transform 300ms ease;
    padding: 15px;
    margin-right: 0px; }

  ._mpiconClicked::after {
    content: '\003E';
    color: #fff !important;
    display: inline-block;
    transform: rotate(90deg);
    transition: transform 300ms ease;
    padding: 15px;
    margin-right: 0px; }

  .arrowToggle {
    background: #D00A0A;
    color: #fff;
    border: none;
    height: auto;
    width: 90px;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    z-index: 2; }

  .arrowToggle:after {
    display: block;
    content: '';
    background: transparent url("/assets/frontend/img/arrow_transform.png") no-repeat left 50%;
    width: 21px;
    height: 18px;
    margin: 0 auto;
    position: relative;
    -webkit-transition: background-position 1s ease;
    transform: rotate(0deg);
    transition: transform 300ms ease; }

  .profileForm .mp_image_float #container_image {
    width: 60% !important;
    height: auto !important;
    margin: 0px 20% 41px;
    overflow: hidden; }

  #escort_age {
    margin-top: 8px !important;
    padding: 0; }

  .mp_image_float {
    width: 100% !important;
    padding: 25px; }

  .businessProfileScreen h3 {
    border-bottom: none !important; }

  .businessProfileScreen p {
    padding-bottom: 20px;
    border-bottom: 1px solid grey; }

  #sex {
    width: 100%;
    float: left;
    padding: 0;
    margin-top: 20px; }

  .right_float {
    width: 100% !important; }

  #tab_mpBasicInfo {
    background-color: #fff;
    padding: 5%;
    overflow: hidden; }

  form#businessInfo .submit-button, .profileForm .submit-button, form#profileDetails .submit-button, form#payment .submit-button, #cropperInstructions input, .submit-button {
    margin-bottom: 0px !important; }

  ._mPIcon::before {
    display: inline-block !important; }

  #_mpProfile {
    margin-top: 0px !important; }

  ._mPIcon::before {
    display: none !important; }

  .arrowToggleClicked:after {
    background: transparent url("/assets/frontend/img/arrow_transform.png") no-repeat right 50% !important;
    transform: rotate(-180deg);
    transition: transform 300ms ease; }

  .businessProfileScreen h2 {
    width: 100%; } }
@media screen and (max-width: 991px) {

	.sex-group div {
		display: block;
		margin-top: 15px!important;
	}
	.age-container {
	 margin-top: 10px;
 }
	#contact_methods label {
	width: 80%!important; }

#contact_methods_playmail div {
	display: block!important;  }

#contact_methods_phone div {
	display: block!important;  }
	
  #_mpBusinessPlan h3 {
    text-align: center; }

  #_mpBusinessPlan h5 {
    padding-top: 20px;
    text-align: center; }

  #_mpPlan {
    background: transparent url("/assets/dashboard/images/plan.png") no-repeat center; }

  #outCallTable td:last-child, #inCallTable td:last-child {
    padding-bottom: 30px !important; }

  #inCallTable span, #outCallTable td span {
    width: 10%;
    margin: 0; }

  #inCallTable input, #outCallTable td input {
    margin: 0; }

  #inCallTable label, #outCallTable td label {
    padding: 5px 0;
    text-align: center; }

  #availabilityForm td select {
    width: 90% !important;
    margin: 10px 5%;
    text-align: center; }

  #heightContainer, #heightLabelContainer {
    padding: 19px 0; }

  .screen > div {
    height: auto;
    overflow: hidden;
    padding: 35px 30px 20px; }

  .table2 td {
    padding-left: 25%; }

  .col-md-10 .col-md-6 {
    width: 100%; }

  #serviceLabel {
    padding: 40px;
    width: 100%; }

  .serviceArray .col-md-3 {
    width: 50%;
    height: 60px;
    float: left; } }
@media screen and (max-width: 767px) {
	#callrate {
		width: 120px;
		margin-right: 10px!important;
	}
  .mobile-height-wrapper {
    width: 100%; }

  #touringTable th {
    text-align: center !important;
    padding: 20px 0 !important; }

  .serviceArray .col-md-3 input {
    width: 30% !important;
    float: none; }

  #profileDetails .col-md-6 select {
    width: 100% !important;
    margin: 0; }

  .col-md-6 label.control-label {
    margin-left: 0%; }

  .button_Publish, .button_Unpublish {
    bottom: 20px;
    top: initial; }

  ._mpProfile_holder #container_image {
    width: 75% !important; }

  ._mpPlanInfo {
    padding-top: 50px; }

  .profileTable th {
    padding: 20px 0;
    font: 16px Raleway, sans-serif; }

  .profileTable td {
    width: 25%;
    overflow: hidden;
    padding: 0 !important;
    text-align: center; }

  .profileForm .mp_image_float #container_image {
    width: 90% !important;
    margin: 0px 5% 41px; }
 }
@media screen and (max-width: 767px) and (max-width: 665px) {
  label#serviceLabel {
    padding: 20px; }

  padding-top: 0px; }
@media screen and (max-width: 767px) {
  .mPProfileTopMenu > div {
    width: 33%;
    display: block;
    margin: 0 auto 10px auto; }

  ._mpProfile_holder {
    padding: 0; }

  #touringTable tr {
    width: 100%;
    padding: 0;
    margin: 0; }

  #touringTable {
    width: 100%; } }
@media screen and (max-width: 641px) {
  .serviceArray .col-md-3 input {
    float: left; } }
@media screen and (max-width: 620px) {
  #tab_mpProfileDetails div {
    overflow: hidden; }

  #escort_age {
    padding: 0 10px; }

  #sex label:first-child {
    margin-left: 0px; }

  #tab_mpAvailability .col-md-6 .control-label {
    margin-left: 3%;
    margin-top: 10px;
    text-align: left; }

  #inCallTable label, #outCallTable td label {
    width: 40% !important; }

  #availabilityForm label {
    padding: 0;
    margin: 0; }

  .control-label {
    width: 100% !important;
    margin-bottom: 10px; }

  #touring-form .leftFloat {
    width: 100%;
    margin: 0; }

  .serviceArray .col-md-3 {
    width: 100%;
    margin: 0 auto; }

  .control-label.serviceLabel {
    margin: 0; }

  .col-md-6 label.control-label {
    margin-left: 0%; }

  #profileDetails .col-md-6 select {
    width: 100% !important;
    margin: 0; }

  .mPProfileTopMenu > div {
    width: 50%; }

  .review_right {
    width: 90%;
    margin-right: 5%;
    margin-left: 5%;
    padding: 20px 0;
    min-height: 270px; }

  .review_right {
    width: 90%;
    margin-right: 5%;
    margin-left: 5%;
    min-height: 270px; }

  .review_left {
    width: 100%;
    position: relative;
    height: auto;
    padding: 10px 0; }

  #sex input {
    width: 25px !important;
    margin: 20px 0; 
	height: 25px; }

  #bannerUpload {
    width: 100%;
    margin-left: 0%; }

  .gallery .col-md-2 {
    width: 99% !important;
    float: left;
    margin: 1%; }

  ._mpProfile_holder {
    padding: 0 5% 20px; }

  .left_margin_15 {
    margin-left: 0px;
    width: 100% !important;
    margin-bottom: 15px; }

  .profileForm label {
    width: 50%; }

  #sex input {
    margin-top: 3px; } }
@media screen and (max-width: 555px) {
	.availDaysLabel {
		margin-top: 5px!important;
	}
	.normalSelects .serviceLabel {
		margin-top: 5px!important;
	}
	#availabilityForm input.roundedOne
	{
		margin: 7px auto;
	}
	.availTable .normalSelects .serviceLabel {
		margin-top: 0px!important;
	}
  .serviceArray .serviceLabel {
    width: 50% !important;
    margin-top: -3px !important; }

  #planPopup {
    top: 0;
    height: 90%;
    overflow: hidden;
    width: 90%;
    margin: 5%;
    z-index: 100000;
    overflow-y: scroll; }

  #popupPlanForm .col-md-4 {
    width: 100%;
    margin: 20px 0; }

  #escort_age {
    margin-top: 8px !important;
    padding: 0 8px; }

  #sex label:first-child {
    margin-left: 0px; }

  #outCallTable td span, #inCallTable td span {
    width: 9%;
    margin: 0; }

  #outCallTable td label, #inCallTable td label {
    margin-top: 10px; }

  #availabilityForm .submit-button {
    width: 100% !important; }

  #outCallTable td span {
    width: 7%;
    margin: 0; }

  .availTable .col-md-6 .control-label {
    text-align: left; 
	width: 80%!important; 	}

  #inCallTable label {
    padding: 0; }

  #inCallTable span {
    width: 5%;
    margin: 20px 1%; }

  #availabilityForm input {
    margin: 0; }

  #availabilityForm th {
    width: 100%;
    display: none; }

  #availabilityForm td {
    width: 100%;
    float: left; }

  #availabilityForm th:first-child {
    width: 100%;
    display: inline-block; }

  #availabilityForm td {
    width: 100%;
    float: left; } }
@media screen and (max-width: 500px) {
  #businessInfo #addImage {
    width: 100%; }

  ._mpEscortImage {
    position: relative; }

  #inCallTable label, #outCallTable td label {
    width: 40% !important; }

  .pricing-col-container-outer-left, .pricing-col-container-inner, .pricing-col-container-outer-right {
    width: 100%;
    margin: 30px 0%; }

  ._mpProfile_holder #container_image {
    width: 100% !important; }

  ._mpEscortImage img {
    width: 100%;
    height: auto; }

  ._mpEscortStats, ._mpStatsSpan {
    margin-left: 0px;
    overflow: hidden;
    width: 90%;
    text-align: center;
    text-indent: 0px;
    margin: 0 5%; }

  ._mpEscortImage {
    float: none;
    width: 50%;
    height: auto;
    border-radius: 50%;
    overflow: hidden;
    display: block;
    margin: 0 auto; }

  .radio.roundedOne {
    margin-left: 3% !important; } }
@media screen and (max-width: 489px) {
  .businessProfileScreen > div:first-child {
    top: -24px; } }
@media screen and (max-width: 410px) {
  ._mpProfile_holder {
    padding: 10px; }

  .serviceArray .col-md-3 {
    width: 100%;
    margin: 0; }

  #inCallTable span {
    width: 10%; }
 }
@media screen and (max-width: 374px) {
  #touringTable td, #touringTable th {
    font-size: 12px; }

  ._MplightGrey {
    padding: 0; }

  #_mpPlan {
    width: 100%;
    margin: 0 auto;
    display: block;
    background: transparent url("/assets/dashboard/images/plan.png") no-repeat center; }

  #_mpBusinessPlan h5 {
    margin: 20px auto;
    text-align: center; }

  #_mpBusinessPlan h3 {
    margin-left: 0;
    text-align: center; }

  ._mpPlanInfo {
    padding-top: 0; } }
	
	@media screen and (max-width: 386px) {
		
		.ratesTable .col-sm-6 label {
			margin-left: 30px!important;
			padding:0;
			text-align: left!important;
		}
	}
	
@media screen and (max-width: 344px) {
  #logo imagesimagesimagesima {
    height: 65px; } }
@media screen and (max-width: 321px) {
  #outCallTable td span, #inCallTable td span {
    width: 10%; }

  #_mpEscortMenu {
    display: none; }

  ._mpProfile_holder {
    padding: 0 10px 0; }

  label#escort_age {
    margin-right: -4px; }

  .profileForm label {
    width: 56%; }

  #sex {
    margin-top: 10px; }

  .profileForm label {
    width: 50%; }

  #age_id {
    width: 37% !important; }

  .form_required:after {
    display: inline; }

  .profileForm .mp_image_float #container_image {
    width: 100% !important;
    margin: 0px 0% 0px; }

  .mp_image_float {
    padding-top: 0px; }

  .businessProfileScreen h3 {
    font: 26px Raleway, sans-serif;
    width: 100%;
    margin: 0 auto;
    padding-bottom: 22px; } }

/*# sourceMappingURL=main.css.map */
