/*--Include dependencies
--*/
//@import "angular.cropper";
@import "ng-img-crop";
@import "angular-spinkit";

//Fonts
$roboto: Roboto Slab, serif;
$raleway: Raleway, sans-serif;

//Colours
$red: #930505;
$darkRed: #761313;
$black: #1e1d1d;
$darkGrey: #171515;
$mediumGrey: #2F2B2B;
$grey: #cdcbcb;
$lightGrey: #dbdbdb;
$lightRedGrey: #BDB1B1;;
$offWhite: #efefef;

iframe#viewEscort { background: #fff; }

/*--------------Mixins-------------------  
---------------------------------------------*/
$tablet-width: 768px;
$desktop-width: 1024px;
$large-desktop-width: 1700px;

@mixin mobile {
  @media (max-width: #{$tablet-width}) {
    @content;
  }
}

@mixin tablet {
  @media (min-width: #{$tablet-width}) and (max-width: #{$desktop-width - 1px}) {
    @content;
  }
}

@mixin desktop {
  @media (min-width: #{$desktop-width}) {
    @content;
  }
} 
@mixin large-desktop {
  @media (min-width: #{$large-desktop-width}) {
    @content;
  }
}
.text-left {
    text-align:left!important;
}
span.info {
     font:20px $roboto;
     color: $darkRed;
     margin-bottom: 8px;
     display: block;
}
/*----------------Loading---------------
----------------------------------------------*/
._mpEscortData {
     color: #fff;
     font: 18px $roboto;
     padding-left:120px;
}
#container_image img{
    max-width: 100%;
    display:block;
    margin: 0 auto;
    min-width: 100px;
}
#container_image { 
text-align:center; 
}
#hider { display:none;}
.three-dots-row-spinner {
    position: absolute;
    left: 57%;
    top: 200px;
    width: 60px;
    height: 60px;
    background-color: #9E3535;
    margin: 100px auto;
    -webkit-animation: rotateplane 1.2s infinite ease-in-out;
    animation: rotateplane 1.2s infinite ease-in-out;
    z-index: -1;
    padding: 0!important;
}
.smaller {
    font-size: 16px;
}
#playmailSpinner { 
    z-index: 12; 
    display:none;
    margin-left: -223px;
    left:50%;
    } 
    .load8 .loader, .load8 .loader:after {
    border-radius: 50%;
    width: 10em;
    height: 10em;
}
.load-container {
        margin-top: -341px;
        display:none;
}
.load8 .loader {
    margin: 60px auto;
    font-size: 10px;
    position: relative;
    text-indent: -9999em;
    border-top: 1.1em solid rgb(147, 5, 5);
    border-right: 1.1em solid rgba(147, 5, 5, 0.31);
    border-bottom: 1.1em solid rgba(147, 5, 5, 0.38);
    border-left: 1.1em solid rgba(147, 5, 5, 0.48);
    -webkit-transform: translateZ(0);
    -ms-transform: translateZ(0);
    transform: translateZ(0);
    -webkit-animation: load8 1.1s infinite linear;
    animation: load8 1.1s infinite linear;
}
.loader,
.loader:after {
  border-radius: 50%;
  width: 10em;
  height: 10em;
}
@-webkit-keyframes load8 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@keyframes load8 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
.no_padding {
	 padding: 0; 
}

#_mp_brand_container { 
    background: $red;
    position: relative;
    overflow: hidden;
}
#_mp_areaName {
    color: #fff;
    font-family: Roboto Slab, serif;
    text-align: center;
    font-size: 28px;
    display: table-row;
    v-align: middle;
    height: 90px;
}
#_mp_areaName span {
    display: table-cell;
    vertical-align: middle;
    padding-left: 20px;
    max-width: 260px;
}
#logo {
    width: 110px;
    height: 90px;
    padding: 10px;
    float: left;
    overflow: hidden;
    position: relative;
    border-right: 1px solid $darkRed;
}
#logo img { 
 display:block; 
 margin: 0 auto;
 }
#_mp_prof_header {
    width: 100%;
    height: 90px;
    background-color: #1e1d1d;
    position: fixed;
    right: 0;
    z-index: -1;
}
#profile_dropdown {
    padding: 0;
    margin: 0;
    float: right;
    margin-right: 31px;
    color: #fff;
    margin-top: 21px;
    font: 22px Roboto Slab, serif;
    list-style-type: none;
    padding-right: 50px;
}
#profile_dropdown {
  li { 
    cursor:pointer;
    display:none;
    background: $black;
    padding: 10px 0;
    color: #fff;
    text-align: center;
    min-width: 110px;
     }
     a { color: #fff; }
  li:hover, li:first-child { display:block; }
}
#profile_dropdown:hover li {
     display:block;
}
#profile_dropdown:before {
    cursor:pointer;
    content: '';
    display: block;
    width: 0;
    height: 0;
    border-left: 13px solid transparent;
    border-right: 13px solid transparent;
    border-top: 13px solid #fff;
    position: absolute;
    right: 29px;
    top: 41px;
}
#_mp_img_holder {
    width: 50px;
    height: 50px;
    overflow: hidden;
    border-radius: 50%;
    float: left;
    margin-left: 20px;
    margin-right: 20px;
    margin-top: -9px;
}
#profile_dropdown img {
    width: auto;
    height: auto;
    display: block;
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    max-height: 500%;
    max-width: 500%;
}
.top_header {
    position: fixed;
    width: 100%;
    height: 90px; 
    z-index: 10000;
}
.main_content { margin-top: 90px;}
.left_header { z-index: 3; }
.right_header { z-index: 2;}
.dashTopLink {
    position: absolute;
    margin-left: 512px;
    color: #fff;
    z-index: 1000;
    font-size: 22px;
    margin-top: 31px; 
    a {
    color: #fff;
    }
}
#selectContainer{    
    margin-top: -22px;
    border: 1px solid #7D6F6F;
}
#selectContainer div {
    background-color: #fff;
    padding: 9px 18px;
    color: #2A5C67;
}
#selectContainer div:hover {
    background-color: #0B9C88;
    color: #fff;
}
.overlay {
    background-color: rgba(0,0,0,.3);
    position: absolute;
    z-index: 5;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    button {
        top: 112px;
        z-index: 20;
        margin-top: 420px;
        display: block;
        width: 344px;
        font-size: 22px;
        margin: 180px auto;
    } 
}
#adultPressad {
    margin-top: 83px;
}
.wide_button { width: 300px!important; }
#addImage { cursor:pointer; }
/**--------------Common-------
-----------------------------------*/
h2 { font:26px $raleway;}
h3 {
    font: 35px $roboto; 
    margin-top: 5px;
}
h4 {     
    margin: 16px 0 4px;
    font: 30px Raleway, sans-serif;}
.full_width { width: 100%; }
.margin-top-35 { margin-top: 35px; }
.centered { text-align: center; }
.right_margin_15 { margin-right: 15px; }
.left_margin_15 { margin-left: 15px; }
/**--------Side Menu----------
----------------------------------*/
#_mpMenu{
    width: 110px;
    background-color: $darkGrey;
    color: #fff;  
    position: fixed;
    float: left;
    clear: both;
    font-family: $raleway;
    padding-bottom:100px;
    cursor:pointer;
    z-index: 102;
    min-height: 100%;
}
._mPIcon:before {
  margin: 0 auto;
  content: '';
  display:block;
  width:54px;
  height: 54px;
  background: transparent url( '/assets/dashboard/images/profileSprites.png' ) no-repeat 0 0;
    
}
._mPIcon {
 font-size: 18px;
text-align: center;
height: 151px;
padding-top: 20px;
}
._mPIcon:hover {color: #930505;}
.mPActiveIcon { background-color: $mediumGrey; }
.mPActiveIcon:hover{ color: #fff!important;}
#_MpProfile_:before { background-position: center -216px;}
#_MpReviews_:before { background-position: center -432px;}
#_MpPlaymail_:before { background-position: center -327px;}
#_MpAccount_:before { background-position: center -110px;}
#_MpPayments_:before { background-position: center -538px;}
#_MpEscorts_:before, #_MpFavourites_:before {     background-position: center -645px;
    height: 65px;}


#_MpOverview_:hover:before { background-position: center -54px; }
#_MpProfile_:hover:before { background-position: center -270px;}
#_MpReviews_:hover:before { background-position: center -486px;}
#_MpPlaymail_:hover:before { background-position: center -380px;}
#_MpAccount_:hover:before { background-position: center -164px;}
#_MpPayments_:hover:before { background-position: center -592px;}
#_MpEscorts_:hover:before, #_MpFavourites_:hover:before {     background-position: center -710px;
    height: 65px;}

#_MpOverview_.mPActiveIcon:hover:before { background-position: center 0;}
#_MpProfile_:mPActiveIcon:hover:before { background-position: center -216px;}
#_MpReviews_.mPActiveIcon:hover:before { background-position: center -432px;}
#_MpPlaymail_.mPActiveIcon:hover:before { background-position: center -327px;}
#_MpAccount_.mPActiveIcon:hover:before { background-position: center -110px;}
#_MpPayments_.mPActiveIcon:hover:before { background-position: center -538px;}
#_MpEscorts_.mPActiveIcon:hover:before, #_MpFavourites_.mpActionIcon:hover:before {     background-position: center -645px;
    height: 65px;}

/*--------------------------Panel area
----------------------------------------------------*/
.panelFixed{ 
   position:fixed;
   z-index:10;
   bottom: 0;
   left: 0;
   top: 90px;
   overflow-x: auto;
   }
._mp_button {
        background-color: red;
    background: transparent;
    border: none;
    color: #fff;
    padding: 8px 22px;
    display: block;
    margin: 10px auto;
    font: 22px $raleway;
}
._mp_button.active { 
    background-color: #930505;
    border-radius: 3px;
    }
._MpDetailArea { background-color: $mediumGrey; }
.panelController {
    float: left;
    display: block;
    color: #fff;
    width: 306px;
    text-align: center;
    padding: 45px 20px 20px 130px;
    font: 22px $roboto;
    width: 100%;
    position: absolute;
}
.panelController.loading:before {
    content: '';
    display: block;
    background: #fff;
    opacity: .6;
    width: 50000000px;
    height: 100%;
    position: fixed;
    left: 110px;
    right: -100000px;
    top: 90px;
    bottom: 0;
    z-index: 100;
}
.panelController.loading:after {
    content: '';
    display:block;
    width:100px;
    height:100px;
    z-index: 101;
    position:fixed;
    left:50%;
    top:50%;
    margin-top:-100px;
    margin-left:-50px;
    background: transparent url( '/assets/dashboard/images/tail-spin.svg') no-repeat 0 0;
    background-size: cover;

}
._mpStatus, .mpUnpublish {
    width: 64px;
    height: 64px;
    background: transparent url( '/assets/dashboard/images/statusSprite.png' ) no-repeat 0 0;
    display: block;
    margin: 34px auto;
}
#mpDisapproved, #mpUnavailable, .mpPublish { background-position: center -64px;}
#mpPending { background-position: center -128px;}
._mpPosition {
    background-color: $darkGrey;
    display: block;
    padding: 10px 10px 20px;
    margin-top: 20px;
}
#_mpProfile {     
    margin-top: 35px;
    font: 18px raleway;
        line-height: 2em;
    }
.escortTabContainer {
    width: 100%;
    padding: 15px 15px 15px 128px;
    border-bottom: 2px solid black;
    cursor:pointer;
}
.escortTab {
    max-width: 100%;
    padding: 0;
    position: relative;
    overflow: hidden;
    display: table;
    }
.escortTab div {
    width: 75px;
    height: 75px;
    overflow: hidden;
    border-radius: 50%;
    float: left;
}
.escortTab span {
    color: #fff;
    font-size: 22px;
    v-align: middle;
    vertical-align: middle;
    display: table-cell;
    padding-left: 25px;
    padding-bottom: 5px;
    }
.escortTab div img {
     width: 100%;
     height: auto;
     margin: 0 auto;

}
.escortTabContainer:hover {
    background-color: $darkGrey;
}
.escortTabContainer.current:hover {
    background-color: $offWhite;
}
.escortTabContainer.current {
    background-color: $offWhite;
    border-bottom: 2px solid $darkRed;
    color: #222;
}
.escortTabContainer.current span { color: #222}
h4.panelHeader {
    padding-left: 128px;
    color: #fff;
    margin-bottom: 35px;
    font-size: 24px; 
}
.emptyEscortFiller {
    font-size: 18px;
    padding-bottom: 600px;
}
.escStatus {    
    position: absolute;
    margin-left: 34px;
    margin-top: 57px;
    font-size: 14px;
    }
._mpEscortImage img { width: 100%; }
/*---------------------Screens
---------------------------------------------------*/
.screen>div { 
   padding: 35px 30px 600px;
   }
._MpoffWhite { 
    background-color: $offWhite;
    padding: 35px 50px!important;
    }
._MplightGrey { 
    background-color: $lightGrey; 
    }
.message  {
    font-size: 18px;
    margin: 10px 0;
    padding: 13px;
    border-radius: 6px;
}
    .success { border: 2px solid #6BBF6B;}
    .error { border: 2px solid red;}
//--------------------Overview--------------
.no_escorts {
    color: #fff;
    font-size: 20px;
    padding-right: 10px;
    padding: 20px 10px 0 146px;
}
._60_perc {
    max-width: 100%;
    max-height: 506px;
}
._mpEscortContainer {
    background-color: $lightRedGrey;
    padding: 10px;
    margin-bottom: 35px;
    overflow: hidden;
}
._mpEscortImage {float: left;
    clear: both;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    overflow: hidden;
    }
._mpEscortStats {font:20px $roboto; text-indent: 25px;}
._mpStatsSpan {margin-left:25px; }
._mpStatsSpan.centered {  
    width: 26%;
    display: inline-block;
    }
#_mpPlan { 
   width: 132px;
   height: 132px;
   background: transparent url( '/assets/dashboard/images/plan.png') no-repeat 0 0;
   display: block;
   float: left;
   margin-right: 15px;
   }
#_mpBusinessPlan h5 {
    color: #930505;
    font-size: 28px;
    font-family: Roboto Slab;
    font-weight: 400;
    padding-top: 20px;
    margin-bottom: 0;
    }
#_mpBusinessPlan h3 { margin-top: -6px;}
._mpPlanInfo {
    font: 23px $raleway;
    text-align: center;
    width: 80%;
    margin-left: 10%;
    margin-top: 30px;
    padding-top: 30px;
}
#_mpBusinessPlan  button {
    border: none;
    background: #930505;
    color: #fff;
    font-size: 30px;
    padding: 10px 32px;
    border-radius: 3px;
    margin: 35px auto;
    display: block;
}
/*-----------Profile ------*/
.businessProfileScreen h3 {
    font: 31px Raleway, sans-serif;
    clear: both;
    text-align: center;
    padding-top: 25px;
    width: 60%;
    margin: 0 auto 32px;
    border-bottom: 1px solid grey;
    padding-bottom: 22px;
}
.businessProfileScreen>div:first-child {
    background-color: #FFFFFF;
    width: 100%;
    overflow: hidden;
    padding: 10px 50px 0;
    border-bottom: 1px solid #ccc;
}
.businessProfileScreen h2 { 
    float: left;
    margin-top: 31px;
    margin-bottom: 37px;
    color: #3E0B0B;
    font-size: 32px;
}
.businessProfileScreen { padding: 0!important;}
.businessProfileScreen p {
    font-size: 18px;
    text-align: center;
    font-family: raleway;
}
.bottom_inputs { padding-right:25px;}
.mPProfileTopMenu>div {
    float: left;
    margin: 0;
    width: 152px;
}
.mPProfileTopMenu span {
    display: block;
    width: 100%;
    text-align: center;
    margin-top: 7px;
    font: 16px $raleway;
}
.mPProfileTopMenu div div {
    width: 67px;
    height: 67px;
    background: #fff url("/assets/dashboard/images/ProfileIconsSprite.png") no-repeat 0 0;
    border-radius: 50%;
    margin: 0 auto;
    border: 1px solid #CAC4C4;
    cursor: pointer;
}
.mPProfileTopMenu div div.active {
    border: 2px solid #D63131;
}
#mpBasicInfo, #mpSeo { background-position: 0 -260px;}
#mpBasicInfo.active,, #mpSeo.active { background-position: 0 -195px;}
#mpProfileDetails { background-position: 0 -650px;}
#mpProfileDetails.active { background-position: 0 -780px; }
#mpAvailability { background-position: 0 -1040px;}
#mpAvailability.active { background-position: 0 -1105px; }
#mpGallery {    background-position: 0 -845px; }
#mpGallery.active {     background-position: 0 -975px; }
#mpPayment, #mpTouring { background-position: 0 -455px;}
#mpPayment.active, #mpTouring.active { background-position: 0 -585px; }
#mpFinished { background-position: 0 -1363px; }
#mpFinished.active { background-position: 0 -1431px; }
#mpPlans { background-position: 0 -1495px; }
#mpPlans.active { background-position: 0 -1560px; }
._mpProfile_holder {
    padding: 0 50px 0;
    display: block;
    position: relative;
    float: none;
    clear: both;
    padding-bottom: 300px;
}
.mPProfileTopMenu.group-3 { 
    width: 456px;
    float: right;
    margin-bottom: 10px;
    }
form#businessInfo {
    width:100%;
    clear:both;
    float:none;
}
.mp_image_float {
    width: 30%;
    float: left;
    overflow: hidden;
}
.mp_image_float span {
    font: 18px $raleway;
    margin-top: 10px;
    display: block;
    margin-bottom: 25px;
}
.right_float {
    width: 69%;
    float: right;
    padding: 0 25px;
}
.right_float:after, .mp_image_float:after {
     clear:both;
     float:none;
     content: '';
     display: block;
} 
form#businessInfo input, .profileForm input {
    width: 100%;
    border: 1px solid #9E9595;
    border-radius: 3px;
    padding: 8px 10px;
    margin-bottom: 20px;
    font: 18px $raleway;
}
#contact_methods select {
    float: none;
    clear: both;
    margin: 0;
    display: inline-block;
}
#contact_methods label {
    width: 154px;
    display: inline-block;
}
.profileForm .leftFloat {
    float:left;
    width:44%;
    margin-right:3%;
} 
form#businessInfo label, .profileForm label {
    font: 18px Raleway;
    margin-right:25px;
} 
#touring-form {
    width: 80%;
    margin-left: 10%;
    background-color: #DCD5D5;
    padding: 0 35px 35px;
    margin-top: 30px;
    h3 {
        font: 26px Raleway, sans-serif; 
        padding-bottom: 16px;
    }
}
.deleteTouring { cursor:pointer;}
.clear {
    clear: both;
    float: none;
    display: block;
    width: 100%;
    position: relative;
    overflow: hidden;
}
.datesTable th {  padding: 27px 40px 27px 0!important;}
.datesTable th:first-child {     padding: 27px 40px!important;}
.datesTable a {color: #B73333;}
.ui-state-highlight, .ui-widget-content .ui-state-highlight, .ui-widget-header .ui-state-highlight { 
    border: 1px solid #dad55e;
    background: #5E8882;
    color: #FFFFFF;
    } 
.touringEntry {    
    border: 1px solid #ccc;
    height: 32px;
    }
.mPProfileTopMenu { float:right;}
form#businessInfo select, .profileForm select {
    width: 30% !important;
    text-align: right;
    padding: 6px 10px;
    border: none;
    border-radius: 3px;
    background-color: #FFFFFF;
    color: #020202;
    font: 18px Raleway;
    border: 1px solid #9E9595;
    padding-bottom: 10px;
    display: block;
    float: right;
    margin-top: -95px;
}
form#businessInfo .submit-button, .profileForm .submit-button, form#profileDetails .submit-button, form#payment .submit-button, #cropperInstructions input, .submit-button {
    width: 197px;
    margin: 0 auto;
    display: block;
    margin-top: 35px;
    border: none;
    background-color: #930505;
    color: #fff;
    font-size: 22px;
    padding: 9px 17px;
    border-radius: 3px;
    font: 18px $raleway;
    margin-bottom: 60px;
}
#busType {float:none!important; clear:both; margin-top:0!important;}
#busLogo { cursor:pointer;}
#container_image { 
    width: 334px !important;
    height: 228px !important;
    margin-bottom: 41px;
    overflow: hidden;
    }
#cover_image { 
    width: 100% !important;
    height: 0px!important;
    border-radius: 3px;
    padding-bottom: 38%;
    background-repeat: no-repeat!important;
    background-position: center center!important;
}
#tab_mpProfileDetails span  {
    display: block;
    font-size: 22px;
    text-align: center;
    margin: 10px 0 30px;
}
textarea {    
    border: 1px solid rgb(121, 113, 113);
    width: 100%;
    margin-top: 30px;
    border-radius: 3px;
    padding: 15px;}
input[name=file-image] {
    width: 100%!important;
    height: 100%!important;
    cursor: pointer!important;
}

#age_id, #escort_age {    
    float: left;
    margin-top: 0;
    }
#escort_age {
     margin-top: 8px;
}
#age_id { width: 100px!important;}
#escLocationField {
    width: 30%;
    float: left;
    margin-left: 10px;
}
#postcode { width: 200px; margin-left: 10px}
#sex input { width: auto!important;}
.form_required:after {
     color: red;
     content: '*';
     display:inline-block;
     font-size:1.3em;
}
.normalSelects select{ 
   margin-top: 0;
    margin-bottom: 20px;
    float: left;
    width: 60%!important;
    }
.normalSelects .col-md-6 label {
     float:left;
     margin-top: 9px;
     width: 110px!important;
}
#heightSelect { 
    clear:both; 
    float:none;
    height: 18px;
    background-color: #D63131
    }
#heightSelectlabel{
    margin-bottom: 5px;
    border: 1px solid red;
    width: 67px;
    line-height: 20px;
    position: relative;
    text-align: center;
    margin-top: 30px;
    margin-bottom: 16px;
    padding: 4px;
    border: none;
    background-color: #dbdbdb;
    color: darkRed;
    margin-bottom: 4px;
    left: -13px;
}
#heightSelectlabel:before {
    content: '';
    display: block;
    width: 0;
    height: 0;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-top: 5px solid #cdcbcb;
    position: absolute;
    top: 100%;
    left: 20%;
}
.heightInfo {
    font-size: 20px;
    padding-top: 77px;
    margin-bottom: 50px;
}
.heightReadable {
    color: darkRed;
    display: inline!important;
}
.ui-slider-handle:after {
    content: '';
    display: block;
    background-color: #564E4E;
    width: 100000000%;
    position: absolute;
    height: 18px;
    left: 100%;
    margin-top: 5px;
    margin-left: 1px;
}
.centeredLabel {
    display: block;
    width: 100%;
    clear: both;
    float: none;
    text-align: center;
    padding-top: 30px;
}
.ui-slider-handle {   
    margin-top: 0px !important;
    background-color: #D63131 !important;
    border: 1px solid #fff;
    border: 2px solid #fff!important;
    width: 30px!important;
    height: 30px!important;
    border-radius: 50%!important;
    z-index: 10000!important;
    }
#heightContainer, #heightLabelContainer {
    max-width: 1084px;
    overflow: hidden;
    margin: 0 auto;
    padding: 19px; 
}
.headerLabel {
    text-transform: uppercase;
    font-size: 20px!important;
    }
#heightLabelContainer { overflow:visible; padding: 0 19px;}
input.checkbox { width: auto!important;}
.serviceLabel {    
    padding-top: 0;
    display: inline;
    font-size: 15px!important;
    }
.serviceArray{
padding-top: 30px;
  .col-md-3 { padding-bottom: 8px; }
}
/*---------------------Availabilites-------------*/
#availabilityForm input.roundedOne {
  width: 35px !important;
  height: 35px !important;
  position: relative;
  margin: 20px auto;
  background: #fcfff4;
  background: linear-gradient(top, #fcfff4 0%, #dfe5d7 40%, #b3bead 100%);
  border-radius: 50px;
  label {
    width: 20px!important;
    height: 20px!important;
    position: absolute;
    top: 4px;
    left: 4px;
    cursor: pointer;
    background: linear-gradient(top, #222 0%, #45484d 100%);
    border-radius: 50px;
    &:after {
      content: '';
      width: 9px;
      height: 5px;
      position: absolute;
      top: 5px;
      left: 4px;
      border: 3px solid #fcfff4;
      border-top: none;
      border-right: none;
      background: transparent;
      opacity: 0;
      transform: rotate(-45deg);
    }
    &:hover::after {
      opacity: 0.3;
    }
  }
  input[type=checkbox] {
    visibility: hidden;
    &:checked + label:after {
      opacity: 1;
    } 
  }   
}
.radio.roundedOne {
    margin-top: 8px!important;
}
.col-md-6 label {
   width: auto!important;
   }
.availDaysLabel {
    margin-left: 19px;
    text-transform: uppercase;
    vertical-align: middle;
    padding-bottom: 28px;
    display: inline-block;
    margin-top: 14px;
}
/* end .roundedOne */
.profileTable {
    width: 80%;
    margin: 35px auto 65px;
    width: 80%;
    margin: 35px auto;
    background-color: $lightGrey;
    border: 1px solid $grey;
    th {
        padding: 27px 40px;
        font: 20px $raleway;
        color: #222;
        font-weight: 400;
        border-bottom: 1px solid $grey;
    }
    td:first-child {
         padding-left: 40px;
     }
    td:last-child {
         padding-right: 40px;
    }
    .am_select {
    width: 34% !important;
    }
    select { margin-bottom: 0;}
    tbody tr:last-child td { padding-bottom: 55px;}
    select[disabled] { background-color: $grey; color: #cdcbcb;}
}
	.profileTable .ratesTable tbody > tr:first-child > td {
    padding-top: 0px!important; }
#availabilityForm {
    input[type="radio"] {
    width: auto !important;
    float: left;
    vertical-align: middle;
    margin-bottom: 0;
    margin-top: 14px;
    margin-left: 20px;
    margin-right: 10px;
    }
   
}
.ratesTable {
    width: 90%;
    margin: 45px 0;
    font-size: 26px;
    position: relative;
    input {
        width: auto;
        float: left;
        height: 32px;
    }
    label {
       margin: 0 0 0 20px;
    }
    span {    
        float: left;
        margin-right: 10px;
    }
}   
.table2 { margin-left: 10%; }
.disabledTable:after {
    content: '';
    display: block;
    position: absolute;
    z-index: 1000;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: #191616;
    opacity: .8;
}
/*---------------------Gallery--------------------*/
.im_stat1, im_stat2 {
    background-color: red;
    width:100%;
    top:0;
    position:absolute;
    right:0;
    left:0;
    height:32px;
    z-index:10000; 
}
.im_stat2 {
  display:none;
  }
.im_stat1:after {
    content: 'Pending';
    position: absolute;
    color: #fff;
    height: 32px;
    line-height: 32px;
    width: 100%;
    text-align: center;
    left: 0;
}
.im_stat2:after {
    content: 'Disapproved';
    position: absolute;
    color: #fff;
    height: 32px;
    line-height: 32px;
    width: 100%;
    text-align: center;
    left: 0;
}
#bannerUpload {
    width: 70%;
    margin-left: 15%;
    margin-top: 35px;
    background: url("../../images/uploadBanner.jpg");
    height: 0;
    padding-bottom: 22%;
    background-size: cover;
    display:block;
background-size: cover!important;
    }
#bannerUploadStatus {
    width: 70%;
    margin-left: 15%;
    height: 30px;
    background-color: #333030;
    margin-top: 20px;
    border-radius: 4px;
    position: relative;
}
#bannerUploadStatus:after {
    position: absolute;
    top: 0;
    left: 0;
    background-color: #149E72;
    content: '';
    display:block;
    border-radius: 4px 0 0 4px;
    height: 30px; 
}
._l1:after { right: 99%; }._l2:after { right: 98%; }._l3:after { right: 97%; }._l4:after { right: 96%; }._l5:after { right: 95%; }._l6:after { right: 94%; }._l7:after { right: 93%; }._l8:after { right: 92%; }._l9:after { right: 91%; }._l10:after { right: 90%; }._l11:after { right: 89%; }._l12:after { right: 88%; }._l13:after { right: 87%; }._l14:after { right: 86%; }._l15:after { right: 85%; }._l16:after { right: 84%; }._l17:after { right: 83%; }._l18:after { right: 82%; }._l19:after { right: 81%; }._l20:after { right: 80%; }._l21:after { right: 79%; }._l22:after { right: 78%; }._l23:after { right: 77%; }._l24:after { right: 76%; }._l25:after { right: 75%; }._l26:after { right: 74%; }._l27:after { right: 73%; }._l28:after { right: 72%; }._l29:after { right: 71%; }._l30:after { right: 70%; }._l31:after { right: 69%; }._l32:after { right: 68%; }._l33:after { right: 67%; }._l34:after { right: 66%; }._l35:after { right: 65%; }._l36:after { right: 64%; }._l37:after { right: 63%; }._l38:after { right: 62%; }._l39:after { right: 61%; }._l40:after { right: 60%; }._l41:after { right: 59%; }._l42:after { right: 58%; }._l43:after { right: 57%; }._l44:after { right: 56%; }._l45:after { right: 55%; }._l46:after { right: 54%; }._l47:after { right: 53%; }._l48:after { right: 52%; }._l49:after { right: 51%; }._l50:after { right: 50%; }._l51:after { right: 49%; }._l52:after { right: 48%; }._l53:after { right: 47%; }._l54:after { right: 46%; }._l55:after { right: 45%; }._l56:after { right: 44%; }._l57:after { right: 43%; }._l58:after { right: 42%; }._l59:after { right: 41%; }._l60:after { right: 40%; }._l61:after { right: 39%; }._l62:after { right: 38%; }._l63:after { right: 37%; }._l64:after { right: 36%; }._l65:after { right: 35%; }._l66:after { right: 34%; }._l67:after { right: 33%; }._l68:after { right: 32%; }._l69:after { right: 31%; }._l70:after { right: 30%; }._l71:after { right: 29%; }._l72:after { right: 28%; }._l73:after { right: 27%; }._l74:after { right: 26%; }._l75:after { right: 25%; }._l76:after { right: 24%; }._l77:after { right: 23%; }._l78:after { right: 22%; }._l79:after { right: 21%; }._l80:after { right: 20%; }._l81:after { right: 19%; }._l82:after { right: 18%; }._l83:after { right: 17%; }._l84:after { right: 16%; }._l85:after { right: 15%; }._l86:after { right: 14%; }._l87:after { right: 13%; }._l88:after { right: 12%; }._l89:after { right: 11%; }._l90:after { right: 10%; }._l91:after { right: 9%; }._l92:after { right: 8%; }._l93:after { right: 7%; }._l94:after { right: 6%; }._l95:after { right: 5%; }._l96:after { right: 4%; }._l97:after { right: 3%; }._l98:after { right: 2%; }._l99:after { right: 1%; }._l100:after { right: 0%; border-radius: 4px; }

.gallery {
    positon: relative;
    position: relative;
    display: block;
    overflow: hidden;
    padding: 15px;
    background-color: $grey;
    padding-bottom: 35px;
  img { 
    max-width: 100%;
    max-height: 100%;
    float: none;
    cursor: move;
    vertical-align: middle;
    horizontal-align: middle;
    padding-bottom: 15px;
  }
  .col-md-2 { 
    height: 200px;
    background-color: #fff;
    padding: 6px;
    margin: 15px;
    border: 1px dotted #696060;
    line-height: 200px;
    text-align: center;
   }
   #addImage {
    background: #fff url("../../images/addImage.png") no-repeat center 34px;
    padding-top: 119px;
    text-align: center;
    color: #761313; 
    font: 22px Raleway, sans-serif;
    cursor:pointer;
   }
.main_image {
     color: #fff;
     text-align:center;
     font: 18px $raleway;
     position: relative;

}
.main_image:after {
     content: 'Main Image';
     display:block;
     left: 0;
     right: 0;
     bottom: 0;
     background-color: $darkGrey;
     position:absolute;
     padding: 6px 0;

}
.delete_image {
    width: 36px;
    height: 36px;
    background: transparent url( ../../images/delete.png) no-repeat 0 0;
    position: absolute;
    top: 16px;
    right: 16px;
    display:none;
    cursor:pointer;
}
.make_main {
    position: absolute; 
    bottom: 0;
    left: 0;
    right: 0;
    background-color: #761313;
    color: #fff;
    display: none;
    width: 100%;
    height: 33px;
    padding: 6px;
    line-height: 26px;
    font: 18px $raleway;
    cursor:pointer;
    @include mobile {
    display:block;
    z-index:1000000;
    }
}
.col-md-2:hover .delete_image, .col-md-2:hover .make_main {
     display:block;
}

}
#addImage { 
    width: 316px;
    background-color: #fff;
    float: left;
    text-align: center;
    font-size: 26px;
    color: darkRed;
    margin-bottom: 30px;
    position: relative;
    img {
        width: 100%;
    }
}
#addImage.noImage {
    height: 200px;
    padding: 30px;
}
   #galleryLoading {
    width: 100%;
    height: 8px;
   // background-color: $mediumGrey;
    margin-top: 20px;
    border-radius:2px;
    position:relative;
   }
    #galleryLoading:after {
    position: absolute;
    top: 0;
    left: 0;
    background-color: #149E72;
    content: '';
    display:block;
    border-radius: 4px 0 0 4px;
    height: 8px; 
}
/*---------------------Escorts--------------------*/
#_mpEscortMenu {
    width: 100%;
    background-color: $grey;
    font:22px $roboto;
    overflow:hidden;
    ul {
        float: right;
        padding: 0;
         margin-right: 35px;
    }
    ul li { 
        display:inline-block;
        cursor:pointer;
        padding: 6px 22px;
        border-radius: 3px;
        width: 159px;
        text-align: center;
       }
    span    {
        margin-top: 20px;
        display: block;
        float: left;
        margin-left: 35px;
      //  font-size: 30px;
    }
    ul li:hover { 
        color: #fff;
        background-color: $darkGrey;
    }
    .active, .active:hover {    
      color: #fff;
      background-color: $darkRed;
    } 

} 
iframe#viewEscort {
    width: 95%;
    margin-left: 2.5%;
    margin-top: 20px;
    height: 1000px;
    border: 1px solid $grey;
    }
.advancedSettings { display:none; }
.showAdvanced{
    cursor: pointer;
    color: #299691;
    margin-bottom: 10px;
    display: block;
    margin-top: 35px;
}
/*---------------Image uploader-----------*/
.picture-element-principal {
    background-size: cover!important;
}
#Principal {
    width:100%;
}
#button_crop_original, #SelectOrientacao, #SelectProporcao  { display:none!important;}
.ui-widget { z-index: 3!important;}
.picture-element-image { width: 100%!important; height:auto!important;}
#button_crop_recortar {
    background-color: $darkRed;
    border: none;
    color: #fff;
    padding: 6px 26px;
    border-radius: 3px;
    font: 18px $raleway;
    margin: 0 auto;
    display: block;
    font: 18px $raleway;
}
#Painel .col-md-8 { width: 100%!important;}
#Principal img { min-width:100%; height: auto!important;    max-width: 100%;} 
#Principal { max-width:100%!important; }
.ui-dialog {
    height: auto!important;
    width: 1478px!important;
    top: 50px!important;
    left: 213.5px!important;
    display: block!important;
    max-height: 90%!important;
    overflow: auto!important;
    z-index:10000!important;
}
#_cropSquare {
    position: fixed;
    display: none;
    width: 800px;
    height: auto;
    top: 25px;
    left: 50%;
    margin-left: -400px;
    z-index: 100000;
    padding: 100px 25px 100px 25px;
    background-color: #fff;
    padding: 25px;
    overflow: auto;
    padding-bottom: 244px;
}
#overlayBackGround {
     content: '';
     display:none;
     background-color: #000;
     opacity: .7;
     position:fixed;
     top:0;
     left:0;
     right: 0;
     bottom: 0;
     z-index:100;
}
#cropperInstructions { 
    font-size: 22px;
    text-align: center;
    position: absolute;
    bottom: 0;
    padding: 0 25px;
    input {     margin-bottom: 30px; }
}
.cropArea {
    background: #E4E4E4;
    overflow: hidden;
    width: 100%;
    height:350px;
}
form .progress {
    line-height: 15px;
}
.progress {
    display: inline-block;
    width: 100px;
    border: 3px groove #CCC;
}
.progress div {
    font-size: smaller;
    background: orange;
    width: 0;
}
#_cropSquare img { width: 100%; }
/*---------------Auto address field-------*/

#address_line_2 { width: 68%!important;}
 #map {
    width: 100%;
    height: 300px;
      }
.bottom_inputs {
    #street_number { 
        width:10%;
        float:left;
    } 
    #route {
    width: 68%;
    float: left;
    margin: 0 1%;
    }
    #locality {
    width:20%;
    float:left;
    }
    #administrative_area_level_1 {
    width:20%;
    float:left;
    }
    #postal_code {
    width:10%;
    float:left;
    margin: 0 1%;
    }
    #country {
    width:40%;
    }

}
.bottom_inputs span {
    display: block;
    float: none;
    clear: both;
    font-size: 18px;
    margin-bottom: 10px;
}
/*----------------------Profile tabs------------------------------
----------------------------------------------------------------------*/
.mPtab { display:none}
.activeTab { display:block;}

/*---------------------Review tab---------------------------------
-----------------------------------------------------------------------*/
h3.reviews {
     margin-top:50px;
}
.review_outer {
 margin-top: 35px;
    width: 93%;
    position: relative;
    background-color: $lightGrey;
    min-height: 240px;
    }
.review_left {
    background-color: $mediumGrey;
    width: 260px;
    text-align: center;
    color: #fff;
    position:absolute;
    height:100%;
    left:0;
    top:0;
    bottom:0;
    font-size: 22px;
    font-family: $roboto;
        padding-top: 10px;

}
.review_left span {
    font: $raleway;
    font-size:16px;
    text-align:center;
}
.review_right {
    padding: 23px 0 0 296px;
    font-size: 16px;
}
.button_Publish {
    background-color: #30A569;
    border: none;
    padding: 6px 20px;
    color: #fff;
    font-size: 18px;
    position: absolute;
    right: 20px;
    top: 20px;
    border-radius: 3px;
    
}
.button_Unpublish {
     background-color: $darkRed;
    border: none;
    padding: 6px 20px;
    color: #fff;
    font-size: 18px;
    position: absolute;
    right: 20px;
    top: 20px;
    border-radius: 3px;
}
.review_left ._mpStatus {
     margin: 18px auto;
}  
.ratingStar {
    width: 30px;
    height: 30px;
    background: transparent url( '../../images/star.png') no-repeat 0 0;
    display:block;
    float:left;
}
#stars {
  position:relative;
  display:block;
  clear:both;
  float:none;
}
.review_right p {
    display: block;
    clear: both;
    padding-top: 13px;
}
.accountPanelHeader {
    margin-top: 100px;
    font-size: 32px!important;
    text-align: center;
    padding-right: 16px;
}
.profileForm h5 {
    font: 24px $raleway;
}
/*------------------------------------Payments-------------------
------------------------------------------------------------------*/
#paymentIframe {
    width: 80%;
    margin-left: 10%;
    height: 800px;  
}
/*------------------------------------Parsley--------------------
------------------------------------------------------------------*/
.parsley-errors-list {
    background-color: $mediumGrey;
    list-style-type: none;
    padding: 10px 30px 25px;
    border: 1px solid #ccc;
    border-radius: 3px;
    color: #fff;
    border-bottom: darkRed;
    border-bottom: 1px solid $darkRed;
    margin: -10px 0 10px 88px;
    display: inline-block;
    }
.parsley-errors-list:after {
    content: '';
    display: block;
    width: 0;
    height: 0;
    border-left: 7px solid transparent;
    border-right: 7px solid transparent;
    border-bottom: 7px solid $mediumGrey;
    margin-top: -37px;
    margin-left: 60%;
}

/*----------------------------------User Overview--------------------
-----------------------------------------------------------------------*/
._mpEscortContainer.unavailable {
     position: relative;
}
._mpEscortContainer.unavailable::after {
     content: '';
     display:block;
     position:absolute;
     background-color: #000;
     opacity: .4;
     left:0;
     right: 0;
     bottom: 0;
     top: 0;
}
._mpViewEscort {
    float: right;
    margin-top: -50px;
    margin-right: 5px;
    background-color: #930505;
    border: none;
    border-radius: 3px;
    padding: 4px 20px;
    color: #fff; 
}
._mpViewEscort a { color: #fff; }
#contactEscortForm {
    position: fixed;
    top: 200px;
    left: 50%;
    background-color: #fff;
    padding: 50px;
    width: 800px;
    margin-left: -400px;
    border: 1px solid #ccc;
    border-radius: 6px;   
    z-index:11;
    font-size: 16px;
    display:none;
    height: 627px;
}
#mPOverlay {
    position:fixed;
    z-index:10;
    top:0;
    left:0;
    right:0;
    bottom:0;
    background: #000;
    opacity:.2;
    display:none;
}
#contactEscortForm label {
    width: 81px;
    display: block;
    float: left;
    }
#contactEscortForm input {
    width: 76%;
    margin-left: 10px;
    border-radius: 3px;
    border: 1px solid #8A7A7A;
    padding: 4px;
    margin-bottom: 20px;
}
#pl_EscName {
    color: $darkRed;
    margin-bottom: 35px;
}
#playMessageLabel {    margin: 10px 0 -20px;}
.getPhoneNumber, .sendPlaymail { cursor:pointer; }
#playMessage {
    position: fixed;
    z-index: 13;
    top: 411px;
    text-align: center;
    font-size: 26px;
    display: inline-block;
    border: 1px solid #16B19B;
    padding: 6px 20px;
    border-radius: 3px;
    left: 50%;
    margin-left: -200px;
    width: 400px;
    display:none;
    }
/*-----------------------New Profile------------------
---------------------------------------------------------*/
p.welcome {
     font: 18px $raleway;
}
h3#welcome {
    margin: 60px 0 5px;
}
#adultPressLogo {
    margin: 80px auto 0;
    display: block;
}
h4#proud {
    font: 20px $roboto;
    text-align:center;
    width:60%;
    margin-left:20%;
    padding-bottom: 227px;
}
.welcomeHeader { padding-left: 0!important;}

/*--------------------Admin dash----------------------
---------------------------------------------------------*/
.adminEscorts {
    padding-left: 144px;
    color: #fff;
    font: 18px $raleway;
}
#adminEscorts_length, .dataTables_info, .dataTables_paginate {
  display:none;
}
#adminEscorts {
    color: #fff;
    font-size: 16px;
    width: 275px!important;
    td { 
       min-width: 66px;
       border-top: 1px solid #988E8E;
       border-bottom: 1px solid #988E8E;
       padding: 8px;
       cursor:pointer; }
    tr:hover {
    background-color: #0B9C88;
    }
    thead tr:hover, thead tr {background-color: #222; }
}
    #adminEscorts_filter {
       margin-left: 138px;
       color: #fff;
       margin-bottom: 35px;
       color: #fff;
       margin: 35px 0;
       input {
          color: #222;
          margin-left:15px;
          border-radius:3px;
       }
    }
.task a {    
    display: block;
    color: #222;
    text-decoration: none; 
    font-size: 20px;
    text-align: left;
    padding-left: 100px;
    }
/*-------------Plan Popup-------------------------
----------------------------------------------------------*/
#planPopup {
    width:80%;
    margin-left: 10%;
    position: fixed;
    top: 75px;
    background: #fff;
    min-height: 500px;
    z-index: 1000000;
    padding: 50px;
    border-radius: 4px;
    display:none;
    border: 1px solid #ccc;
      h2 {
      text-align: center;
      font-size: 30px;
      margin-top: 116px;
      color: #065967;
      }
} 
#planHolder {
    position: relative;
    width: 90%;
    margin-left: 5%;
}
.planOuter {
    position:relative;
    background-color: #2a2828;
    color: #F7E8E8;
    text-align: center;
    font-family: Raleway;
    font-size: 16px;
    line-height: 1.5em;
    border-top: 5px solid #111;
    padding: 20px 0 0 0;
    margin: 28px;
    cursor:pointer;
    margin-bottom: 66px;
    min-height: 439px;
}
.planPrice {
    background-color: #00cfaa;
    width: 100%;
    padding: 22px;
    font-size: 28px;
    margin-top: 30px;
    text-shadow: 1px 1px 1px #040B1B;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
}
.planInclusions{
    margin-top: 32px;
    border-top: 1px solid #756D6D;
    padding-top: 24px;
}
.planHeader {
    font: 24px $roboto;
    margin: 5px 0 20px;
}
.planUpgrade {
    font-size: 36px;
    text-align: center; 
}
.currentPlan {
    border-left:9px solid #FF300F;
    border-right:9px solid #FF300F;
    border-bottom:9px solid #FF300F;
}
#changePlanContact {
    display: block;
    margin: 14px auto;
    clear: both;
    float: none;
    background-color: #0C4C9C;
    border: none;
    font-size: 28px;
    color: #fff;
    border-radius: 3px;
    padding: 3px 63px;
    margin-top: 50px;
    clear: both;
    float: none;
    margin-bottom: 50px; 
}
#overlay {
    bottom: 0;
    right: 0;
    top: 0;
    left: 0;
    z-index: 10039;
    background: rgba(0, 0, 0, 0.5);
    position: fixed;
    display:none;
}
@import "mobile-styles";
