@media screen and (min-color-index:0) and(-webkit-min-device-pixel-ratio:0) 
{
.three-dots-row-spinner{
    display:none;
}
}

.mobile-only{
    display:none;
}

#adultPressad{
    max-width:100%;
}

.ui-datepicker-next::before {
    content: '\003e';
    font-size: 18px;
}

.ui-datepicker-prev::before {
    content: '\003c';
    font-size: 18px;
}
._mpEscortContainer{
    cursor:pointer;
}
#businessInfo #addImage {
    overflow: hidden;
    padding: 0%;
    height:100%;
}
#addImage #galleryLoading{
    height:0;
    margin:0;
}
.mobile-height-container{
    display:none;
}
.profileTable .am_select {
    width: 34% !important;
    padding: 8px 0!important;
    text-align: center !important;
}
.mobile-height-wrapper {
    overflow: hidden;
}
.mobile-menu-container{
    display:none;
    position: fixed;
    width: 100%;
    height: 90px;
    z-index: 10000;
    border-bottom: 1px solid #3A3535;
    background: #191818;
}
.ratesTable input {
    height: auto;
}
._MpoffWhite {
    overflow: hidden;
}
.mobile-nav li {
    border-bottom: 1px solid #5D5353;
    text-transform: uppercase;
    color: #DAD8D8;
    font-size: 16px;
    font-family: 'Josefin Sans',sans-serif;
    font-weight: 400;
    background-color: transparent!important;
    border-bottom: 1px solid #5D5353;
    ._mPIcon {
        text-align:left;
    }
    li {
        border-bottom: none;
        position:relative;
    }
}
.mobile-nav{
    display:none;
    div {
        padding: 25px;
    }
}

._mpProfile_holder {
    overflow: hidden;
}
.dropContainer {
    width: 100%;
    height: 50px;
    text-indent: 25px;
    padding: 10px 0;
    display: block;
}
.downCaret {
    width: 100%;
    display: block;
    margin-right: 15px;
    margin-top: -55px;
    transform: rotate(0deg);
    transition: transform 150ms ease;
    padding-top: 47px;
    position: absolute;

}
.downCaret:before {
    background: transparent url("/assets/frontend/img/right.png") no-repeat 95% top;
    content: '';
    display: block;
    width: 26px;
    height: 26px;
    float: right;
    position: absolute;
    top: 0;
    right: 30px;
}
.downCaretOpened:before {
    transform: rotate( 90deg );
    transition: transform 150ms ease;
    -webkit-transform: rotate( 90deg );
    -webkit-transition: transform 150ms ease;
    -ms-transform: rotate( 90deg );
    -ms-transition: transform 150ms ease;
    -moz-transform: rotate( 90deg );
    -moz-transition: transform 150ms ease;
    -o-transform: rotate( 90deg );
    -o-transition: transform 150ms ease;
}
.submenu-item div {
    background-color: #504545;
    text-transform: none;
    font-family: 'Raleway', sans-serif;
    border-bottom: 1px solid #968686;
    font-weight: 400;
    display: none;
}


/* Media Queries */
@media screen and (max-width: 1750px) {
#_mpPlan {
    margin-left: 10px;
}
._mpEscortStats ._mpStatsSpan {
    width: 100% !important;
    margin:0 !important;
    text-align: center !important;
    padding: 10px 5% !important;
}
}
@media screen and (max-width: 1615px) {
.profileTable .am_select {
    padding: 8px 0;
    text-align: center;
}
#new_escort {
    width: 50%;
    margin: 50px 0 50px 120px;
    display: none;
}
}
@media screen and (max-width: 1750px) {
._mpEscortStats h3 {
    width: 100%;
    text-indent: 0;
}
._mpEscortStats ._mpStatsSpan {
    width: 66%;
    margin: 0 0 20px 98px;
    text-align: left;
    text-indent: 0;
    float: left;
    padding: 0 5%;
}
    ._mpStatsSpan {
        margin-left: 0px;
        float: left;
    }

._mpEscortContainer.unavailable span,.sendPlaymail,.getPhoneNumber {
    margin: 0 !important;
    padding: 0 26px !important;
}

}
@media screen and (max-width: 1487px) {
#businessInfo .right_float {
    width: 97%;
    float: none;
    padding: 0;
}
#businessInfo #addImage {
    float: none;
    display: block;
    margin: 0 auto 30px;
}
}
@media screen and (max-width: 1471px) {
    #_mpBusinessPlan h5 {
        padding-top: 0px;
    }
    #_mpBusinessPlan h3 {
        margin-left: 147px;
    }
    .businessProfileScreen h2 {
        width: 100%;
        margin-bottom: 10px;
    }
    .mPProfileTopMenu {
        margin: 10px 0;
    }
    .mPProfileTopMenu > div:first-child {
        margin: 0;
        padding: 0;        
        margin-bottom:10px;
    }
    .col-lg-9.col-lg-offset-3.no_padding._MpScreenArea {
        width: 75%;
        margin-left: 25%;
    }
}

@media screen and (max-width: 1373px) {
    .gallery .col-md-2 {
        margin: 1%;
        width: 23%;
    }
}

@media screen and (max-width: 1320px) {
.rates-radiogroup {
		width: 100%;
		display: inline-block;
		margin-left: -20px;
	}
	.ratesTable {    
    margin: 5px 0;
	}
    .escortTab div {
        float: none;
        margin: 0 auto;
    }
    .escortTab {
        display: block;
    }
    .escortTab span {
        text-align: center;
        padding-left: 0px !important;
        width: 100%;
        margin: 0 auto;
        display: block;
    }
}

@media screen and (max-width: 1265px) {
._mpViewEscort {
    float: none;
    margin: 10px 25px;
}
}

@media screen and (max-width: 1210px) {

#_mpPlan {
    width: 100%;
}
#_mpBusinessPlan h3 {
    margin-left: 0;
}
}

@media screen and (max-width: 1199px) {
    .pricing-col-container-outer-left, .pricing-col-container-outer-right {
        margin: 30px 15%;
    }
}

@media screen and (max-width: 1165px) {
    .gallery .col-md-2 {
        width: 31%;
        margin: 1%;
    }
}

@media screen and (max-width: 1165px) {
    #_mpEscortMenu span {
        width: 100%;
    }
    #_mpEscortMenu ul {
        width: 91%;
        float: left;
        padding: 0;
        margin: 10px 0 20px 36px;
    }
#_mpEscortMenu ul {
    padding: 20px 0;
}
}

@media screen and (max-width: 1129px) {
    #businessInfo label, .profileForm label {
        margin-right: 0px;
    }
    .profileTable td:first-child,.profileTable td:last-child {
        padding-left: 5%;
    }
    .profileTable {
        width: 100%;
        padding: 0;
        margin: 0;
    }
    .table2 {
        margin-left: 0%;
    }
    #availabilityForm input[type="radio"] {
        margin-bottom: 10px;
    }
    .control-label.headerLabel {
    width: 100% !important;
    margin: 20px 0 !important;
}
    #tab_mpAvailability .col-md-10 {
        margin: 0;
        width: 100%;
        padding: 0;
        margin-top: 20px;
    }
    .col-md-10 .col-md-6 {
        width: 50%;
        overflow: hidden;
    }
    .normalSelects .col-md-6 label {
        margin-bottom: 10px;
    }
    #profileDetails .col-md-6 select {
        width: 100% !important;
    }
    .serviceArray .col-md-3 {
        width: 33.3%;
        height: 85px;
    }
    #profileDetails .col-md-2 {
        width: 100%;
    }
    .serviceArray .col-md-3 {
        width: 33.3%;
        height: 85px;
    }
    .serviceArray {
        width: 100%;
    }
}

@media screen and (max-width: 1110px) {

#popupPlanForm .col-md-4 {
    width: 75%;
    margin: 20px 12.5%;
}
.planOuter {
    margin: 0;
}
#planPopup {
    height: 80%;
    overflow: hidden;
}
#popupPlanForm {
    height: 100%;
}
    .mPProfileTopMenu > div {
        width: 140px;
    }
}

@media screen and (max-width: 1062px) {
    div#_mpBusinessPlan h3 {
        font-size: 30px;
    }
    .accountPanelHeader {
    font-size: 26px !important;
}
._mpEscortStats h4 {
    text-indent: 0;
    margin-left: 124px;
}
}

@media screen and (max-width: 1024px) {

.responsiveAvail {
		width: 100%!important;
	}

  .rates-radiogroup {
	  margin-left: 0;
  }
.mobile-only{
    display:block;
}

#bannerUpload,#bannerDelete,.dashboard-banner-heading,.dashboard-banner-text{
display:none;
}

.pac-container { z-index: 10000 !important; }

#contactEscortForm{
    display: none;
    max-width: 100%;
    margin: 0;
    left: 0;
    top: 0px;
    overflow: hidden;
    height: auto;
    padding:5%;
}
.escStatus {
    position: relative;
}
.mobile-height-wrapper {
    overflow: hidden;
    width: 100%;
    display: block;
    margin: 0 auto;
}
#availabilityForm .radioLabel {
    width: 20% !important;
    margin-left:0% !important;
}
    #profileDetails .col-md-2, #heightLabel {
        width: 100%;
        float: left;
    }
    .serviceArray {
        overflow: hidden;
        float: left;
    }
.mobile-nav-container .mobile-nav #new_escort,.mobile-nav-container .mobile-nav #upgradePlan{
    margin: 0 !important;
padding: 25px !important;
width: 100% !important;
font-size: 18px;
}
.mobile-nav-container .mobile-nav #new_escort:hover, .mobile-nav-container .mobile-nav #upgradePlan:hover,.dash-mobile-menu-signout:hover,.mobile-nav-container .mobile-nav #new_escort:focus, .mobile-nav-container .mobile-nav #upgradePlan:focus,.dash-mobile-menu-signout:focus{
    color: #930505;
    text-decoration: none;
}
.im_stat1, im_stat2 {
    z-index: 1;
}
.modal-body {
    padding: 0;
}
.planHolder {
    padding-bottom: 30px;
}
#tab_mpBasicInfo .clear {
    float: left;
}
#age_id {
    margin-bottom: 0;
}
.alignc {
    position: relative;
    float: left;
    width: 100%;
}
    #sex {
        width: 90%;
        float: left;
        padding: 8px;
        margin-left: 5%;
    }
#contact_methods label {
	width: 80%!important; }
 	 
#contact_methods {
    position: relative;
    overflow: hidden;
    clear: both;
    margin: 10px 0 20px;
    float: left;
    width:90%;
}
form#businessInfo .submit-button, .profileForm .submit-button, form#profileDetails .submit-button, form#payment .submit-button, #cropperInstructions input, .submit-button {
    width: 75%;
    padding: 9px 5%;
    text-align: center;
    margin: 25px 12.5%;
}
#cropperInstructions .submit-button {
    width: 75%;
    margin: 30px 12.5%;
}
#cropperInstructions {
    width: 90%;
    margin: 30px 5% 0px;
    padding: 0;
    position:relative;
}
#_cropSquare {
    height: 90%;
    width: 90%;
    margin: 5%;
    left: 0;
    padding:5%;
}
#planPopup h2 {
    width: 80%;
    margin: 30px 10%;
}
#new_escort {
    margin: 50px 0 50px 12.5% !important;
    width: 75% !important;
    padding: 20px 5%;
}
#_mpEscortMenu h2 {
    text-align: center;
    width: 100%;
    color: #fff;
}
#_mpEscortMenu,#_mpEscortMenu h2 {
    display: block;
}
#planPopup {
    top: 0;
    height: 80%;
    overflow: hidden;
    width: 80%;
    margin: 10%;
    z-index: 100000;
    padding: 5%;
    overflow-y:scroll;
}
#new_escort {
    margin: 50px 0 50px 25%;
}
select#mobile-height-select {
    margin: 0;
}
#businessInfo .noImage {
    border: 1px solid #ccc;
}
form#businessInfo select, .profileForm select {
    width: 100% !important;;
    margin-bottom: 20px;
}
    ._MpoffWhite img {
    max-width: 100%;
}
#popupPlanForm .col-md-4 {
    width: 75%;
    margin: 20px 12.5%;
}
.planOuter {
    margin: 0;
}
#popupPlanForm {
margin-bottom: 20px;
    height: 100%;
        z-index:0;
    padding-bottom: 50px;
     position: relative;
}
.task a {
    padding-left: 0px;
}
    .mobile-nav-container {
            height: 100%;
    padding-bottom: 90px;
        overflow: hidden;
        position: fixed;
        width: 0%;
        z-index: 99;
    top: 90px;
    }
.mobile-nav {
    width: 100%;
    position: relative;
    display: block;
    background-color: #191818;
    padding: 0;
    margin: 0;
    overflow-y: scroll;
    height: 100%;
}
.dash-mobile-menu-signout {
        text-transform: uppercase;
color: #DAD8D8;
font-size: 18px;
font-family: 'Josefin Sans',sans-serif;
font-weight: 400;
    }
    .dash-mobile-menu-signout-container {
        padding: 25px;
    }
._mpProfile_holder {
    padding: 0;
}
.mobile-height-container {
    overflow: hidden;
}
.mobile-height-container{
    display:block;
}
#heightContainer, #heightLabelContainer, .heightInfo{
    display: none;
}
.mPProfileTopMenu > div {
    margin: 10px auto 10px auto !important;
}
#mpTouring.active {
    background-position: 0 -585px;
}
._mpEscortStats h4 {
    margin-left: 0;
}
#tab_mpBasicInfo .clear {
    width: 100%;
    margin: 0;
}
._mpEscortContainer.unavailable span {
    padding: 0 0 20px 75px !important;
    width: 100%;
}
._mpEscortImage {
    position: absolute;
}
._mpEscortStats h4 {
    text-align: center;
    width: 100%;
    padding: 0 5% 20px;
}
._mpEscortStats ._mpStatsSpan {
    width: 100%;
    margin: 0 0 20px 0px;
    text-align: center;
    text-indent: 0;
    float: left;
    padding: 0 5%;
}
.unavailable h4 {
    text-align: center;
    width: 100%;
    padding: 0 5% 20px 75px;
    margin: 0;
}
    #availabilityForm td {
        width: 25%;        
        text-align: center;
    }
    #availabilityForm th {
        width: 25%;
        padding: 27px 0;
    }
    .profileTable .am_select {
        width: 60% !important;
    }
    #touring-form .leftFloat {
        width: 50%;
        margin:0;
    }
    #touring-form {
        width: 100%;
        margin-left: 0%;
    }
    .gallery img {
        max-height: 100% !important;
    }
    .ui-slider-handle::after {
        margin-top: 3px;
    }
    form#businessInfo select, .profileForm select {
        text-align:left;
    }
    .mPProfileTopMenu > div {
        width: 20%;
    }
    .mPProfileTopMenu > div:first-child {
        display: block;
        margin: 0 auto;
    }
    .mPProfileTopMenu {
        width: 100%;
        margin: 0;
    }
    ._MpoffWhite img {
        display: block;
        margin: 0 auto;
        max-height: 660px;
    }
    ._mpStatsSpan.centered {
        width: 33%;
        display: inline-block;
        margin-bottom: 20px;
    }
    ._mpEscortStats {
        margin: 10px 5%;
        width: 90%;
        text-indent: 0;
    }
    .screen > div {
        padding: 35px 30px 660px;
    }
    .normalSelects select {
        margin: 2%;
    }
    .dropContainer::after {
        content: '\002B';
        right: 20%;
        position: absolute;
    }
    .avialibleTableTr {
        width: 80%;
        float: left;
        text-align: left;
        margin: 0 10%;
        padding: 0 !important;
    }
    ._MpoffWhite {
        padding: 5% !important;
    }
    .review_outer {
        width: 100%;
    }
    .review_right p {
        padding-bottom: 75px;
    }
    .review_right {
        width: 40%;
        margin-right: 5%;
        margin-left: 55%;
        padding: 20px 0;
    }
    #address_line_2 {
        width: 100% !important;
    }
    #tab_mpBasicInfo .right_float {
        float: left;
        width: 100%;
        padding: 5%;
    }
    #tab_mpBasicInfo .bottom_inputs {
    padding:5%;
    width:100%;
    }
    ._mpProfile_holder .mp_image_float span {
        font: 18px Raleway, sans-serif;
        margin-top: 10px;
        display: block;
        margin-bottom: 25px;
        width: 100%;
        text-align: center;
    }
    ._mpProfile_holder #container_image {
        width: 50% !important;
        margin: 0 auto;
    }
    .screen > div {
        overflow: hidden;
    }
    #sex label:first-child {
        width: 100%;
        display: block;
        margin-left: 0;
    }
    #sex input {
        width: auto !important;
        margin: 20px;
    }#sex input:first-child {
        margin: 0px;
    }
    .gallery .col-md-2 {
        width: 48% !important;
        float: left;
        margin: 1%;
    }
    #tab_mpAvailability .col-md-6 .control-label {
        margin-left: 3%;
    }
    #tab_mpAvailability .col-md-6 .headerLabel {
        width: 100% !important;
        margin-bottom: 15px;
        margin-left: 0;
    }
#tab_mpAvailability .col-md-6 input {
    margin-left: 0; }
    #profileDetails .col-md-6 select {
        width: 60% !important;
    }
    .centeredLabel {
        padding-top: 50px;
    }
    label#serviceLabel {
        padding: 40px;
    }
    #profileDetails {
        margin-top: 50px;
    }
    #profileDetails .col-md-2,#heightLabel {
        width: 100%;
    }
    .serviceArray {
        width: 100% !important;
    }
    .serviceArray .col-md-3 {
        width: 25%;
        height: 90px;
    }
    #tab_mpProfileDetails h3 {
        padding-bottom: 50px;
        border-bottom: 1px solid grey !important;
        width: 100%;
        margin: 30px 0%;
    }
    #tab_mpProfileDetails,#tab_mpAvailability, #tab_mpGallery,#tab_mpTouring{
        background-color: #fff;
        padding: 5%;
        overflow:hidden;
    }
    .col-md-6 label.control-label {
        margin-bottom: 15px;
        margin-left: 20%;
    }
    .normalSelects select {
        margin-bottom: 10px;
        margin: 0 20%;
    }
    ._MpScreenArea {
        margin-left: 0px;
        width: 100%;
    }
    #tab_mpBasicInfo:before,#tab_mpProfileDetails:before,#tab_mpAvailability:before, #tab_mpGallery:before,#tab_mpTouring:before{
        content: '';
        border-top: 4px solid #D63131;
        display: block;
        z-index: -1;
        margin-top: 50px;
    }
#tab_mpProfileDetails::before {
    width: 100%;
    margin: 51px 0;
}
#tab_mpBasicInfo h3::before, #tab_mpProfileDetails h3::before, #tab_mpAvailability h3::before, #tab_mpGallery h3::before, #tab_mpTouring h3::before {
    width: 67px;
    height: 67px;
    background: #fff url("/assets/dashboard/images/ProfileIconsSprite.png") no-repeat 0px -195px;
    border-radius: 50%;
    margin: 0 auto;
    border: 1px solid #D63131;
    cursor: pointer;
    display: block;
    content: '';
    background-position: 0 -195;
    margin-top: -63px;
    margin-bottom: 25px;
}
#tab_mpTouring h3::before {
    background-position: 0 -585px;
}
#tab_mpTouring form h3::before {
    background: none;
    margin:0;
    border:none;
    height:0;
}

    .col-lg-9.col-lg-offset-3.no_padding._MpScreenArea {
        width: 100%;
        margin-left:0;
    }
    #tab_mpGallery h3:before{
        background-position: 0 -975px;
    }

    #tab_mpAvailability h3:before {
        background-position: 0 -1105px;
    }
    #tab_mpProfileDetails h3:before {
        background-position: 0 -780px;
        margin-top: -115px;
    }
    #galleryForm h3:before {
        content: '';
        background: none;
        border: none;
    }
    ._mpProfile_holder {
        padding-bottom: 20px;
        padding-top: 20px;
    }
.businessProfileScreen > div:first-child {
    width: 100%;
    margin: 0;
    background-color: transparent;
    border-bottom: none;
    background-color: #2F2B2B;
    padding: 20px 0;
    color: #fff;
    width: 112%;
    position: relative;
    left: -6%;
    top: -51px;
    z-index: 2;
}
    #age_id {
        width: auto !important;
    }
    .businessProfileScreen h2, #_mpEscortMenu {
        display: none;
    }
    .businessProfileScreen h3 {
        font: 26px Raleway, sans-serif;
        width: 100%;
        margin: 0 auto;
        padding-bottom: 22px;
    }
    ._mpProfile_holder {
        padding-bottom: 20px;
    }

    ._mPIcon::before {
        margin: 0 15px !important;
    }
    .mobile-submenu {
        list-style: none;
        padding: 0;
    }
    .mobile-submenu li {
    }
    ._MpDetailArea {
        display:none;
    }
    .mobile-menu-container{
        display:block;
    }

    .top_header {
        display:none;
    }
    #logo img {
        height: 80px;
    }
    #logo {
        width: auto !important;
        height: 90px;
        padding: 10px;
        border-right: none !important;
        float: none !important;
        padding-left:90px;
    }
    .mobile-nav ._mPIcon {
        height: auto;
    }
    ._mpicon::after {
        content: '\003E';
        color: #fff !important;
        display: inline-block;
        transform: rotate( 0deg );
        transition: transform 300ms ease;
        padding: 15px;
        margin-right: 0px;
    }
    ._mpiconClicked::after {
        content: '\003E';
        color: #fff !important;
        display: inline-block;
        transform: rotate(90deg);
        transition: transform 300ms ease;
        padding: 15px;
        margin-right: 0px;
    }
    .arrowToggle {
        background: #D00A0A;
        color: #fff;
        border: none;
        height: auto;
        width: 90px;
        position: absolute;
        top: 0;
        left: 0;
        bottom: 0;
        z-index:2;
    }
    .arrowToggle:after {
        display:block;
        content: '';
        background: transparent url('/assets/frontend/img/arrow_transform.png' ) no-repeat left 50%;
        width: 21px;
        height: 18px;
        margin:0 auto;
        position:relative;
        -webkit-transition:background-position 1s ease;
        transform: rotate( 0deg );
        transition: transform 300ms ease;
    }

    .profileForm .mp_image_float #container_image {
        width: 60% !important;
        height: auto !important;
        margin: 0px 20% 41px;
        overflow: hidden;
    }
    #escort_age {
    margin-top: 8px !important;
    padding: 0;
}

    .mp_image_float {
        width: 100% !important;
        padding: 25px;
    }

    .businessProfileScreen h3 {
        border-bottom: none !important;
    }
    .businessProfileScreen p {
        padding-bottom:20px;
        border-bottom: 1px solid grey;
    }

    #sex {
        width: 100%;
        float: left;
        padding: 0;
        margin-top: 20px;
    }

    .right_float {
        width: 100% !important;
    }

    #tab_mpBasicInfo {
        background-color: #fff;
        padding: 5%;
        overflow: hidden;
    }

    form#businessInfo .submit-button, .profileForm .submit-button, form#profileDetails .submit-button, form#payment .submit-button, #cropperInstructions input, .submit-button {
        margin-bottom: 0px !important;
    }
    ._mPIcon::before {
        display: inline-block !important;
    }
    #_mpProfile {
        margin-top: 0px !important;
    }
    ._mPIcon::before {
        display:none !important;
    }
    .arrowToggleClicked:after{
        background: transparent url('/assets/frontend/img/arrow_transform.png' ) no-repeat right 50% !important;
        transform: rotate( -180deg );
        transition: transform 300ms ease;
    }
    .businessProfileScreen h2 {
        width: 100%;
    }

}

@media screen and (max-width: 991px) {
#_mpBusinessPlan h3 {
    text-align: center;
}
.age-container {
	 margin-top: 10px;
 }
#_mpBusinessPlan h5 {
    padding-top: 20px;
    text-align: center;
}
#_mpPlan {
    background: transparent url("/assets/dashboard/images/plan.png") no-repeat center;
}
#outCallTable td:last-child,#inCallTable td:last-child{
    padding-bottom: 30px !important;
}
    #inCallTable span,#outCallTable td span{
        width: 10%;
        margin:0;
    }
    #inCallTable input ,#outCallTable td input{
        width: 65%;
        margin: 0;
    }
    #inCallTable label, #outCallTable td label{
        padding: 5px 0;
        text-align: center;
    }
    #availabilityForm td select{
        width: 90% !important;
        margin: 10px 5%;
        text-align: center;
    }
    #heightContainer, #heightLabelContainer {
        padding: 19px 0;
    }
    .screen > div {
        height: auto;
        overflow: hidden;
        padding: 35px 30px 20px;
    }
    .col-md-6 #inCallTable td,.col-md-6 #outCallTable td {
        padding-top: 20px
    }
    .table2 td {
        padding-left: 25%;
    }

    .col-md-10 .col-md-6 {
        width: 100%;
    }
    #serviceLabel {
        padding: 40px;
        width: 100%;
    }
    .serviceArray .col-md-3 {
        width: 50%;
        height: 60px;
        float: left;
    }
}
@media screen and (max-width: 768px) {

}

@media screen and (max-width: 767px) {
#callrate {
		width: 120px;
		margin-right: 10px!important;
	}
.mobile-height-wrapper {
    width: 100%;
}
    #touringTable th {
        text-align: center !important;
        padding: 20px 0 !important;
    }
    .serviceArray .col-md-3 input {
        width: 30% !important;
        float: none;
    }
    #profileDetails .col-md-6 select {
        width: 100% !important;
        margin: 0;
    }
    .col-md-6 label.control-label {
        margin-left: 0%;
    }
    .button_Publish,.button_Unpublish {
        bottom: 20px;
        top: initial;
    }
    ._mpProfile_holder #container_image {
        width: 75% !important;
    }
    ._mpPlanInfo {
        padding-top: 50px;
    }
    .profileTable th {
        padding: 20px 0;
        font: 16px Raleway, sans-serif;
    }
    .profileTable td {
        width: 25%;
        overflow: hidden;
        padding: 0 !important;
        text-align: center;
    }

    .profileForm .mp_image_float #container_image {
        width: 90% !important;
        margin: 0px 5% 41px;
    }

    @media screen and (max-width: 665px) {
        label#serviceLabel {
            padding: 20px;
        }
        padding-top: 0px;
    }
    .mPProfileTopMenu > div {
        width: 33%;
        display: block;
        margin: 0 auto 10px auto;
    }
    ._mpProfile_holder {
    padding: 0;
}
    #touringTable tr {
        width: 100%;
        padding: 0;
        margin: 0;
    }
    #touringTable {
        width: 100%;
    }
}
@media screen and (max-width: 641px) {
.serviceArray .col-md-3 input {
    float: left;
}
}
@media screen and (max-width: 620px) {
#tab_mpProfileDetails div {
    overflow: hidden;
}
#escort_age {
    padding: 0 10px;
}
#sex label:first-child {
    margin-left: 0px;
}
#tab_mpAvailability .col-md-6 .control-label {
    margin-left: 3%;
    margin-top: 10px;
    text-align: left;
}
    #inCallTable label, #outCallTable td label {
        width: 40% !important;
    }
    #availabilityForm label {
        padding: 0;
        margin: 0;
    }
    .control-label{
        width: 100% !important;
        margin-bottom: 10px;
    }
    #touring-form .leftFloat {
        width: 100%;
        margin: 0;
    }
    .serviceArray .col-md-3 {
        width: 100%;
        margin: 0 auto;
    }
    .control-label.serviceLabel {
        margin: 0;
    }
    .col-md-6 label.control-label {
        margin-left: 0%;
    }
    #profileDetails .col-md-6 select {
        width: 100% !important;
        margin: 0;
    }
    .mPProfileTopMenu > div {
        width: 50%;
    }
    .review_right {
        width: 90%;
        margin-right: 5%;
        margin-left: 5%;
        padding: 20px 0;
        min-height: 270px;
    }
    .review_right {
        width: 90%;
        margin-right: 5%;
        margin-left: 5%;
        min-height: 270px;
    }
    .review_left {
        width: 100%;
        position: relative;
        height: auto;
        padding: 10px 0;
    }
    #sex input {
        width: auto !important;
        margin: 20px 0;
    }
    #bannerUpload {
        width: 100%;
        margin-left: 0%;
    }
    .gallery .col-md-2 {
        width: 99% !important;
        float: left;
        margin: 1%;
    }
    ._mpProfile_holder {
        padding: 0 5% 20px;
    }
    .left_margin_15 {
        margin-left: 0px;
        width: 100% !important;
        margin-bottom: 15px;
    }
    .profileForm label {
        width: 50%; }
    #sex input {
        margin-top: 3px;
    }
}

@media screen and (max-width: 555px) {
.availDaysLabel {
		margin-top: 5px!important;
	}
	.normalSelects .serviceLabel {
		margin-top: 7px!important;
	}
	#availabilityForm input.roundedOne
	{
		margin: 7px auto;
	}
	.availTable .normalSelects .serviceLabel {
		margin-top: 0px!important;
	}
.serviceArray .serviceLabel {
    width: 50% !important;
    margin-top: -3px !important;
}
#planPopup {
top:0;
    height: 90%;
    overflow: hidden;
    width: 90%;
    margin: 5%;
    z-index: 100000;
    overflow-y: scroll;
}
#popupPlanForm .col-md-4 {
    width: 100%;
    margin: 20px 0;
}
#escort_age {
    margin-top: 8px !important;
    padding: 0 8px;
}
#sex label:first-child {
    margin-left: 0px;
}
#outCallTable td span,#inCallTable td span{
    width: 7%;
    margin: 0;
}
#outCallTable td label,#inCallTable td label{
    margin-top: 10px;
}
#availabilityForm .submit-button {
    width: 100% !important;
}
#outCallTable td span {
    width: 7%;
    margin: 0;
}
.availTable .col-md-6 .control-label {
    text-align: left;
	width: 80%!important;
}
    #inCallTable label {
        padding: 0;
    }
    #inCallTable span {
        width: 5%;
        margin: 20px 1%;
    }
    #availabilityForm input {
        margin: 0;
    }

    #availabilityForm th {
        width: 100%;
        display: none;
    }
    #availabilityForm td {
        width: 100%;
        float: left;
    }
    #availabilityForm th:first-child {
        width: 100%;
        display: inline-block;
    }
    #availabilityForm td {
        width: 100%;
        float: left;
    }
}

@media screen and (max-width: 500px) {
#businessInfo #addImage {
    width: 100%;
}
._mpEscortImage {
    position: relative;
}
#inCallTable label, #outCallTable td label {
    width: 40% !important;
}
    .pricing-col-container-outer-left, .pricing-col-container-inner, .pricing-col-container-outer-right {
        width: 100%;
        margin: 30px 0%;
    }
    ._mpProfile_holder #container_image {
        width: 100% !important;
    }
    ._mpEscortImage img {
        width: 100%;
        height: auto;
    }
    ._mpEscortStats, ._mpStatsSpan {
        margin-left: 0px;
        overflow: hidden;
        width: 90%;
        text-align: center;
        text-indent: 0px;
        margin: 0 5%;
    }
    ._mpEscortImage {
        float: none;
        width: 50%;
        height: auto;
        border-radius: 50%;
        overflow: hidden;
        display: block;
        margin: 0 auto;
    }
    .radio.roundedOne {
    margin-left: 3% !important;
}
}

@media screen and (max-width: 489px) {
.businessProfileScreen > div:first-child {
    top: -24px;
}
}
@media screen and (max-width: 410px) {
    ._mpProfile_holder {
        padding: 10px;
    }
    .serviceArray .col-md-3 {
        width: 100%;
        margin: 0;
    }
    #inCallTable span {
        width: 10%;
    }
}

@media screen and (max-width: 374px) {
    #touringTable td, #touringTable th {
        font-size: 12px;
    }
    ._MplightGrey{
        padding: 0;

    }
    #_mpPlan {
        width: 100%;
        margin: 0 auto;
        display: block;
        background: transparent url("/assets/dashboard/images/plan.png") no-repeat center;
    }
    #_mpBusinessPlan h5 {
        margin: 20px auto;
        text-align: center;
    }
    #_mpBusinessPlan h3 {
        margin-left: 0;
        text-align: center;
    }
    ._mpPlanInfo {
        padding-top: 0;
    }
}
@media screen and (max-width: 386px) {
		
		.ratesTable .col-sm-6 label {
			margin-left: 30px!important;
			padding:0;
			text-align: left!important;
		}
	}

@media screen and (max-width: 344px) {
    #logo imagesimagesimagesima {
        height: 65px;
    }
}

@media screen and (max-width: 321px) {
#logo img {
    height: auto;
    max-width: 100%;
    display: block;
    margin: 0 auto;
}
.gallery .make_main {
    display: block;
    z-index: 1;
}
#outCallTable td span,#inCallTable td span{
    width:10%;
}
#outCallTable td input,#inCallTable td input{
    width: 85% !important;
    margin: 0;
}
    #_mpEscortMenu {
        display: none;
    }
    ._mpProfile_holder {
        padding: 0 10px 0;
    }

    label#escort_age {
        margin-right: -4px;
    }
    .profileForm label {
        width: 56%;
    }
    #sex {
        margin-top: 10px;
    }
    .profileForm label {
        width: 50%;
    }
    #age_id {
        width: 37% !important;
    }
    .form_required:after {
        display: inline;
    }
    .profileForm .mp_image_float #container_image {
        width: 100% !important;
        margin: 0px 0% 0px;
    }
    .mp_image_float {
        padding-top: 0px;
    }
    .businessProfileScreen h3 {
        font: 26px Raleway, sans-serif;
        width: 100%;
        margin: 0 auto;
        padding-bottom: 22px;
    }
}
